<div *ngIf="!isActive" class="card">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <mat-icon>info</mat-icon>
    </div>
    <h3 class="card-title">{{'settings.information' | translate}}</h3>
  </div>
  <div class="card-body">
    <span [innerHTML]="'settings.analytics.description' | translate"></span>
    <a href="https://www.sapanalytics.cloud/solutions/" target="new"><u>SAP Analytics Cloud</u></a><br><br>
    {{'settings.activation_contact_msg' | translate}}
  </div>
</div>

<div *ngIf="isActive">
  <form class="form" [formGroup]="formGroup" height="100%">
    <div class="mat-toolbar-row mat-toolbar-settings">
      <button mat-raised-button color="warn" (click)="save(formGroup.value)"
          [disabled]="!formGroup.valid || !formGroup.dirty">
        <mat-icon>save</mat-icon><span>{{'general.save' | translate}}</span>
      </button>
    </div>
    <!-- SAC -->
    <app-settings-sac *ngIf="analyticsSettings?.sac" [analyticsSettings]="analyticsSettings" [formGroup]="formGroup"></app-settings-sac>
  </form>
  <!-- Links -->
  <app-table [dataSource]="analyticsLinksTableDataSource"></app-table>
</div>
