
// Common
div.app-asset-align-center {
  align-items: center;
  padding: 0 0 15px 0;
  overflow: hidden;
  width: 100%;
}

div.app-asset-image-padding {
  padding: 10px;
}

.app-assets-logo {
  max-width:  3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
