@import "../../../assets/scss/core/variables";

@keyframes status-blinking {
  50% {
    opacity: 0;
  }
}

@mixin anim-status-blinking {
  animation: status-blinking 2s ease-in-out infinite;
}

@keyframes status-glowing {
  50% {
    box-shadow: 0 0 30px;
  }
}

@mixin anim-status-glowing {
  animation: status-glowing 4s ease-in-out infinite;
}

::ng-deep .charger-not-assigned {
  color: $state-danger-bg;
}

::ng-deep .charger-heartbeat {
  .charger-heartbeat-date {
    font-size: 0.9rem;
  }

  .charger-heartbeat-icon {
    font-size: 1.1rem;
    margin-right: 3px;
  }

  .charger-heartbeat-changed {
    animation: heartbeat 1s ease-in-out 2;
  }

  @keyframes heartbeat {
    50% {
      transform: scale(1.5);
    }
  }

  .charger-heartbeat-ok {
    color: state-success-bg;
  }
  
  .charger-heartbeat-error {
    color: $state-danger-bg;
    @include anim-status-blinking();
  }
  
  .charger-heartbeat-date-error {
    color: $state-danger-bg;
  }
}

::ng-deep .power-bar-text {
  text-align: center;

  .power-bar-text-error {
    color: $state-danger-bg;
  }

}

::ng-deep .charger-connector {
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  font-weight: bold;

  .charger-connector-background {
    border-radius: 30px;
    border: 2px solid;
  }

  .charger-connector-active-text {
    color: $white;
    vertical-align: middle;
    text-align: center;
  }
  .charger-connector-text {
    vertical-align: middle;
    text-align: center;
  }

  .charger-connector-available {
    color: $state-success-bg;
  }

  .charger-connector-charging {
    color: $light-blue-600;
    background-color: $light-blue-600;    
    @include anim-status-glowing;
  }

  .charger-connector-error {
    color:$state-danger-bg;
    background-color:$state-danger-bg;
    @include anim-status-blinking;
  }

  .charger-connector-warning {
    color:$amber-500;
    background-color:$amber-500;
    @include anim-status-glowing;
  }
  
  .charger-connector-preparing{
    color:$amber-200;
    @include anim-status-glowing;
  }
  
  .charger-connector-suspended-evse {
    color:$amber-500;
    background-color:$amber-500;
    @include anim-status-glowing;
  }
  .charger-connector-suspended-ev {
    color:$amber-500;
    background-color:$amber-500;
    @include anim-status-glowing;
  }

  .charger-connector-finishing {
    color:$amber-500;
    @include anim-status-glowing;
  }

  .charger-connector-reserved {
    color:$light-blue-600;
  }

}

