$danger: #e85656 !default;
$res320: 320px;
$transition_bg_duration: 0.5s;
$transition_bg_delay: 0s;
$transition_bg_fct: linear;
$transition_text_duration: 0.25s;
$transition_text_delay: 0s;
$transition_text_fct: linear;

@keyframes status-blinking {
	50% { opacity: 0; }
}

@keyframes status-glowing {
	50% { box-shadow: 0 0 80px #F00; }
}

@mixin anim-status-blinking {
	animation: status-blinking 2s ease-in-out infinite;
}

@mixin anim-status-glowing($small) {
	@if $small {
		animation: status-small-glowing 4s ease-in-out infinite;
	} @else {
		animation: status-glowing 4s ease-in-out infinite;
	}
}

::ng-deep .charger-heartbeat {
	.charger-heartbeat-date {
		font-size: 0.8rem;
		@media screen and (max-width: $res320) {
			font-size: 0.8rem;
		}
	}

	.charger-heartbeat-icon {
		font-size: 1.1rem;
		margin-right: 3px;
		@media screen and (max-width: $res320) {
			font-size: 1.1rem;
		}
	}

	.charger-heartbeat-changed {
		animation: heartbeat 1s ease-in-out 2;
	}

	@keyframes heartbeat {
		50% { transform: scale(1.5); }
	}
}

::ng-deep .charger-heartbeat-error {
	color: $danger;
	@include anim-status-blinking();
}

::ng-deep .charger-heartbeat-ok {
	color: green;
}

::ng-deep .charger-heartbeatdate-error {
	color: $danger;
}

::ng-deep .charger-connector {
		width: 26px; 
		height: 26px;
		margin-right: 3px;

	.charger-connector-available {
		filter: hue-rotate(180grad);
	}

	.charger-connector-busy {
		filter: hue-rotate(50grad);
		@include anim-status-glowing(false);
	}
}

