<div class="card">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <mat-icon>business</mat-icon>
    </div>
    <h3 class="card-title">{{ 'settings.pricing.settings.title' | translate }}</h3>
  </div>

  <div class="card-body">
    <div class="row mt-1">
      <div class="col-md-3">
        <mat-form-field>
          <mat-label for="inputPriceUnit">{{ 'pricing.price_unit_label' | translate }} *</mat-label>
          <mat-select id="inputPriceUnit" [formControl]="currency">
            <mat-option value="AUD">Australian Dollar</mat-option>
            <mat-option value="BRL">Brazilian Real </mat-option>
            <mat-option value="CAD">Canadian Dollar</mat-option>
            <mat-option value="CZK">Czech Koruna</mat-option>
            <mat-option value="DKK">Danish Krone</mat-option>
            <mat-option value="EUR">Euro</mat-option>
            <mat-option value="HKD">Hong Kong Dollar</mat-option>
            <mat-option value="HUF">Hungarian Forint </mat-option>
            <mat-option value="INR">Indian Rupee</mat-option>
            <mat-option value="ILS">Israeli New Sheqel</mat-option>
            <mat-option value="JPY">Japanese Yen</mat-option>
            <mat-option value="MYR">Malaysian Ringgit</mat-option>
            <mat-option value="MXN">Mexican Peso</mat-option>
            <mat-option value="NOK">Norwegian Krone</mat-option>
            <mat-option value="NZD">New Zealand Dollar</mat-option>
            <mat-option value="PHP">Philippine Peso</mat-option>
            <mat-option value="PLN">Polish Zloty</mat-option>
            <mat-option value="GBP">Pound Sterling</mat-option>
            <mat-option value="SGD">Singapore Dollar</mat-option>
            <mat-option value="SEK">Swedish Krona</mat-option>
            <mat-option value="CHF">Swiss Franc</mat-option>
            <mat-option value="TWD">Taiwan New Dollar</mat-option>
            <mat-option value="THB">Thai Baht</mat-option>
            <mat-option value="TRY">Turkish Lira</mat-option>
            <mat-option value="USD">U.S. Dollar</mat-option>
          </mat-select>
          <mat-error *ngIf="currency.errors?.required">{{
            'general.mandatory_field' | translate
          }}</mat-error>
          <mat-error *ngIf="currency.errors?.maxlength">
            <div [translate]="'general.error_max_length'" [translateParams]="{ length: 3 }"></div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
