<div class="form-group">
    <div class="card">
        <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
                <i class="material-icons">schedule</i>
            </div>
            <h3 class="card-title text-left">
                    {{'chargers.smart_charging.planning_energy_limit' | translate: {chargeBoxID: charger.id} }}
            </h3>
        </div>
        <div class="card-body">
            <div class="row col-md-12 text-left">
                <button class="btn btn-info mat-raised-button"
                    (click)="addSlot()">
                <span class="mat-button-wrapper">
                <i class="material-icons mr-2">add</i>
                <span class="btn-label">{{'general.add' | translate}}</span>
                </span>
                </button>
                <button class="btn btn-info mat-raised-button"
                    (click)="resetSlots()">
                <span class="mat-button-wrapper">
                <i class="material-icons mr-2">clear</i>
                <span class="btn-label">{{'chargers.smart_charging.reset_button' | translate}}</span>
                </span>
                </button>
                <button class="btn btn-info mat-raised-button"
                    (click)="applyPowerLimit()">
                <span class="mat-button-wrapper">
                <i class="material-icons mr-2">save</i>
                <span class="btn-label">{{'general.apply' | translate}}</span>
                </span>
                </button>
            </div>
            <div class="row col-md-12 text-left">
                <mat-select class="col-md-4"placeholder="{{'chargers.smart_charging.profile_type' | translate}}"
                                                [(value)]="profileTypeSelected" required>
                    <mat-option *ngFor="let type of profileTypeMap" [value]="type.key">
                                            {{type.description | translate}}
                    </mat-option>
                </mat-select>
                <input matInput [(ngModel)]="stackLevel" class="col-md-2" type="number" min=0 max=10 placeholder="{{'chargers.smart_charging.stack_level' | translate}}"
                                    required/>
                <input matInput [(ngModel)]="profileId" class="col-md-2" type="number" min=0 max=10 placeholder="{{'chargers.smart_charging.profile_id' | translate}}"
                                    required/>
                <input matInput [(ngModel)]="duration" class="col-md-4" type="number" min=0 placeholder="{{'chargers.smart_charging.duration' | translate}}"/>
            </div>
            <div class="row col-md-12">
            <div class="col-md-12">
                <app-limit-planner-chart #limitChart [scheduleSlots]="slotsSchedule" ratio="4"></app-limit-planner-chart>
            </div>
            <ng-container *ngFor="let slot of slotsSchedule">
                <div class="row col-md-12 text-left">
                    <div class="col-md-6">
                        <!-- Date selector -->
                        <mat-form-field>
                        <input matInput type="datetime-local" (input)="changeStartSlotDate($event, slot)" [placeholder]="'chargers.smart_charging.start_date' | translate" [value]="slot.displayedStartValue">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        {{slot.duration}}
                    </div>
                    <div class="col-md-4">
                        <app-smart-charging-power-slider #powerSliders class="col-md-12" 
                                                    [maximumPower]="charger.maximumPower" 
                                                    [powerUnit]="powerUnit"
                                                    [numberOfConnectedPhase]="charger.numberOfConnectedPhase" 
                                                    (onSliderChange)="sliderChanged(slot, $event)"
                                                    textPosition="right"
                                                    [startValue]="{value: charger.maximumPower, unit: 'W'}"></app-smart-charging-power-slider>
                    </div>
                </div>
                <div *ngIf="false && slot.id === slotsSchedule.length-1" class="row col-md-12 text-left">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput type="datetime-local" (input)="changeEndSlotDate($event, slot)" [placeholder]="'chargers.smart_charging.end_date' | translate" [value]="slot.displayedEndValue">
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
            
            </div>
        </div>
    </div>
</div>
