<div class="main-content vw-90 vh-90 ocpi-endpoint-settings-dialog-size">
  <div class="card card-profile card-testimonial">
    <mat-tab-group
      animationDuration="0ms"
      disableRipple="true"
      class="mat-tab-info"
      [class]="dialogRef ? 'mat-tabs-with-actions' : 'mat-tabs-with-close-action'"
    >
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>call_split</mat-icon>
          <span>{{ name.value }}</span>
        </ng-template>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <div class="row">
                <!-- OCPI Endpoint - Name -->
                <div class="col-md-6">
                  <div class="form-group">
                    <mat-form-field>
                      <input
                        matInput
                        appAutofocus
                        placeholder="{{ 'ocpiendpoints.name' | translate }}"
                        type="text"
                        [formControl]="name"
                        required
                      />
                      <mat-error *ngIf="name.errors?.required">{{
                        'general.mandatory_field' | translate
                      }}</mat-error>
                      <mat-error *ngIf="name.errors?.maxlength">
                        <div
                          [translate]="'general.error_max_length'"
                          [translateParams]="{ length: name.errors?.maxlength.requiredLength }"
                        ></div>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <mat-form-field>
                      <mat-select
                        [formControl]="role"
                        placeholder="{{ 'ocpiendpoints.role' | translate }}"
                        required
                      >
                        <mat-option value="CPO">CPO</mat-option>
                        <mat-option value="EMSP">eMSP</mat-option>
                      </mat-select>
                      <mat-error *ngIf="role.errors?.required">{{
                        'general.mandatory_field' | translate
                      }}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- OCPI Endpoint - URL -->
                <div class="col-md-12">
                  <div class="form-group">
                    <mat-form-field>
                      <input
                        matInput
                        placeholder="{{ 'ocpiendpoints.base_url' | translate }}"
                        type="text"
                        [formControl]="baseUrl"
                        required
                      />
                      <mat-error *ngIf="baseUrl.errors?.required">{{
                        'general.mandatory_field' | translate
                      }}</mat-error>
                      <mat-error *ngIf="baseUrl.errors?.pattern">
                        <div [translate]="'general.error_url_pattern'"></div>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- OCPI Endpoint - Country Code / Party id-->
                <div class="col-md-6">
                  <div class="form-group" *ngIf="!currentEndpoint?.id">
                    <mat-form-field>
                      <input
                        matInput
                        placeholder="{{ 'ocpiendpoints.country_code' | translate }}"
                        type="text"
                        [formControl]="countryCode"
                      />
                      <mat-error *ngIf="countryCode.errors?.required"
                        >{{ 'general.mandatory_field' | translate }}
                      </mat-error>
                      <mat-error *ngIf="countryCode.errors?.maxlength">
                        <div
                          [translate]="'general.error_max_length'"
                          [translateParams]="{
                            length: countryCode.errors?.maxlength.requiredLength
                          }"
                        ></div>
                      </mat-error>
                      <mat-error *ngIf="countryCode.errors?.minlength">
                        <div
                          [translate]="'general.error_min_length'"
                          [translateParams]="{
                            length: countryCode.errors?.minlength.requiredLength
                          }"
                        ></div>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" *ngIf="!currentEndpoint?.id">
                    <mat-form-field>
                      <input
                        matInput
                        placeholder="{{ 'ocpiendpoints.party_id' | translate }}"
                        type="text"
                        [formControl]="partyId"
                      />
                      <mat-error *ngIf="partyId.errors?.required">{{
                        'general.mandatory_field' | translate
                      }}</mat-error>
                      <mat-error *ngIf="partyId.errors?.maxlength">
                        <div
                          [translate]="'general.error_max_length'"
                          [translateParams]="{ length: partyId.errors?.maxlength.requiredLength }"
                        ></div>
                      </mat-error>
                      <mat-error *ngIf="partyId.errors?.minlength">
                        <div
                          [translate]="'general.error_min_length'"
                          [translateParams]="{ length: partyId.errors?.minlength.requiredLength }"
                        ></div>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- OCPI Endpoint - Token -->
                <div class="col">
                  <div class="form-group">
                    <mat-form-field>
                      <input
                        matInput
                        placeholder="{{ 'ocpiendpoints.local_token' | translate }}"
                        type="text"
                        [formControl]="localToken"
                      />
                      <mat-error *ngIf="localToken.errors?.maxlength">
                        <div
                          [translate]="'general.error_max_length'"
                          [translateParams]="{
                            length: localToken.errors?.maxlength.requiredLength
                          }"
                        ></div>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 text-end">
                  <button
                    mat-raised-button
                    color="primary"
                    *ngIf="canGenerateLocalToken"
                    (click)="generateLocalToken(formGroup.value)"
                  >
                    <mat-icon>vpn_key</mat-icon>
                    <span>{{ 'ocpiendpoints.generate_new_token' | translate }}</span>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <mat-form-field>
                      <input
                        matInput
                        placeholder="{{ 'ocpiendpoints.token' | translate }}"
                        type="text"
                        [formControl]="token"
                      />
                      <mat-error *ngIf="token.errors?.maxlength">
                        <div
                          [translate]="'general.error_max_length'"
                          [translateParams]="{ length: token.errors?.maxlength.requiredLength }"
                        ></div>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 text-end">
                  <button
                    mat-raised-button
                    color="primary"
                    *ngIf="canPing"
                    (click)="testConnection(formGroup.value)"
                    [disabled]="!token.value || baseUrl.errors?.required || baseUrl.errors?.pattern"
                  >
                    <mat-icon>touch_app</mat-icon>
                    <span>{{ 'ocpiendpoints.test_connection' | translate }}</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div [class]="dialogRef ? 'tabs-actions' : 'tabs-actions-embedded'">
      <button
        mat-icon-button
        (click)="save(formGroup.value)"
        title="{{ 'general.save' | translate }}"
        [disabled]="!formGroup.valid || !formGroup.dirty"
      >
        <mat-icon>save</mat-icon>
      </button>
      <button mat-icon-button (click)="close()" title="{{ 'general.close' | translate }}">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
