.card-profile{
  @extend %common-card-testimonial;
}

.card-profile{
  .card-header:not([class*="card-header-"]){
    background: transparent;
    box-shadow: none;
  }
  .card-avatar {
    max-width: 100px;
    max-height: 100px;
   
    .card-avatar-change {
      cursor: pointer;
    }
  }
  .card-image-remove {
    position: absolute;
    padding: 4px 8px;
    margin-left: 25px;
    margin-top: -40px;
  }
}
