.chart-container {
  position: relative;
  width: 100%;
  margin: 0 0 20px 0;
}

.chart {
  position: relative;
  width: 100%;
}

.icon-left {
  position: absolute;
  bottom: 0px;
  margin-bottom: -5px;
}