<div class="main-content">
  <div class="card card-profile card-testimonial">
    <form [formGroup]="formGroup" class="form" autocomplete="off">
      <mat-tab-group animationDuration="0ms" disableRipple="true" class="mat-tab-info mat-tabs-with-actions">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>money</mat-icon>
            <span>{{name.value}} - {{context}}</span>
          </ng-template>
          <div class="card-body tab-dialog-min-content">
            <!-- General form -->
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <mat-form-field>
                        <input matInput type="text" placeholder="{{'settings.pricing.pricing_definition_name' | translate}}"
                        [formControl]="name" required/>
                        <mat-error *ngIf="name?.errors?.required">{{'general.mandatory_field' | translate}}</mat-error>
                        <mat-error *ngIf="name?.errors?.maxlength">
                          <div [translate]="'general.error_max_length'" [translateParams]="{length: 100}"></div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                      <mat-form-field>
                        <input matInput type="text" placeholder="{{'settings.pricing.pricing_definition_description' | translate}}"
                        [formControl]="description" required/>
                        <mat-error *ngIf="description?.errors?.required">{{'general.mandatory_field' | translate}}</mat-error>
                        <mat-error *ngIf="description?.errors?.maxlength">
                          <div [translate]="'general.error_max_length'" [translateParams]="{length: 100}"></div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- from -->
                  <div class="col-md-3">
                    <div class="form-group">
                      <mat-form-field>
                        <mat-datetimepicker #pickerDateStart type="datetime" openOnFocus="false" mode="portrait" timeInterval="1">
                        </mat-datetimepicker>
                        <mat-datetimepicker-toggle [for]="pickerDateStart" matSuffix></mat-datetimepicker-toggle>
                        <input matInput [formControl]="validFrom" placeholder="{{'settings.pricing.valid_from' | translate}}"
                        [matDatetimepicker]="pickerDateStart" (dateChange)="setMinDate($event)">
                        <mat-error *ngIf="validFrom?.errors?.required">{{'general.mandatory_field' | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- to -->
                  <div class="col-md-3">
                    <div class="form-group">
                      <mat-form-field>
                        <mat-datetimepicker #pickerDateEnd type="datetime" openOnFocus="false" mode="portrait" timeInterval="1">
                        </mat-datetimepicker>
                        <mat-datetimepicker-toggle [for]="pickerDateEnd" matSuffix></mat-datetimepicker-toggle>
                        <input matInput [formControl]="validTo" [min]="minDate" placeholder="{{'settings.pricing.valid_to' | translate}}"
                        [matDatetimepicker]="pickerDateEnd">
                        <mat-error *ngIf="validTo?.errors?.matDatepickerMin">{{'settings.pricing.end_date_error' | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- connector drop down -->
                  <div class="col-md-5 offset-1">
                    <div class="form-group">
                      <mat-form-field class="connector-type-select">
                        <mat-select placeholder="{{'settings.pricing.connector_type' | translate}}" [formControl]="connectorType" required>
                          <mat-select-trigger>
                            <div class="d-flex align-items-center">
                              <mat-icon class="d-flex mr-2 mat-select-icon" [svgIcon]="connectorType?.value">
                              </mat-icon>
                              <div class="d-flex">
                                {{connectorType?.value | appConnectorType:'text' | translate}}
                              </div>
                            </div>
                          </mat-select-trigger>
                          <mat-option *ngFor="let connectorType of connectorTypeMap" [value]="connectorType.key" class="connector-type-select-option">
                            <mat-icon [svgIcon]="connectorType.key" class="mat-select-icon"></mat-icon>
                            <span>{{connectorType.description | translate}}</span>
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="connectorType?.errors?.required">{{'general.mandatory_field' | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- connector title -->
                  <div class="col-md-3 offset-7 pricing-dimension">
                    <mat-slide-toggle (change)="toggle($event)" id="connectorPower" [checked]="connectorPowerEnabled.value">
                      {{'settings.pricing.connector_power' | translate}}
                    </mat-slide-toggle>
                  </div>
                  <!-- connector value -->
                  <div class="col-md-2">
                    <mat-form-field *ngIf="connectorPowerEnabled.value">
                      <mat-label>{{'settings.pricing.connector_power_unit' | translate}}</mat-label>
                      <input matInput type="text" placeholder="{{'settings.pricing.value' | translate}}"
                      [formControl]="connectorPowerValue" required/>
                      <mat-error *ngIf="connectorPowerValue?.errors?.required">{{'general.mandatory_field' | translate}}</mat-error>
                      <mat-error *ngIf="connectorPowerValue?.errors?.pattern">{{'general.only_number_field' | translate}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <!-- Dimensions title -->
            <div class="row">
              <div class="col-md-5 text-left">
                <span class="pricing-header">
                  {{'settings.pricing.pricing_dimensions_title' | translate}}
                </span>
              </div>
            </div>
            <!-- form Dimensions -->
            <div class="card">
              <div class="card-body">
                <!-- flatFee dimension -->
                <div class="row">
                  <!-- toggle -->
                  <div class="col-md-2 pricing-dimension">
                    <mat-slide-toggle (change)="toggle($event)" id="flatFee" [checked]="flatFeeEnabled.value">
                      {{'settings.pricing.flat_fee' | translate}}
                    </mat-slide-toggle>
                  </div>
                  <!-- value -->
                  <div class="col-md-2">
                    <mat-form-field *ngIf="flatFeeEnabled.value">
                      <mat-label>{{'flat_fee_unit' | appPricingDimensionsUnit}}</mat-label>
                      <input matInput type="text" placeholder="{{'settings.pricing.value' | translate}}"
                      [formControl]="flatFeeValue" required/>
                      <mat-error *ngIf="flatFeeValue?.errors?.required">{{'general.mandatory_field' | translate}}</mat-error>
                      <mat-error *ngIf="flatFeeValue?.errors?.pattern">{{'general.only_number_field' | translate}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <!-- Energy -->
                <div class="row">
                  <!-- toggle -->
                  <div class="col-md-2 pricing-dimension">
                    <mat-slide-toggle (change)="toggle($event)" id="energy" [checked]="energyEnabled.value">
                      {{'settings.pricing.energy' | translate}}
                    </mat-slide-toggle>
                  </div>
                  <!-- value -->
                  <div class="col-md-2">
                    <mat-form-field *ngIf="energyEnabled.value">
                      <mat-label>{{'energy_unit' | appPricingDimensionsUnit}}</mat-label>
                      <input matInput type="text" placeholder="{{'settings.pricing.value' | translate}}"
                      [formControl]="energyValue" required/>
                      <mat-error *ngIf="energyValue?.errors?.required">{{'general.mandatory_field' | translate}}</mat-error>
                      <mat-error *ngIf="energyValue?.errors?.pattern">{{'general.only_number_field' | translate}}</mat-error>
                    </mat-form-field>
                  </div>
                  <!-- energy stepsizes -->
                  <span class="stepSize" *ngIf="energyEnabled.value">
                    <!-- checkbox -->
                    <div class="col-md-2 offset-1 pricing-dimension">
                      <mat-checkbox (change)="toggle($event)" id="energyStep" [formControl]="energyStepEnabled" [checked]="energyStepEnabled.value">
                        {{'settings.pricing.step_size' | translate}}
                      </mat-checkbox>
                    </div>
                    <!-- value -->
                    <div class="col-md-2">
                      <mat-form-field *ngIf="energyStepEnabled.value">
                        <mat-label>{{'energy_step_unit' | appPricingDimensionsUnit }}</mat-label>
                        <input matInput type="text" placeholder="{{'settings.pricing.value' | translate}}"
                        [formControl]="energyStepValue" required/>
                        <mat-error *ngIf="energyStepValue?.errors?.required">{{'general.mandatory_field' | translate}}</mat-error>
                        <mat-error *ngIf="energyStepValue?.errors?.pattern">{{'general.only_number_field' | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                  </span>
                </div>
                <!-- chargingTime dimension -->
                <div class="row">
                  <!-- toggle -->
                  <div class="col-md-2 pricing-dimension">
                    <mat-slide-toggle (change)="toggle($event)" id="chargingTime" [checked]="chargingTimeEnabled.value">
                      {{'settings.pricing.charging_time' | translate}}
                    </mat-slide-toggle>
                  </div>
                  <!-- value -->
                  <div class="col-md-2">
                    <mat-form-field *ngIf="chargingTimeEnabled.value">
                      <mat-label>{{'charging_time_unit' | appPricingDimensionsUnit }}</mat-label>
                      <input matInput type="text" placeholder="{{'settings.pricing.value' | translate}}" id="chargingTime"
                      [formControl]="chargingTimeValue" (change)=handleInputChange($event) required/>
                      <mat-error *ngIf="chargingTimeValue?.errors?.required">{{'general.mandatory_field' | translate}}</mat-error>
                      <mat-error *ngIf="chargingTimeValue?.errors?.pattern">{{'general.only_number_field' | translate}}</mat-error>
                    </mat-form-field>
                  </div>
                  <!-- chargingTime stepsizes -->
                  <span class="stepSize" *ngIf="chargingTimeEnabled.value">
                    <!-- checkbox -->
                    <div class="col-md-2 offset-1 pricing-dimension">
                      <mat-checkbox (change)="toggle($event)" id="chargingTimeStep" [formControl]="chargingTimeStepEnabled" [checked]="chargingTimeStepEnabled.value">
                        {{'settings.pricing.step_size' | translate}}
                      </mat-checkbox>
                    </div>
                    <!-- value -->
                    <div class="col-md-2">
                      <mat-form-field *ngIf="chargingTimeStepEnabled.value">
                        <mat-label>{{'charging_time_step_unit' | appPricingDimensionsUnit }}</mat-label>
                        <input matInput type="text" placeholder="{{'settings.pricing.value' | translate}}"
                        [formControl]="chargingTimeStepValue" required/>
                        <mat-error *ngIf="chargingTimeStepValue?.errors?.required">{{'general.mandatory_field' | translate}}</mat-error>
                        <mat-error *ngIf="chargingTimeStepValue?.errors?.pattern">{{'general.only_number_field' | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                  </span>
                </div>
                <!-- parkingTime dimension -->
                <div class="row">
                  <!-- toggle -->
                  <div class="col-md-2 pricing-dimension">
                    <mat-slide-toggle (change)="toggle($event)" id="parkingTime" [checked]="parkingTimeEnabled.value">
                      {{'settings.pricing.parking_time' | translate}}
                    </mat-slide-toggle>
                  </div>
                  <!-- value -->
                  <div class="col-md-2">
                    <mat-form-field *ngIf="parkingTimeEnabled.value">
                      <mat-label>{{'parking_time_unit' | appPricingDimensionsUnit }}</mat-label>
                      <input matInput type="text" placeholder="{{'settings.pricing.value' | translate}}" id="parkingTime"
                      [formControl]="parkingTimeValue" (change)=handleInputChange($event) required/>
                      <mat-error *ngIf="parkingTimeValue?.errors?.required">{{'general.mandatory_field' | translate}}</mat-error>
                      <mat-error *ngIf="parkingTimeValue?.errors?.pattern">{{'general.only_number_field' | translate}}</mat-error>
                    </mat-form-field>
                  </div>
                  <!-- parkingTime stepsizes -->
                  <span class="stepSize" *ngIf="parkingTimeEnabled.value">
                    <!-- checkbox -->
                    <div class="col-md-2 offset-1 pricing-dimension">
                      <mat-checkbox (change)="toggle($event)" id="parkingTimeStep" [formControl]="parkingTimeStepEnabled" [checked]="parkingTimeStepEnabled.value">
                        {{'settings.pricing.step_size' | translate}}
                      </mat-checkbox>
                    </div>
                    <!-- value -->
                    <div class="col-md-2">
                      <mat-form-field *ngIf="parkingTimeStepEnabled.value">
                        <mat-label>{{'parking_time_step_unit' | appPricingDimensionsUnit }}</mat-label>
                        <input matInput type="text" placeholder="{{'settings.pricing.value' | translate}}"
                        [formControl]="parkingTimeStepValue" required/>
                        <mat-error *ngIf="parkingTimeStepValue?.errors?.required">{{'general.mandatory_field' | translate}}</mat-error>
                        <mat-error *ngIf="parkingTimeStepValue?.errors?.pattern">{{'general.only_number_field' | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="tabs-actions">
        <button mat-button (click)="save(formGroup.getRawValue())" [disabled]="!formGroup.valid || !formGroup.dirty">
          <mat-icon>save</mat-icon>
          <span>{{'general.save' | translate}}</span>
        </button>
        <button mat-icon-button *ngIf="inDialog" (click)="close()" [disabled]="isSaveClicked">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
