<div class="row">
  <div class="col-12 col-md-3 text-center p-3">
    <img [src]="loggedUserImage" class="rounded-circle m-0 icon avatar session-image" />
    <div class="text-nowrap text-truncate">{{transaction.user | appUserName}}</div>
    <div *ngIf="transaction.tag?.visualID" class="text-nowrap sub-title">({{transaction.tag.visualID}})</div>
    <div *ngIf="isStoppedByAnotherUser" class="text-nowrap third-text">{{"transactions.stopped_by" | translate}} {{transaction.stop.user | appUserName}}</div>
  </div>
  <div class="col-12 col-md-2 p-3 justify-content-center row">
    <div *ngIf="transaction.stop" class="col-6 col-md-12 text-center mb-3" appTooltip
        title="{{'transactions.dialog.session.tooltips.amount' | translate}}">
      <mat-icon>money</mat-icon>
      <div>{{transaction.stop.priceUnit ? (transaction.stop.roundedPrice | appCurrency:transaction.stop.priceUnit) : '-'}}</div>
    </div>
    <div *ngIf="!transaction.stop" class="col-6 col-md-12 text-center mb-3" appTooltip
        title="{{'transactions.dialog.session.tooltips.current_consumption' | translate}}">
      <mat-icon>flash_on</mat-icon>
      <div>{{transaction.currentInstantWatts | appUnit:'W':'kW'}}</div>
    </div>
    <div class="col-6 col-md-12 text-center" appTooltip
        title="{{'transactions.dialog.session.tooltips.start_date' | translate}}">
      <mat-icon>timelapse</mat-icon>
      <div>{{transaction.timestamp | appDate}}</div>
      <div *ngIf="transaction.stop"><small>({{transaction.stop.timestamp | appDate}})</small></div>
    </div>
  </div>
  <div class="col-12 col-md-2 p-3 justify-content-center row">
    <div class="col-6 col-md-12 text-center mb-3" appTooltip
        title="{{'transactions.dialog.session.tooltips.total_consumption' | translate}}">
      <mat-icon>ev_station</mat-icon>
      <div>{{totalConsumptionWh | appUnit:'Wh':'kWh'}}</div>
    </div>
    <div class="col-6 col-md-12 text-center" appTooltip
        title="{{'transactions.dialog.session.tooltips.total_duration' | translate}}">
      <mat-icon>timer</mat-icon>
      <div>{{totalDurationSecs | appDuration}}</div>
    </div>
  </div>
  <div class="col-12 col-md-2 p-3 justify-content-center row">
    <div *ngIf="stateOfChargeIcon" class="col-6 col-md-12 text-center mb-3" appTooltip
      title="{{'transactions.dialog.session.tooltips.state_of_charge' | translate}}">
      <mat-icon>battery_charging_full</mat-icon>
      <div>{{stateOfCharge | appBatteryPercentage: endStateOfCharge }}</div>
    </div>
    <div appTooltip
        [ngClass]="transaction && (transaction.stop ? transaction.stop.inactivityStatus : transaction.currentInactivityStatus) | appColorByStatus"
        class="col-6 col-md-12 text-center"
        title="{{'transactions.dialog.session.tooltips.inactivity' | translate}}">
      <mat-icon >timer_off</mat-icon>
      <div>{{transaction | appInactivity}}</div>
    </div>
  </div>
  <div *ngIf="isCarComponentActive && canDisplayCar"
      class="col-12 col-md-3 p-3">
    <div class="col-12 col-md-auto text-center">
      <img [src]="carImage" class="icon avatar m-0 session-image-car"/>
      <div class="text-nowrap text-truncate">{{transaction?.carCatalog | appCarCatalogName}}</div>
      <div *ngIf="transaction?.car?.licensePlate && canUpdateCar" class="text-nowrap sub-title">({{transaction?.car?.licensePlate}})</div>
    </div>
  </div>
</div>
