<div class="card card-big" *ngIf="!inDialog">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <mat-icon>money</mat-icon>
    </div>
    <h3 class="card-title">{{'settings.pricing.title' | translate}}</h3>
  </div>
  <div class="card-body">
    <app-table [dataSource]="pricingsTableDataSource"></app-table>
  </div>
</div>
<div class="card" *ngIf="inDialog">
  <mat-tab-group animationDuration="0ms" disableRipple="true" class="mat-tab-info charger-dialog-container mat-tabs-with-actions">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>money</mat-icon><span>{{'settings.pricing.title' | translate}}</span>
      </ng-template>
      <div class="card-body">
        <app-table [dataSource]="pricingsTableDataSource"></app-table>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class='tabs-actions'>
  <button mat-icon-button *ngIf="inDialog" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  </div>
</div>
