@import "../../../../../assets/scss/core/variables";


::ng-deep .endpoint-details {
    .mat-chip-list-wrapper { 
      justify-content: center 
    }
  }

::ng-deep .endpoints-table {
    .mat-chip-list-wrapper { 
      justify-content: center 
    }
  }

::ng-deep .chip-width-8em {
  width: 8em!important
}

::ng-deep .chip-width-10em {
  width: 10em!important
}
