
@keyframes status-blinking {
  50% {
    opacity: 0;
  }
}

@mixin anim-status-blinking {
  animation: status-blinking 2s ease-in-out infinite;
}

.charger-not-assigned {
  color: $state-danger-bg;
}

.charger-heartbeat {

  .charger-heartbeat-icon {
    font-size: 1.1rem;
    margin-right: 3px;
  }

  .charger-heartbeat-changed {
    animation: heartbeat 1s ease-in-out 2;
  }

  @keyframes heartbeat {
    50% {
      transform: scale(1.5);
    }
  }

  .charger-heartbeat-ok {
    color: $state-success-bg;
  }

  .charger-heartbeat-error {
    color: $state-danger-bg;
  }

  .charger-heartbeat-not-applicable {
    color: $state-info-bg;
  }

  .charger-heartbeat-date-error {
    color: $state-danger-bg;
    font-weight: 500;
  }
}

.power-bar-text {
  text-align: center;
  font-size: 0.9rem;

  .power-bar-text-error {
    color: $state-danger-bg;
  }

}

.charger-connector-type {
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 3px;
  justify-content: center;
  padding-top: .13rem;

  .charger-connector-type-active-text {
    color: $brand-text;
  }
}

.charger-dialog-connector {
  display: inline-block;
  max-width: 50%;
}

.charger-dialog-connector-type-icon {
  width: 25px;
  height: 25px;
}

.fulldetails {
  width: 100%;
}

.power-progress-bar {
  min-width: 140px;
}

.firmware-version {
  padding: 5px !important;
}

.connectors-details {
    .mat-chip-list-wrapper {
      justify-content: center;
    }
  }
