<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
          <mat-tab-group animationDuration="0ms" disableRipple="true" class="mat-tab-info">
            <mat-tab>
              <ng-template mat-tab-label>
                <a>
                  <i class="material-icons">people</i>{{'users.tabs.list' | translate}}
                </a>
              </ng-template>
              <ng-template matTabContent>
                <app-table [dataSource]="usersDataSource"></app-table>
              </ng-template>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <a>
                  <i class="material-icons">warning</i>{{'users.tabs.in_error' | translate}}
                </a>
              </ng-template>
              <ng-template matTabContent>
                <app-table [dataSource]="usersInErrorDataSource"></app-table>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
