<div class="main-content flex-grow-1">
  <mat-tab-group (selectedIndexChange)="updateRoute($event)" [selectedIndex]="activeTabIndex"
                 animationDuration="0ms" disableRipple="true" class="h-100 mat-tab-info">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-2">people</mat-icon>
        {{'users.tabs.list' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <app-table [dataSource]="usersDataSource"></app-table>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-2">warning</mat-icon>
        {{'users.tabs.in_error' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <app-table [dataSource]="usersInErrorDataSource"></app-table>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
