<div *ngIf="!isActive" class="card">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <mat-icon>info</mat-icon>
    </div>
    <h3 class="card-title">{{'settings.information' | translate}}</h3>
  </div>
  <div class="card-body">
    <div [innerHTML]="'settings.billing.description' | translate"></div><br>
    {{'settings.activation_contact_msg' | translate}}
  </div>
</div>
<form *ngIf="isActive" class="form" [formGroup]="formGroup">
  <div class="mat-toolbar-row left-actions">
    <button mat-raised-button color="warn" (click)="save(formGroup.value)"
      [disabled]="!formGroup.valid || !formGroup.dirty">
      <mat-icon>save</mat-icon><span>{{'general.save' | translate}}</span>
    </button>
    <button mat-raised-button color="primary" (click)="checkConnection()"
      [disabled]="!formGroup.valid || formGroup.dirty">
      <mat-icon>insert_link</mat-icon><span>{{'settings.billing.check_connection' | translate}}</span>
    </button>
    <button mat-raised-button color="primary" (click)="synchronizeUsers()"
      [disabled]="!formGroup.valid || formGroup.dirty">
      <mat-icon>sync</mat-icon><span>{{'settings.billing.user.synchronize_users' | translate}}</span>
    </button>
    <button mat-raised-button color="primary" (click)="synchronizeInvoices()"
            [disabled]="!formGroup.valid || formGroup.dirty">
      <mat-icon>sync</mat-icon><span>{{'settings.billing.invoice.synchronize_invoices' | translate}}</span>
    </button>
  </div>
  <!-- Stripe -->
  <app-settings-stripe-billing *ngIf="isActive && billingSettings?.type === 'stripe'" [billingSettings]="billingSettings" [formGroup]="formGroup"></app-settings-stripe-billing>
</form>
