<div class="transactions main-content">
  <mat-tab-group (selectedIndexChange)="updateRoute($event)" [selectedIndex]="activeTabIndex"
                 animationDuration="0ms" class="h-100 mat-tab-info"
                 disableRipple="true">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-2">history</mat-icon>
        {{'transactions.tabs.history' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <app-transactions-history></app-transactions-history>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-2">flash_on</mat-icon>
        {{'transactions.tabs.in_progress' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <app-transactions-in-progress></app-transactions-in-progress>
      </ng-template>
    </mat-tab>
    <ng-container *ngIf="canAccessInErrorTab()">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mr-2">warning</mat-icon>
          {{'transactions.tabs.in_error' | translate}}
        </ng-template>
        <ng-template matTabContent>
          <app-transactions-in-error></app-transactions-in-error>
        </ng-template>
      </mat-tab>
    </ng-container>
    <ng-container *ngIf="canAccessRefund()">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mr-2">money</mat-icon>
          {{'transactions.tabs.refund' | translate}}
        </ng-template>
        <ng-template matTabContent>
          <app-transactions-refund></app-transactions-refund>
        </ng-template>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</div>
