
// Import Core Vars/Mixins
@import "core/variables";
@import "core/mixins";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "core/reboot";
@import "core/recaptcha";
// Core Components
@import "core/layout";
@import "core/buttons";
@import "core/checkboxes";
@import "dashboard/cards";
@import "core/custom-forms";
@import "core/switches";
@import "core/example-pages";
@import "core/radios";
@import "core/carousel";
@import "dashboard/forms";
@import "core/input-group";
@import "core/list-group";
@import "core/nav";
@import "core/images";
@import "dashboard/navbar";
@import "core/badges";
@import "dashboard/alerts";
@import "core/pagination";
@import "core/info-areas";
@import "core/type";
@import "core/tabs";
@import "core/footers";
@import "core/tooltip";
@import "core/popover";
@import "core/modal";
@import "core/dropdown";
@import "core/headers";
@import "core/drawer";
@import "core/progress";
@import "core/togglebutton";
@import "core/ripples";
@import "dashboard/rtl";
@import "dashboard/sidebar-and-main-panel";
@import "dashboard/timeline";
@import "dashboard/fixed-plugin";
@import "dashboard/tables";
@import "dashboard/misc";
@import "dashboard/pages";
// Components for PRO
@import "dashboard/fileupload";
@import "dashboard/responsive";
// custom
@import "dashboard/custom";
// card rotating
@import "core/cards/card-rotate";


// Views
@import "views/templates/templates";

@import "views/dashboard/card-chart";
@import "views/dashboard/card-keyfigure";
@import "views/dashboard/dashboard";

@import "views/chargers/charging-station";
@import "views/chargers/charging-stations-data-source-table";
@import "views/chargers/smart-charging-limit-chart";
@import "views/chargers/smart-charging-limit-planner-chart";
@import "views/chargers/smart-charging-power-slider";

@import "views/organization/organization";

@import "views/shared/chip";
@import "views/shared/connector-cell";
@import "views/shared/consumption-chart";
@import "views/shared/dialogs";
@import "views/shared/geomap.dialog";
@import "views/shared/session.dialog";
@import "views/shared/table";

@import "views/settings/endpoint.dialog";
@import "views/settings/settings-ocpi-endpoints-source-table";
@import "views/settings/settings-sac-links-source-table";

@import "views/release-notes/release-notes";
