<div class="row">
  <div class="form-group col-md-6">
    <mat-form-field>
      <input [formControl]="supportPhone" matInput placeholder="{{'technical_settings.support.phone' | translate}}" type="text">
      <mat-error *ngIf="supportPhone.errors?.invalidPhone"> {{"users.invalid_phone_number" | translate}} </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group col-md-6">
    <mat-form-field>
      <input matInput placeholder="{{'technical_settings.support.email' | translate}}" type="text" [formControl]="supportEmail">
      <mat-error *ngIf="supportEmail.errors?.email || supportEmail.errors?.pattern">{{"authentication.invalid_email" | translate}}</mat-error>
    </mat-form-field>
  </div>
</div>
