<h2 class="dialog-title" mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
  <div class="row">
    <div class="col-md-12">
      {{message}}
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" 
  (keyup.enter)="onEnter()" 
  (keyup.esc)="onEscape()">
    <button *ngIf="buttonValidateID" class="mat-raised-button" [class.mat-primary]="buttonValidateID" (click)="validate()">{{buttonValidateName}}</button>
    <button *ngIf="buttonNoID" class="mat-raised-button" [class.mat-primary]="!buttonValidateID" (click)="no()">{{buttonNoName}}</button>
    <button *ngIf="buttonCancelID" class="mat-raised-button" (click)="cancel()">{{buttonCancelName}}</button>
</mat-dialog-actions>