<h2 class="dialog-title" mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
  <div class="row">
    <div class="col-md-12">
      {{message}}
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" 
  (document:keyup.enter)="onEnter()" 
  (document:keyup.esc)="onEscape()">
    <button mat-raised-button *ngIf="buttonValidateID" class="btn btn-info" [class.btn-info]="buttonValidateID" (click)="validate()">{{buttonValidateName}}</button>
    <button mat-raised-button *ngIf="buttonNoID" class="btn " [class.btn-inverse]="buttonValidateID" [class.btn-info]="!buttonValidateID" (click)="no()">{{buttonNoName}}</button>
    <button mat-raised-button *ngIf="buttonCancelID" class="btn btn-inverse" (click)="cancel()">{{buttonCancelName}}</button>
</mat-dialog-actions>
