# See http://help.github.com/ignore-files/ for more about ignoring files.

# config
config
src/assets/config*.json
!src/assets/config-template.json
manifest.yml
test/results
test/results-eslint

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings-template.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.history/*

# Vim
# Persistent undo
[._]*.un~
# Temporary
.netrwhist
*~

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/output
*.orig

# System Files
.DS_Store
Thumbs.db

# MTA
*.mta
mta_archives/
