# config
config
src/assets/config.json
manifest.yml

# compiled output
/dist
/tmp
/out-tsc
/docs/build

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Vim
# Persistent undo
[._]*.un~
# Temporary
.netrwhist
*~

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
npm-debug.log*
testem.log
/typings
/output

# System Files
.DS_Store
Thumbs.db
