<div class="card">
  <div class="card-header card-header-tabs card-header-primary">
    <div class="nav-tabs-navigation">
      <h4 class="nav-tabs-title">{{dialogTitle}}</h4>
      <ul class="nav nav-tabs" data-tabs="tabs">
        <span class="toolbar-spacer"></span>
        <button mat-icon-button mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </ul>
    </div>
  </div>
  <div class="card-body">
    <app-table [dataSource]="userSitesTableDataSource"></app-table>
  </div>
</div>
