<div class="main-content">
  <div class="card card-testimonial">
    <mat-tab-group animationDuration="0ms" disableRipple="true" class="mat-tab-info mat-tabs-with-close-action">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>directions_car</mat-icon>
          <span style="display: inline-block;">{{carCatalog?.vehicleMake}} {{carCatalog?.vehicleModel}} {{carCatalog?.vehicleModelVersion}}
          </span>
        </ng-template>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <div class="row app-car align-items-start">
                <div class="col-md-5" style="display: block; margin-top: auto">
                  <div class="rotating-card-container app-car-image-border" [ngStyle]="{ 'pointer-events': 'none'}">
                    <div class="card card-rotate card-background" style="margin-top: 0px;">
                      <div class="front front-background"
                        [ngStyle]="{'background-image': (carCatalog ? 'url(' + carCatalog.image + ')' : ''), 'background-size' : 'contain', 'background-repeat': 'no-repeat'}">
                        <div class="card-body">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="table-responsive-md d-flex justify-content-left">
                    <table class="mat-table">
                      <tbody role="rowgroup">
                        <ng-container>
                          <tr class="mat-row app-car-important-props" role="row">
                            <th class="props-header px-2 py-2 text-left">{{"cars.vehicle_make" | translate}}</th>
                            <td class="px-2 py-2 text-left">{{carCatalog?.vehicleMake}}</td>
                          </tr>
                          <tr class="mat-row app-car-important-props" role="row">
                            <th class="props-header px-2 py-2 text-left">{{"cars.vehicle_model" | translate}}</th>
                            <td class="px-2 py-2 text-left">{{carCatalog?.vehicleModel}}</td>
                          </tr>
                          <tr class="mat-row app-car-important-props" role="row">
                            <th class="props-header px-2 py-2 text-left">{{"cars.vehicle_model_version" | translate}}</th>
                            <td class="px-2 py-2 text-left">{{carCatalog?.vehicleModelVersion ? carCatalog.vehicleModelVersion : '-'}}</td>
                          </tr>
                          <tr class="mat-row" role="row">
                            <th class="props-header px-2 py-2 text-left">{{"cars.performance_acceleration" | translate}}</th>
                            <td class="px-2 py-2 text-left">
                              {{carCatalog?.performanceAcceleration ? carCatalog.performanceAcceleration : '-'}} {{"cars.unit.seconde" | translate}}
                            </td>
                          </tr>
                          <tr class="mat-row" role="row">
                            <th class="props-header px-2 py-2 text-left">{{"cars.drivetrain_torque" | translate}}</th>
                            <td class="px-2 py-2 text-left">
                              {{carCatalog?.drivetrainTorque ? carCatalog.drivetrainTorque : '-'}} {{"cars.unit.newton_metre" | translate}}
                            </td>
                          </tr>
                          <tr class="mat-row" role="row">
                            <th class="props-header px-2 py-2 text-left">{{"cars.performance_top_speed" | translate}}</th>
                            <td class="px-2 py-2 text-left">{{carCatalog?.performanceTopspeed ? carCatalog.performanceTopspeed : '-'}} km/h</td>
                          </tr>
                          <tr class="mat-row" role="row">
                            <th class="props-header px-2 py-2 text-left">{{"cars.drivetrain_propulsion" | translate}}</th>
                            <td class="px-2 py-2 text-left">{{carCatalog?.drivetrainPropulsion ? carCatalog.drivetrainPropulsion : '-'}}</td>
                          </tr>
                          <tr class="mat-row" role="row">
                            <th class="props-header px-2 py-2 text-left">{{"cars.misc_turning_circle" | translate}}</th>
                            <td class="px-2 py-2 text-left">
                              {{carCatalog?.miscTurningCircle ? carCatalog.miscTurningCircle : '-'}} {{"cars.unit.meters" | translate}}
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>battery_charging_full</mat-icon><span>{{"cars.battery" | translate}}</span>
        </ng-template>
        <div class="col-md-12 text-left p-4">
          <div class="table-responsive-md d-flex justify-content-left">
            <table class="mat-table">
              <tbody role="rowgroup">
                <ng-container>
                  <tr class="mat-row app-car-important-props" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.battery_capacity_full" | translate}}</th>
                    <td class="px-2 py-2 text-left">
                      {{carCatalog?.batteryCapacityFull ? (carCatalog.batteryCapacityFull | appDecimal:'1.0-1') : '-'}} {{"cars.unit.kilowatt_heure" | translate}}
                    </td>
                  </tr>
                  <tr class="mat-row app-car-important-props" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.battery_capacity_useable" | translate}}</th>
                    <td class="px-2 py-2 text-left">
                      {{carCatalog?.batteryCapacityUseable ? (carCatalog.batteryCapacityUseable | appDecimal:'1.0-1') : '-'}} {{"cars.unit.kilowatt_heure" | translate}}
                    </td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.charge_plug" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{carCatalog?.chargePlug ? carCatalog.chargePlug : '-'}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.charge_standard_power" | translate}}</th>
                    <td class="px-2 py-2 text-left">
                      {{carCatalog?.chargeStandardPower ? (carCatalog.chargeStandardPower | appDecimal:'1.0-1') : '-'}} {{"cars.unit.kilowatt" | translate}}
                    </td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.evse_phase_ac" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{carCatalog?.chargeStandardPhase ? carCatalog.chargeStandardPhase : '-'}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.fast_charge_plug" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{carCatalog?.fastChargePlug ? carCatalog.fastChargePlug : '-'}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.fast_charge_power_max" | translate}}</th>
                    <td class="px-2 py-2 text-left">
                      {{carCatalog?.fastChargePowerMax ? (carCatalog.fastChargePowerMax | appDecimal:'1.0-1') : '-'}} {{"cars.unit.kilowatt" | translate}}
                    </td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.charge_plug_location" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{carCatalog?.chargePlugLocation ? carCatalog.chargePlugLocation : '-'}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>battery_charging_full</mat-icon><span>{{"cars.charge_standard_tables" | translate}}</span>
        </ng-template>
        <div class="col-md-12 text-left p-4">
          <app-table [dataSource]="carCatalogConverterTableDataSource"></app-table>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>photo_camera</mat-icon><span>Photos</span>
        </ng-template>
        <ng-template matTabContent>
          <div class="card-body">
            <app-carousel [carCatalogID]="carCatalog?.id"></app-carousel>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>more_horiz</mat-icon><span>{{"cars.miscellaneous" | translate}}</span>
        </ng-template>
        <div class="card-body" class="text-left m-4">
          <div class="table-responsive-md d-flex justify-content-left">
            <table class="mat-table">
              <tbody role="rowgroup">
                <ng-container>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.misc_seats" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{carCatalog?.miscSeats ? carCatalog.miscSeats : '-'}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.misc_body" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{carCatalog?.miscBody ? carCatalog.miscBody : '-'}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.misc_isofix" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{carCatalog?.miscIsofix ? carCatalog.miscIsofix : '-'}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.misc_isofix_seats" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{carCatalog?.miscIsofixSeats ? carCatalog.miscIsofixSeats : '-'}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.misc_segment" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{carCatalog?.miscSegment ? carCatalog.miscSegment : '-'}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </mat-tab>
      <mat-tab *ngIf="isSuperAdmin">
        <ng-template mat-tab-label>
          <mat-icon>info</mat-icon><span>{{"cars.debug_car" | translate}}</span>
        </ng-template>
        <div class="col-md-12 text-left p-3 pl-5 car-advanced">
          <pre class="m-0"><small>{{ carCatalog | json }}</small></pre>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="tabs-actions">
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
