<!-- Table -->
<div [class]="(tableDef.class ? tableDef.class : 'table-list')">
  <table mat-table multiTemplateDataRows [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="handleSortChanged()">
    <!-- Columns -->
    <ng-container *ngFor="let columnDef of columnDefs, index as i" [matColumnDef]="columnDef.id">
      <ng-container *ngIf="columnDef.sortable; else noSort">
        <th mat-header-cell [ngClass]="(columnDef.headerClass ? columnDef.headerClass + ' table-header' : 'table-header')"
          *matHeaderCellDef mat-sort-header>{{columnDef.name | translate}}
        </th>
      </ng-container>
      <ng-template #noSort>
        <th mat-header-cell [ngClass]="(columnDef.headerClass ? columnDef.headerClass + ' table-header' : 'table-header')"
          *matHeaderCellDef>{{columnDef.name | translate}}
        </th>
      </ng-template>
      <ng-container *ngIf="columnDef.isAngularComponent">
        <td mat-cell [class]="(columnDef.class ? columnDef.class : (columnDef.dynamicClass ? columnDef.dynamicClass(row) : ''))"
          *matCellDef="let row">
          <app-cell-component-container [row]="row" [columnDef]="columnDef"></app-cell-component-container>
        </td>
      </ng-container>
      <ng-container *ngIf="!columnDef.isAngularComponent">
        <td mat-cell [class]="(columnDef.class ? columnDef.class : (columnDef.dynamicClass ? columnDef.dynamicClass(row) : ''))"
          *matCellDef="let row" [innerHtml]="buildRowValue(row, columnDef)">
        </td>
      </ng-container>
      <td [hidden]="!dataSource.isFooterEnabled()" mat-footer-cell *matFooterCellDef>{{columnDef.footerName}}</td>
    </ng-container>

    <!-- Detailed Icon Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell class="col-3em details-column-header" *matHeaderCellDef>
<!--        <i class="material-icons">keyboard_arrow_right</i> -->
      </th>
      <td mat-cell [class]="'col-3em details-column-row'" *matCellDef="let row">
        <i *ngIf="(dataSource.hasRowDetailsHideShowField() ? row[tableDef.rowDetails.hideShowField] : true)"
          class="material-icons"
          (click)="showHideDetailsClicked(row)">
          {{row.isExpanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</i>
      </td>
      <td [hidden]="!dataSource.isFooterEnabled()" mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Detailed Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="rowDetails">
      <td mat-cell *matCellDef="let rowDetail" [attr.colspan]="columns.length">
        <div class="element-details" [@detailExpand]="(rowDetail.isExpanded ? 'expanded' : 'collapsed')">
          <ng-container *ngIf="tableDef.rowDetails && !tableDef.rowDetails.isDetailComponent && tableDef.rowDetails.detailsField">
            <div [innerHtml]="(tableDef.rowDetails ? tableDef.rowDetails.detailsField : '')">
              ...
            </div>
          </ng-container>
          <ng-container *ngIf="tableDef.rowDetails && tableDef.rowDetails.isDetailComponent">
            <app-detail-component-container class="col-md-12" [parentRow]="rowDetail" [tableDef]="tableDef"></app-detail-component-container>
          </ng-container>
        </div>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container ng-if="dataSource.hasRowActions())" matColumnDef="rowActions">
      <th mat-header-cell class="table-header text-center col-5em" *matHeaderCellDef>{{'general.actions' | translate}}
      </th>
      <!-- use [class] to avoid the automatic addition of mat-cell class-->
      <td mat-cell *matCellDef="let actionCell" [class]="'' + 'action-cell text-center'">
        <a *ngFor="let rowAction of dataSource.getTableRowActions(actionCell)" [class]="(rowAction.class ? rowAction.class : '') + ' btn-group btn btn-link btn-info btn-just-icon'"
          (click)="rowActionTriggered(rowAction, actionCell)"><i class="material-icons">{{rowAction.icon}}</i></a>
      </td>
    </ng-container>

    <!-- Rows -->
    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;" [class.example-expanded-row]="true"></tr>
    <tr mat-row *matRowDef="let rowDetail; columns: ['rowDetails']" class="details-row"></tr>
  </table>
  <div class="ml-3 text-left" *ngIf="dataSource && dataSource.isEmpty()">{{'general.no_record_found' | translate}}</div>
</div>