<div class="row m-2">
  <div class="col-md-6 col-lg-4 col-xxl-3">
    <app-date-time-range
      placeholder="site_areas.consumption_date"
      [startDate]="startDate"
      [endDate]="endDate"
      (dateTimeRangeChanged)="dateFilterChanged($event)">
    </app-date-time-range>
  </div>
  <div class="col-auto ms-auto" [hidden]="asset?.values?.length === 0">
    <app-chart-unit-selector (unitChanged)="unitChanged($event)"></app-chart-unit-selector>
  </div>
</div>
<div *ngIf="asset?.values?.length === 0" class="graph-no-consumption">
  {{'asset.graph.no_consumption' | translate}}
</div>
<div [hidden]="asset?.values?.length === 0">
  <div class="chart-container mt-2">
    <div #primary class='chart-primary'></div>
    <div #danger class='chart-danger'></div>
    <div #success class='chart-success'></div>
    <canvas #chart></canvas>
  </div>
</div>
