<div class="main-content">
  <div class="card card-profile card-testimonial">
    <mat-tab-group animationDuration="0ms" disableRipple="true" class="mat-tab-info">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>portrait</mat-icon>
          <span>{{name.value}}</span>
        </ng-template>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <div class="row app-organization-align-center">
                <div class="col-md-5">
                  <div class="rotating-card-container app-organization-image-border"
                    [ngStyle]="{ 'pointer-events': this.isAdmin ? 'all' : 'none'}">
                    <div class="card card-rotate card-background app-site-image-padding" style="margin-top: 0px;">
                      <div class="front front-background"
                        [ngStyle]="{'background-image': 'url(' + image + ')', 'background-size' : 'contain', 'background-repeat': 'no-repeat'}">
                        <div class="card-body">
                        </div>
                      </div>
                      <div class="back back-background"
                        [ngStyle]="{'background-image': 'url(' + image + ')', 'background-size' : 'contain', 'background-repeat': 'no-repeat'}">
                        <div *ngIf="this.isAdmin" class="card-body">
                          <h5 class="card-title">
                            {{'general.change_picture' | translate}}
                          </h5>
                          <div class="footer justify-content-center">
                            <button mat-flat-button color="primary" class="mr-2">
                              <mat-icon (click)="file.click()">mode_edit</mat-icon>
                              <div style="display:none">
                                <input type="file" name="..." (change)="imageChanged($event)" #file>
                              </div>
                            </button>
                            <button mat-flat-button color="warn">
                              <mat-icon (click)="clearImage()">delete</mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="form-group">
                    <mat-form-field>
                      <input appSetAutoFocus matInput placeholder="{{'sites.name' | translate}}"
                        class="app-organization-name-bold" type="text" [formControl]="name" required>
                      <mat-error *ngIf="name.hasError('required')">
                        {{"general.mandatory_field" | translate}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field>
                      <mat-select [formControl]="companyID" placeholder="{{'companies.company' | translate}}">
                        <mat-option *ngFor="let company of companies" value="{{company.id}}">{{company.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <div style="text-align: left">
                      <mat-checkbox [formControl]="allowAllUsersToStopTransactions">
                        {{'sites.allow_all_users' | translate}}
                      </mat-checkbox>
                    </div>
                    <div style="text-align: left">
                      <mat-checkbox [formControl]="autoUserSiteAssignment">
                        {{'sites.auto_user_site_assignment' | translate}}
                      </mat-checkbox>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <app-address-cmp [formGroup]="formGroup"></app-address-cmp>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="tab-pane" id="address">
              <app-address-cmp [formGroup]="formGroup"></app-address-cmp>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button mat-button *ngIf="this.isAdmin"
            (click)="saveSite(formGroup.value)" [disabled]="!formGroup.valid || !formGroup.dirty">
            <mat-icon>save</mat-icon>
            <span>{{'general.save' | translate}}</span>
          </button>
          <button mat-icon-button *ngIf="isOpenInDialog()" (click)="onClose()">
            <mat-icon>close</mat-icon>
          </button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
