<div class="row">
  <!-- Authentication URL -->
  <div class="col-md-6">
    <div class="form-group">
      <mat-form-field>
        <input
          appAutofocus
          matInput
          placeholder="{{ 'settings.car_connector.connection.authentication_url' | translate }}"
          type="url"
          [formControl]="authenticationUrl"
          required
        />
        <mat-error *ngIf="authenticationUrl.errors?.required">{{
          'general.mandatory_field' | translate
        }}</mat-error>
        <mat-error *ngIf="authenticationUrl.errors?.pattern">
          <div [translate]="'general.error_url_pattern'"></div>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <!-- API URL -->
  <div class="col-md-6">
    <div class="form-group">
      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'settings.car_connector.connection.api_url' | translate }}"
          type="url"
          [formControl]="apiUrl"
          required
        />
        <mat-error *ngIf="apiUrl.errors?.required">{{
          'general.mandatory_field' | translate
        }}</mat-error>
        <mat-error *ngIf="apiUrl.errors?.pattern">
          <div [translate]="'general.error_url_pattern'"></div>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <!-- Client ID -->
  <div class="col-md-6">
    <div class="form-group">
      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'settings.car_connector.connection.client_id' | translate }}"
          type="text"
          [formControl]="clientId"
          required
        />
        <mat-error *ngIf="clientId.errors?.required">{{
          'general.mandatory_field' | translate
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <!-- Client Secret -->
  <div class="col-md-6">
    <div class="form-group">
      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'settings.car_connector.connection.client_secret' | translate }}"
          type="password"
          [formControl]="clientSecret"
          required
        />
        <mat-error *ngIf="clientSecret.errors?.required">{{
          'general.mandatory_field' | translate
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</div>
