<div class="main-content">
  <div class="card card-profile card-testimonial card-min-height">
    <mat-tab-group animationDuration="0ms" disableRipple="true" class="mat-tab-info">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>battery_charging_full</mat-icon>
          <span>{{'chargers.smart_charging.static_limit' | translate }}</span>
        </ng-template>
        <div class="card-body" style="margin-top: 15px">
          <div class="row" *ngIf="charger.capabilities?.supportStaticLimitationForChargingStation || charger.capabilities?.supportStaticLimitationPerConnector; else notSupported">
            <div class="col-md-6">
              <app-charging-station-static-limit [charger]="charger"></app-charging-station-static-limit>
            </div>
          </div>
          <ng-template #notSupported>
            <div class="row">
              <div class="col-md-12 feature-not-supported">
                {{'chargers.smart_charging.not_supported' | translate }}
              </div>
            </div>
          </ng-template>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>show_chart</mat-icon>
          <span>{{'chargers.smart_charging.charging_profile_limit' | translate }}</span>
        </ng-template>
        <ng-template matTabContent>
          <div class="card-body" style="margin-top: 15px">
            <div class="row" *ngIf="charger.capabilities?.supportChargingProfiles; else notSupported">
              <div class="col-md-12">
                <app-charging-station-charging-profile-limit [charger]="charger"></app-charging-station-charging-profile-limit>
              </div>
            </div>
            <ng-template #notSupported>
              <div class="row">
                <div class="col-md-12 feature-not-supported">
                  {{'chargers.smart_charging.not_supported' | translate }}
                </div>
              </div>
            </ng-template>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>bug_report</mat-icon>
          <span>{{'chargers.smart_charging.debug_charging_station' | translate }}</span>
        </ng-template>
        <ng-template matTabContent>
          <div class="card-body" style="margin-top: 15px">
            <div class="row">
              <div class="col-md-12">
                <app-charging-station-debug [charger]="charger"></app-charging-station-debug>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
