.no-support-message-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-support-message {
  margin-top: 45vh;
  font-size: 2em;
  align-items: center;
  justify-content: center;
}
