<div class="charger-param-component">
  <form class="form" [formGroup]="formGroup">
    <div class="form-group">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon">
            <mat-icon>schedule</mat-icon>
          </div>
          <h3 class="card-title text-left">
            {{'chargers.smart_charging.planning_energy_limit' | translate: {chargeBoxID: charger.id} }}
          </h3>
          <div class="right-actions d-flex flex-row mat-toolbar-row">
            <button mat-raised-button color="primary" (click)="applyPowerLimit()">
              <mat-icon>save</mat-icon><span>{{'general.apply' | translate}}</span>
            </button>
            <button mat-raised-button color="primary" (click)="clearChargingProfile()">
              <mat-icon>delete</mat-icon><span>{{'general.clear' | translate}}</span>
            </button>
              <div class="form-group col-md-4">
                <mat-form-field>
                  <mat-select [formControl]="profileTypeControl"
                    placeholder="{{'chargers.smart_charging.profile_type' | translate}}" required>
                    <mat-option *ngFor="let type of profileTypeMap" [value]="type.key">
                      {{type.description | translate}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
                <div class="form-group col-md-4">
                <mat-form-field>
                  <mat-datetimepicker  #picker type="datetime" openOnFocus="false" mode="portrait" timeInterval="1">
                  </mat-datetimepicker>
                  <mat-datetimepicker-toggle matSuffix [for]="picker" matSuffix></mat-datetimepicker-toggle>
                  <input matInput
                  placeholder="{{'chargers.smart_charging.start_date' | translate}}"
                    (dateChange)="dateFilterChanged($event)" [matDatetimepicker]="picker"
                    [value]="startSchedule" autocomplete="false">
                </mat-form-field>
              </div>
        </div>
      </div>
        <!-- <div class="card-body">
            <div class="form-group col-md-2">
              <mat-form-field>
                <input matInput [formControl]="stackLevelControl" type="number" min=0 max=10
                  placeholder="{{'chargers.smart_charging.stack_level' | translate}}" required />
              </mat-form-field>
            </div>
            <div class="form-group col-md-2">
              <mat-form-field>
                <input matInput [formControl]="profileIdControl" type="number" min=0 max=10
                  placeholder="{{'chargers.smart_charging.profile_id' | translate}}" required />
              </mat-form-field>
            </div> -->
            <!-- <div class="form-group col-md-2">
              <mat-form-field>
                <input matInput [formControl]="durationControl" type="number" min=0
                  placeholder="{{'chargers.smart_charging.duration' | translate}}" />
              </mat-form-field>
              </div>
          </div> -->
          <div class="card-body" >
            <div>
            <app-table [dataSource]="chargingPeriodListTableDataSource"></app-table>
          </div>
          <div>
            <app-charging-station-smart-charging-limit-planner-chart #limitChart [scheduleSlots]="slotsSchedule"
              ratio="4">
            </app-charging-station-smart-charging-limit-planner-chart>
          </div>
          </div>
      </div>
    </div>
  </form>
</div>
