<div class="main-content flex-grow-1">
  <mat-tab-group disableRipple="true" class="h-100 mat-tab-info">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>radio_button_checked</mat-icon><span>Buttons</span>
      </ng-template>
      <ng-template matTabContent>
        <app-buttons-template></app-buttons-template>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>palette</mat-icon><span>Colors</span>
      </ng-template>
      <ng-template matTabContent>
        <app-colors-template></app-colors-template>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>