<div>
    <form class="form" [formGroup]="formGroup" height="100%">
        <div class="mat-toolbar-row left-actions">
            <button mat-raised-button color="warn" (click)="save()" [disabled]="isDisabled">
                <mat-icon>save</mat-icon><span>{{'general.save' | translate}}</span>
            </button>
        </div>
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <mat-icon>manage_accounts</mat-icon>
                </div>
                <h3 class="card-title">{{'technical_settings.account_activation.title' | translate}}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <mat-checkbox formControlName="disableDefaultAccountActivation" (change)="handleAccountActivation()">
                            {{'technical_settings.account_activation.do_not_activate_by_default' | translate}}
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>  
    </form>
</div>
