<ng-container *ngIf="row.ocpp15SOAPUrl">
  <div class="d-inline-block" appTooltip
       title="{{'settings.charging_station.copy_url_tooltip' | translate}}">1.5 SOAP
    <button mat-icon-button color="primary"
            (click)="copyClipboard(row.ocpp15SOAPUrl)">
      <mat-icon class="material-icons-outlined">file_copy</mat-icon>
    </button>
  </div>
</ng-container>
<ng-container *ngIf="row.ocpp16SOAPUrl">
  <div class="d-inline-block" appTooltip
       title="{{'settings.charging_station.copy_url_tooltip' | translate}}">1.6 SOAP
    <button mat-icon-button color="primary"
            (click)="copyClipboard(row.ocpp16SOAPUrl)">
      <mat-icon class="material-icons-outlined">file_copy</mat-icon>
    </button>
  </div>
</ng-container>
<ng-container *ngIf="row.ocpp16JSONUrl">
  <div class="d-inline-block" appTooltip
       title="{{'settings.charging_station.copy_url_tooltip' | translate}}">1.6 JSON
    <button mat-icon-button color="primary"
            (click)="copyClipboard(row.ocpp16JSONUrl)">
      <mat-icon class="material-icons-outlined">file_copy</mat-icon>
    </button>
  </div>
</ng-container>
