<ng-container *ngIf="row.ocpp15Url">
  <div class="d-inline-block" appTooltip
       title="{{'settings.charging_station.copy_url_tooltip' | translate}}">1.5
    <button mat-icon-button color="primary"
            (click)="copyClipboard(row.ocpp15Url)">
      <mat-icon class="material-icons-outlined">file_copy</mat-icon>
    </button>
  </div>
</ng-container>
<ng-container *ngIf="row.ocpp16Url">
  <div class="d-inline-block" appTooltip
       title="{{'settings.charging_station.copy_url_tooltip' | translate}}">1.6
    <button mat-icon-button color="primary"
            (click)="copyClipboard(row.ocpp16Url)">
      <mat-icon class="material-icons-outlined">file_copy</mat-icon>
    </button>
  </div>
</ng-container>
