<form class="form" [formGroup]="formGroup" height="100%">
  <div class="mat-toolbar-row left-actions">
    <button mat-raised-button color="warn" (click)="saveTenant(formGroup.value)"
      [disabled]="!formGroup.valid || !formGroup.dirty">
      <mat-icon>save</mat-icon><span>{{ "general.save" | translate }}</span>
    </button>
  </div>
  <!-- business information -->
  <div class="card">
    <div class="card-header card-header-icon card-header-primary">
      <div class="card-icon">
        <mat-icon>business</mat-icon>
      </div>
      <h3 class="card-title">{{ "technical_settings.business.title" | translate }}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-md-3">
          <mat-form-field>
            <input [formControl]="name" appAutofocus matInput placeholder="{{'technical_settings.tenant.public_name' | translate}}" required
              type="text">
            <mat-error *ngIf="name.errors?.required">{{"general.mandatory_field" | translate}}</mat-error>
            <mat-error *ngIf="name.errors?.maxlength">
              <div [translateParams]="{length: 100}" [translate]="'general.error_max_length'"></div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-3">
          <mat-form-field>
            <input [formControl]="email" matInput placeholder="{{'technical_settings.tenant.email' | translate}}" required type="text">
            <mat-error *ngIf="email.errors?.required">{{"general.mandatory_field" | translate}}</mat-error>
            <mat-error *ngIf="email.errors?.email">{{"authentication.invalid_email" | translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-6">
          <mat-form-field>
            <input [formControl]="website" matInput placeholder="{{'technical_settings.tenant.website' | translate}}" type="text">
            <mat-error *ngIf="website.errors?.pattern">{{"general.error_url_pattern" | translate}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 my-auto">
          <div class="rotating-card-container img-fluid" [ngStyle]="{ 'pointer-events': 'all' }">
            <div class="card card-rotate card-background app-small-image m-0">
              <div class="front front-background" [ngStyle]="{'background-image': 'url(' + logo + ')', 'background-size' : 'contain', 'background-repeat': 'no-repeat'}">
                <div class="card-body">
                </div>
              </div>
              <div class="back back-background"
                [ngStyle]="{'background-image': 'url(' + logo + ')', 'background-size' : 'contain', 'background-repeat': 'no-repeat'}">
                <div class="card-body">
                  <div class="text-center">
                    <button mat-flat-button color="primary" class="me-2">
                      <mat-icon (click)="file.click()">mode_edit</mat-icon>
                      <div class="d-none">
                        <input #file type="file" name="..." (change)="onLogoChanged($event)"
                          accept="image/jpg,image/jpeg,image/png,image/gif" [maxLength]="logoMaxSize">
                      </div>
                    </button>
                    <button mat-flat-button color="warn">
                      <mat-icon (click)="clearLogo()">delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="form-group col-md-4">
              <mat-form-field>
                <input [formControl]="legalStatus" appAutofocus matInput placeholder="{{'technical_settings.business.legal_status' | translate}}" type="text" (input)="toUpperCase(legalStatus)">
                <mat-error *ngIf="legalStatus.errors?.maxlength">
                  <div [translateParams]="{length: 100}" [translate]="'general.error_max_length'"></div>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-8">
              <mat-form-field>
                <input [formControl]="corporateName" appAutofocus matInput placeholder="{{'technical_settings.business.corporate_name' | translate}}" type="text">
                <mat-error *ngIf="corporateName.errors?.maxlength">
                  <div [translateParams]="{length: 100}" [translate]="'general.error_max_length'"></div>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <mat-form-field>
                <input [formControl]="rcs" matInput placeholder="{{'technical_settings.business.rcs' | translate}}" type="text" (input)="toUpperCase(rcs)">
                <mat-error *ngIf="rcs.errors?.pattern">
                  <div [translate]="'general.error_number_pattern'"></div>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field>
                <input [formControl]="capital" appAutofocus matInput placeholder="{{'technical_settings.business.capital' | translate}}" type="text">
                  <mat-error *ngIf="capital.errors?.pattern">
                  <div [translate]="'general.error_number_pattern'"></div>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field>
                <input [formControl]="siret" matInput placeholder="{{'technical_settings.business.siret' | translate}}" type="text">
                <mat-error *ngIf="siret.errors?.pattern">
                  <div [translate]="'technical_settings.business.error_siret_pattern'"></div>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- tenant information -->
  <!-- <div class="card">
    <div class="card-header card-header-icon card-header-primary">
      <div class="card-icon">
        <mat-icon>business</mat-icon>
      </div>
      <h3 class="card-title">{{ "technical_settings.tenant.title" | translate }}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-md-4">
          <mat-form-field>
            <input [formControl]="name" appAutofocus matInput placeholder="{{'technical_settings.tenant.public_name' | translate}}" required
              type="text">
            <mat-error *ngIf="name.errors?.required">{{"general.mandatory_field" | translate}}</mat-error>
            <mat-error *ngIf="name.errors?.maxlength">
              <div [translateParams]="{length: 100}" [translate]="'general.error_max_length'"></div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <input [formControl]="email" matInput placeholder="{{'technical_settings.tenant.email' | translate}}" required type="text">
            <mat-error *ngIf="email.errors?.required">{{"general.mandatory_field" | translate}}</mat-error>
            <mat-error *ngIf="email.errors?.email">{{"authentication.invalid_email" | translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-4">
          <mat-form-field>
            <input [formControl]="website" matInput placeholder="{{'technical_settings.tenant.website' | translate}}" type="text">
            <mat-error *ngIf="website.errors?.pattern">{{"general.error_url_pattern" | translate}}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div> -->
  <!-- address information -->
  <div class="card">
    <div class="card-header card-header-icon card-header-primary">
      <div class="card-icon">
        <mat-icon>edit_location_alt</mat-icon>
      </div>
      <h3 class="card-title">{{ "general.address" | translate }}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <app-address [address]="address" [formGroup]="formGroup" componentName="{{'tenants.title' | translate}}"
            [itemComponentName]="name.value"></app-address>
        </div>
      </div>
    </div>
  </div>
  <!-- support information -->
  <div class="card">
    <div class="card-header card-header-icon card-header-primary">
      <div class="card-icon">
        <mat-icon>contact_support</mat-icon>
      </div>
      <h3 class="card-title">{{ "technical_settings.support.title" | translate }}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <app-tenant-support [tenantSupport]="tenantSupport" [formGroup]="formGroup"></app-tenant-support>
        </div>
      </div>
    </div>
  </div>
</form>
