.reservation-param {
  height: auto;
  margin-top: 1em !important;
}

.reservation-dialog-size {
  max-height: 580px;
  max-width: 900px;
}

.external-reservation-dialog-size {
  max-height: 580px;
  max-width: 1200px;
}
