<div class="main-content vw-90 vh-90 analytics-settings-dialog-size">
  <div class="card card-profile card-testimonial">
    <mat-tab-group
      animationDuration="0ms"
      disableRipple="true"
      class="mat-tab-info"
      [class]="dialogRef ? 'mat-tabs-with-actions' : 'mat-tabs-with-close-action'"
    >
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>link</mat-icon>
          <span>{{ name.value }}</span>
        </ng-template>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <div class="row">
                <!-- Link - Name -->
                <div class="col-md-4">
                  <div class="form-group">
                    <mat-form-field>
                      <input
                        appAutofocus
                        matInput
                        placeholder="{{ 'analytics.link.name' | translate }}"
                        type="text"
                        [formControl]="name"
                        required
                      />
                      <mat-error *ngIf="name.errors?.required"
                        >{{ 'general.mandatory_field' | translate }}
                      </mat-error>
                      <mat-error *ngIf="name.errors?.maxlength">
                        <div
                          [translate]="'general.error_max_length'"
                          [translateParams]="{ length: 100 }"
                        ></div>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <!-- Link - Description -->
                <div class="col-md-8">
                  <div class="form-group">
                    <mat-form-field>
                      <input
                        matInput
                        placeholder="{{ 'analytics.link.description' | translate }}"
                        type="text"
                        [formControl]="description"
                        required
                      />
                      <mat-error *ngIf="description.errors?.required"
                        >{{ 'general.mandatory_field' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <!-- Link - User role -->
                <div class="col-md-4">
                  <div class="form-group">
                    <mat-form-field>
                      <mat-select
                        [formControl]="role"
                        placeholder="{{ 'analytics.link.role' | translate }}"
                      >
                        <mat-option *ngFor="let role of roleList" value="{{ role.key }}">{{
                          role.value
                        }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <!-- Link - Url -->
                <div class="col-md-12">
                  <div class="form-group">
                    <mat-form-field>
                      <input
                        matInput
                        placeholder="{{ 'analytics.link.url' | translate }}"
                        type="text"
                        [formControl]="url"
                        required
                      />
                      <mat-error *ngIf="url.errors?.required"
                        >{{ 'general.mandatory_field' | translate }}
                      </mat-error>
                      <mat-error *ngIf="url.errors?.pattern">
                        <div [translate]="'general.error_url_pattern'"></div>
                      </mat-error>
                      <button
                        mat-icon-button
                        matSuffix
                        aria-label="View"
                        (click)="openUrl()"
                        [disabled]="url.errors?.pattern || url.errors?.required"
                      >
                        <mat-icon>open_in_new</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div [class]="dialogRef ? 'tabs-actions' : 'tabs-actions-embedded'">
      <button
        mat-icon-button
        (click)="save(formGroup.value)"
        title="{{ 'general.save' | translate }}"
        [disabled]="!formGroup.valid || !formGroup.dirty"
      >
        <mat-icon>save</mat-icon>
      </button>
      <button mat-icon-button (click)="close()" title="{{ 'general.close' | translate }}">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
