
$palette-levels: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200, A400, A700;
$background-props: status-bar, app-bar, background, hover, card, dialog, disabled-button, raised-button,
  focused-button, selected-button, selected-disabled-button, disabled-button-toggle;
$foreground-props: base, divider, dividers, disabled, disabled-button, disabled-text,
  hint-text, secondary-text, icon, icons, text, slider-off, slider-off-active;

pre {
  display: inline-block;
  margin-left: -100px;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  margin-top: 15px;
}

.color {
  width: 350px;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 15px 10px;
}

.color-back {
  width: 425px;
  color: black;
} 

.color-fore {
  width: 425px;
  color: white;
}

.color-bg-primary {
  background: $brand-primary;
  margin-bottom: 10px;
}

.color-bg-light {
  background: mat-color($app-primary, 50);
  button, a {
    font-size: 1rem !important;
  }
}

@mixin palette($app-palette, $palette-name) {
  @each $palette-level in $palette-levels {
    .color-#{$palette-name}-#{$palette-level} {
      background-color: mat-color($app-palette, $palette-level);
    }
  }
  .color-#{$palette-name} {
    background-color: mat-color($app-palette);
  }
}

@include palette($app-primary, "primary");
@include palette($app-accent, "accent");
@include palette($app-warn, "warn");
@include palette($app-warning, "warning");
@include palette($app-success, "success");
@include palette($app-yellow, "yellow");
@include palette($app-purple, "purple");
@include palette($app-grey, "grey");
@include palette($app-brown, "brown");
@include palette($app-blue-grey, "blue-grey");
@include palette($app-deep-orange, "deep-orange");
@include palette($app-lime, "lime");
@include palette($app-light-green, "light-green");
@include palette($app-teal, "teal");
@include palette($app-cyan, "cyan");
@include palette($app-indigo, "indigo");
@include palette($app-pink, "pink");
@include palette($app-red, "red");

@each $background-prop in $background-props {
  .color-background-#{$background-prop} {
    background-color: mat-color($app-background, $background-prop);
  }
}

@each $foreground-prop in $foreground-props {
  .color-foreground-#{$foreground-prop} {
    background-color: mat-color($app-foreground, $foreground-prop);
  }
}
