<form class="form" [formGroup]="formGroup">
  <div class="card">
    <div class="card-header card-header-icon card-header-primary">
      <div class="card-icon">
        <mat-icon>business</mat-icon>
      </div>
      <h3 class="card-title">{{'ocpi.cpo' | translate}}</h3>
    </div>
    <div class="card-body">
      <div class="mat-toolbar-row">
          <button mat-raised-button color="warn" (click)="save(formGroup.value)"
            [disabled]="!formGroup.valid || !formGroup.dirty">
              <mat-icon>save</mat-icon><span>{{'general.save' | translate}}</span>
          </button>
      </div>
      <!-- CPO identifier COUNTRY_CODE/PARTY_ID -->
      <div class="row" style="margin-top: 1em">
        <div class="col-md-6">
          <mat-form-field>
            <input appSetAutoFocus matInput type="text" [formControl]="countryCode"
              placeholder="{{'ocpi.cpo_country_code' | translate}}" required>
            <mat-error *ngIf="countryCode.errors?.required">{{"general.mandatory_field"
              | translate}}</mat-error>
            <mat-error *ngIf="countryCode.errors?.maxlength">
              <div [translate]="'general.error_max_length'" [translateParams]="{length: 2}"></div>
            </mat-error>
            <mat-error *ngIf="countryCode.errors?.minlength">
              <div [translate]="'general.error_max_length'" [translateParams]="{length: 2}"></div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input appSetAutoFocus matInput type="text" [formControl]="partyID"
              placeholder="{{'ocpi.cpo_party_id' | translate}}" required>
            <mat-error *ngIf="partyID.errors?.required">{{"general.mandatory_field"
              | translate}}</mat-error>
            <mat-error *ngIf="partyID.errors?.maxlength">
              <div [translate]="'general.error_max_length'" [translateParams]="{length: 3}"></div>
            </mat-error>
            <mat-error *ngIf="partyID.errors?.minlength">
              <div [translate]="'general.error_max_length'" [translateParams]="{length: 3}"></div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- CPO identifier business details -->
      <legend>{{'ocpi.cpo_business_details' | translate}}</legend>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input appSetAutoFocus matInput type="text" [formControl]="name"
              placeholder="{{'ocpi.businessdetails.name' | translate}}" required>
            <mat-error *ngIf="name.errors?.required">{{"general.mandatory_field"
              | translate}}</mat-error>
            <mat-error *ngIf="name.errors?.maxlength">
              <div [translate]="'general.error_max_length'" [translateParams]="{length: 100}"></div>
            </mat-error>
            <mat-error *ngIf="name.errors?.minlength">
              <div [translate]="'general.error_max_length'" [translateParams]="{length: 100}"></div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input appSetAutoFocus matInput type="text" [formControl]="website"
              placeholder="{{'ocpi.businessdetails.website' | translate}}">
            <mat-error *ngIf="website.errors?.pattern">
              <div [translate]="'general.error_url_pattern'"></div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- CPO identifier business logo -->
      <legend>{{'ocpi.cpo_logo' | translate}}</legend>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input appSetAutoFocus matInput type="text" [formControl]="logo_url"
              placeholder="{{'ocpi.businessdetails.logo.url' | translate}}">
            <mat-error *ngIf="logo_url.errors?.pattern">
              <div [translate]="'general.error_url_pattern'"></div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <!-- <input appSetAutoFocus matInput type="text" [formControl]="logo_type" placeholder="{{'ocpi.businessdetails.logo.type' | translate}}"> -->
            <mat-select [formControl]="logo_type" placeholder="{{'ocpi.businessdetails.logo.type' | translate}}">
              <mat-option *ngFor="let logoType of logoTypes" value="{{logoType.key}}">{{logoType.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-1">
          <mat-form-field>
            <input appSetAutoFocus matInput type="text" [formControl]="logo_width"
              placeholder="{{'ocpi.businessdetails.logo.width' | translate}}">
            <mat-error *ngIf="logo_width.errors?.pattern">
              <div [translate]="'general.error_number_pattern'"></div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-1">
          <mat-form-field>
            <input appSetAutoFocus matInput type="text" [formControl]="logo_height"
              placeholder="{{'ocpi.businessdetails.logo.height' | translate}}">
            <mat-error *ngIf="logo_height.errors?.pattern">
              <div [translate]="'general.error_number_pattern'"></div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input appSetAutoFocus matInput type="text" [formControl]="logo_thumbnail"
              placeholder="{{'ocpi.businessdetails.logo.thumbnail' | translate}}">
            <mat-error *ngIf="logo_thumbnail.errors?.pattern">
              <div [translate]="'general.error_url_pattern'"></div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-select placeholder="{{'ocpi.businessdetails.logo.category' | translate}}"
              [formControl]="logo_category">
              <mat-option *ngFor="let logoCategory of logoCategories" value="{{logoCategory.key}}">
                {{logoCategory.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>