<form class="form" [formGroup]="formGroup">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <mat-form-field>
          <input matInput type="text" readonly=true placeholder="{{'settings.pricing.account_id' | translate}}"
            class="form-field-popup" (click)="assignAccounts()" [formControl]="accountID"/>
          <button *ngIf="accountID.enabled && accountID.value" mat-icon-button matSuffix (click)="resetAccount()" aria-label="Clear">
            <mat-icon>clear</mat-icon>
          </button>
          <mat-error *ngIf="accountID.errors?.required">
            {{"general.mandatory_field" | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <mat-form-field>
          <input matInput
              placeholder="{{'settings.pricing.flat_fee' | translate}}" type="number" [formControl]="flatFee">
          <mat-error
            *ngIf="flatFee.errors?.pattern || flatFee.errors?.max">
            {{"settings.pricing.invalid_flat_fee" | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <mat-form-field>
          <input matInput
              placeholder="{{'settings.pricing.percentage' | translate}}" type="number" [formControl]="percentage">
          <mat-error
            *ngIf="percentage.errors?.pattern || percentage.errors?.max">
            {{"settings.pricing.invalid_percentage" | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
