<div class="card">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <mat-icon>settings</mat-icon>
    </div>
    <h3 class="card-title">{{'settings.smartCharging.sapSmartCharging.title' | translate}}</h3>
  </div>

  <div class="card-body">
    <legend>{{'settings.smartCharging.sapSmartCharging.settings' | translate}}</legend>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <input appAutofocus matInput type="text" [formControl]="optimizerUrl"
            placeholder="{{'smartCharging.optimizerUrl' | translate}}">
          <mat-error *ngIf="optimizerUrl.errors?.pattern">
            <div [translate]="'general.error_url_pattern'"></div>
          </mat-error>
          <button mat-button matSuffix mat-icon-button aria-label="View"
            [disabled]="optimizerUrl.errors?.pattern">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input appAutofocus matInput type="text" [formControl]="user"
            placeholder="{{'settings.smartCharging.sapSmartCharging.user' | translate}}" required>
          <mat-error *ngIf="user.errors?.required">{{"general.mandatory_field"
            | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input appAutofocus matInput type="password" [formControl]="password"
            placeholder="{{'settings.smartCharging.sapSmartCharging.password' | translate}}" required>
          <mat-error *ngIf="password.errors?.required">{{"general.mandatory_field"
            | translate}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
