<div class="main-content">
  <div class="card card-testimonial">
    <mat-tab-group animationDuration="0ms" disableRipple="true" class="mat-tab-info">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>directions_car</mat-icon>
          <span style="display: inline-block;">{{car?.vehicleMake}} {{car?.vehicleModel}} {{car?.vehicleModelVersion}}
          </span>
        </ng-template>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <div class="row app-car align-items-start">
                <div class="col-md-5" style="display: block; margin-top: auto">
                  <div class="rotating-card-container app-car-image-border" [ngStyle]="{ 'pointer-events': 'none'}">
                    <div class="card card-rotate card-background" style="margin-top: 0px;">
                      <div class="front front-background"
                        [ngStyle]="{'background-image': (car ? 'url(' + car.image + ')' : ''), 'background-size' : 'contain', 'background-repeat': 'no-repeat'}">
                        <div class="card-body">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="table-responsive-md d-flex justify-content-left">
                    <table class="mat-table">
                      <tbody role="rowgroup">
                        <ng-container>
                          <tr class="mat-row app-car-important-props" role="row">
                            <th class="props-header px-2 py-2 text-left">{{"cars.vehicleMake" | translate}}</th>
                            <td class="px-2 py-2 text-left">{{car?.vehicleMake}}</td>
                          </tr>
                          <tr class="mat-row app-car-important-props" role="row">
                            <th class="props-header px-2 py-2 text-left">{{"cars.vehicleModel" | translate}}</th>
                            <td class="px-2 py-2 text-left">{{car?.vehicleModel}}</td>
                          </tr>
                          <tr class="mat-row app-car-important-props" role="row">
                            <th class="props-header px-2 py-2 text-left">{{"cars.vehicleModelVersion" | translate}}</th>
                            <td class="px-2 py-2 text-left">{{car?.vehicleModelVersion ? car.vehicleModelVersion : '-'}}</td>
                          </tr>
                          <tr class="mat-row" role="row">
                            <th class="props-header px-2 py-2 text-left">{{"cars.performanceAcceleration" | translate}}
                            </th>
                            <td class="px-2 py-2 text-left">{{car?.performanceAcceleration ? car.performanceAcceleration : '-'}} {{"cars.unit.seconde" | translate}}</td>
                          </tr>
                          <tr class="mat-row" role="row">
                            <th class="props-header px-2 py-2 text-left">{{"cars.drivetrainTorque" | translate}}</th>
                            <td class="px-2 py-2 text-left">{{car?.drivetrainTorque ? car.drivetrainTorque : '-'}} {{"cars.unit.newtonMetre" | translate}}</td>
                          </tr>
                          <tr class="mat-row" role="row">
                            <th class="props-header px-2 py-2 text-left">{{"cars.performanceTopspeed" | translate}}</th>
                            <td class="px-2 py-2 text-left">{{car?.performanceTopspeed ? car.performanceTopspeed : '-'}} km/h</td>
                          </tr>
                          <tr class="mat-row" role="row">
                            <th class="props-header px-2 py-2 text-left">{{"cars.drivetrainPropulsion" | translate}}</th>
                            <td class="px-2 py-2 text-left">{{car?.drivetrainPropulsion ? car.drivetrainPropulsion : '-'}}</td>
                          </tr>
                          <tr class="mat-row" role="row">
                            <th class="props-header px-2 py-2 text-left">{{"cars.miscTurningCircle" | translate}}</th>
                            <td class="px-2 py-2 text-left">{{car?.miscTurningCircle ? car.miscTurningCircle : ''}} {{"cars.unit.meters" | translate}}</td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>battery_charging_full</mat-icon><span>{{"cars.battery" | translate}}</span>
        </ng-template>
        <div class="col-md-12 text-left p-4">
          <div class="table-responsive-md d-flex justify-content-left">
            <table class="mat-table">
              <tbody role="rowgroup">
                <ng-container>
                  <tr class="mat-row app-car-important-props" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.batteryCapacityFull" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{car?.batteryCapacityFull ? (car.batteryCapacityFull | appDecimal:'1.0-1') : '-'}} {{"cars.unit.kilowattHeure" | translate}}</td>
                  </tr>
                  <tr class="mat-row app-car-important-props" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.batteryCapacityUseable" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{car?.batteryCapacityUseable ? (car.batteryCapacityUseable | appDecimal:'1.0-1') : '-'}} {{"cars.unit.kilowattHeure" | translate}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.chargePlug" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{car?.chargePlug ? car.chargePlug : '-'}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.chargeStandardPower" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{car?.chargeStandardPower ? (car.chargeStandardPower | appDecimal:'1.0-1') : '-'}} {{"cars.unit.kilowatt" | translate}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.evsePhaseAC" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{car?.chargeStandardPhase ? car.chargeStandardPhase : '-'}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.fastChargePlug" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{car?.fastChargePlug ? car.fastChargePlug : '-'}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.fastChargePowerMax" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{car?.fastChargePowerMax ? (car.fastChargePowerMax | appDecimal:'1.0-1') : '-'}} {{"cars.unit.kilowatt" | translate}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.chargePlugLocation" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{car?.chargePlugLocation ? car.chargePlugLocation : '-'}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>battery_charging_full</mat-icon><span>{{"cars.chargeStandardTables" | translate}}</span>
        </ng-template>
        <div class="col-md-12 text-left p-4">
          <app-table [dataSource]="carConverterTableDataSource"></app-table>
        </div>
      </mat-tab>
      <mat-tab *ngIf="car?.images">
        <ng-template mat-tab-label>
          <mat-icon>photo_camera</mat-icon><span>Photos</span>
        </ng-template>
        <div class="card-body">
          <app-carousel [images]="car.images"></app-carousel>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>more_horiz</mat-icon><span>{{"cars.miscellaneous" | translate}}</span>
        </ng-template>
        <div class="card-body" class="text-left m-4">
          <div class="table-responsive-md d-flex justify-content-left">
            <table class="mat-table">
              <tbody role="rowgroup">
                <ng-container>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.miscSeats" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{car?.miscSeats ? car.miscSeats : ''}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.miscBody" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{car?.miscBody ? car.miscBody : ''}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.miscIsofix" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{car?.miscIsofix ? car.miscIsofix : ''}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.miscIsofixSeats" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{car?.miscIsofixSeats ? car.miscIsofixSeats : ''}}</td>
                  </tr>
                  <tr class="mat-row" role="row">
                    <th class="props-header px-2 py-2 text-left">{{"cars.miscSegment" | translate}}</th>
                    <td class="px-2 py-2 text-left">{{car?.miscSegment ? car.miscSegment : ''}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </mat-tab>
      <mat-tab *ngIf="isSuperAdmin">
        <ng-template mat-tab-label>
          <mat-icon>info</mat-icon><span>{{"cars.debugCar" | translate}}</span>
        </ng-template>
        <div class="col-md-12 text-left p-3 pl-5 car-advanced">
          <pre class="m-0"><small>{{ car?.carObject | json }}</small></pre>
        </div>
      </mat-tab>
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button mat-icon-button (click)="onClose()">
            <mat-icon>close</mat-icon>
          </button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
