<div class="main-content">
  <div class="card card-profile card-testimonial">
    <mat-tab-group animationDuration="0ms" disableRipple="true" class="mat-tab-info mat-tabs-with-actions">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>portrait</mat-icon>
          <span>{{selectedCarCatalog?.vehicleMake}} {{selectedCarCatalog?.vehicleModel}}
            {{selectedCarCatalog?.vehicleModelVersion}}</span>
        </ng-template>
        <div class="card-body">
          <div class="row app-car align-items-start">
            <div class="col-md-5" style="display: block; margin-top: auto">
              <div class="rotating-card-container app-car-image-border" [ngStyle]="{ 'pointer-events': 'none'}">
                <div class="card card-rotate card-background" style="margin-top: 0px;">
                  <div class="front front-background"
                    [ngStyle]="{'background-image': (selectedCarCatalog ? 'url(' + selectedCarCatalog?.image + ')' : 'url(' + noImage + ')'), 'background-size' : 'contain', 'background-repeat': 'no-repeat'}">
                    <div class="card-body">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <mat-form-field>
                  <input matInput type="text" readonly=true placeholder="{{'car.tabs.car_catalogs' | translate}}"
                    class="form-field-popup" (click)="addCar()" [formControl]="carCatalog" required />
                  <button mat-button matSuffix mat-icon-button aria-label="Add" (click)="addCar()">
                    <mat-icon>create</mat-icon>
                  </button>
                  <mat-error *ngIf="carCatalog.errors?.required">
                    {{"general.mandatory_field" | translate}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field>
                  <input matInput type="text" readonly=true placeholder="{{'cars.converter' | translate}}"
                    class="form-field-popup" (click)="addConverter()" [formControl]="converter" required />
                  <button mat-button matSuffix mat-icon-button aria-label="Add" (click)="addConverter()">
                    <mat-icon>create</mat-icon>
                  </button>
                  <mat-error *ngIf="carCatalog.errors?.required">
                    {{"general.mandatory_field" | translate}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field>
                  <input appAutofocus matInput placeholder="{{'cars.vin' | translate}}" class="app-organization-name"
                    type="text" [formControl]="vin" required>
                  <mat-error *ngIf="vin.errors?.required">
                    {{"general.mandatory_field" | translate}}
                  </mat-error>
                  <mat-error *ngIf="vin.errors?.invalidVIN">{{"cars.invalid_vin" | translate}}</mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field>
                  <input appAutofocus matInput placeholder="{{'cars.license_plate' | translate}}"
                    class="app-organization-name" type="text" [formControl]="licensePlate" required>
                  <mat-error *ngIf="licensePlate.errors?.required">
                    {{"general.mandatory_field" | translate}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group" *ngIf="isBasic">
                <div style="text-align: left">
                  <mat-checkbox value="false" [formControl]="isDefault">
                    {{'cars.default_car' | translate}}
                  </mat-checkbox>
                </div>
              </div>
              <div class="form-group">
                <div style="text-align: left">
                  <mat-radio-group [formControl]="type">
                    <div *ngFor="let type of carTypes">
                      <mat-radio-button [disabled]='!usersCarTableDataSource.emptyList() && type.key === CarType.POOL_CAR' value="{{type.key}}">{{ type.value | translate }}</mat-radio-button>
                    </div>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </mat-tab>

      <mat-tab *ngIf="isAdmin && !isPool">
        <ng-template mat-tab-label>
          <mat-icon>portrait</mat-icon><span>{{"cars.users" | translate}}</span>
        </ng-template>
        <div class="col-md-12 text-left p-4">
          <app-table [dataSource]="usersCarTableDataSource"></app-table>
        </div>
      </mat-tab>


    </mat-tab-group>
    <div class="tabs-actions">
      <button mat-button (click)="saveCar(formGroup.value)"
        [disabled]="((!formGroup.valid || !formGroup.dirty) && !usersCarTableDataSource.changedList()) || (usersCarTableDataSource.emptyList() && !isPool && !isBasic)">
        <mat-icon>save</mat-icon>
        <span>{{'general.save' | translate}}</span>
      </button>
      <button mat-icon-button *ngIf="inDialog" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
