// Light Theme ---------------------------------
// Set Bootstrap theme according Material theme
$brand-primary: mat-color($app-primary) !default;
$brand-accent: mat-color($app-accent) !default;
$brand-info: mat-color($app-accent) !default;
$brand-success: mat-color($app-success) !default;
$brand-warning: mat-color($app-warning) !default;
$brand-warn: mat-color($app-warn) !default;
$brand-disabled: mat-color($app-foreground, disabled) !default;
$brand-text: mat-color($app-foreground, text) !default;
$brand-hover: mat-color($app-background, hover) !default;
$brand-background: mat-color($app-background, background) !default;
$brand-default: $brand-primary !default;
// End of Light Theme ---------------------------------


