// Bootstrap brand color customization

/*     brand Colors              */

$brand-primary: $blue-900 !default;
$brand-info: $blue-500 !default;
$brand-success: $green-500 !default;
$brand-warning: $orange-500 !default;
$brand-danger: $red-500 !default;
$brand-purple: $purple-500 !default;
$brand-rose: $pink-500 !default;
$brand-inverse: $white !default;
