// Shadows (originally from mdl http://www.getmdl.io/)
$bmd-shadow-umbra-opacity: 0.2 !default;
$bmd-shadow-penumbra-opacity: 0.14 !default;
$bmd-shadow-ambient-opacity: 0.12 !default;

// Declare the following for reuse with both mixins and the bootstrap variables

$bmd-shadow-2dp: 0 2px 2px 0 rgba($brand-text, $bmd-shadow-penumbra-opacity),
  0 3px 1px -2px rgba($brand-text, $bmd-shadow-umbra-opacity),
  0 1px 5px 0 rgba($brand-text, $bmd-shadow-ambient-opacity);

$bmd-shadow-4dp: 0 4px 5px 0 rgba($brand-text, $bmd-shadow-penumbra-opacity),
  0 1px 10px 0 rgba($brand-text, $bmd-shadow-ambient-opacity),
  0 2px 4px -1px rgba($brand-text, $bmd-shadow-umbra-opacity);

$bmd-shadow-8dp: 0 8px 10px 1px rgba($brand-text, $bmd-shadow-penumbra-opacity),
  0 3px 14px 2px rgba($brand-text, $bmd-shadow-ambient-opacity),
  0 5px 5px -3px rgba($brand-text, $bmd-shadow-umbra-opacity);

$bmd-shadow-24dp: 0 9px 46px 8px rgba($brand-text, $bmd-shadow-penumbra-opacity),
  0 11px 15px -7px rgba($brand-text, $bmd-shadow-ambient-opacity),
  0 24px 38px 3px rgba($brand-text, $bmd-shadow-umbra-opacity);
