$table-bg-accent: rgba($brand-primary, .03);
$table-border-color: rgba($brand-primary, .2);
$table-bg-hover: rgba($brand-primary, .02); // Grey 100 (on white background)

$bmd-table-header-font-size: 1rem;
$bmd-table-border-color-inverse: rgba($brand-text, .06);
