// Create Material custom theme 
@import '~@angular/material/theming';
@import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';

// Material Theming
@include mat-core();

// Light Theme ---------------------------------
// Define colors with mat palette
$app-primary: mat-palette($mat-blue, 700);
$app-accent: mat-palette($mat-blue, 500);
$app-warn: mat-palette($mat-red, 700);
// Create the theme for materials
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
// Other
$app-success: mat-palette($mat-green, 700);
$app-warning: mat-palette($mat-orange, 700);
$app-yellow: mat-palette($mat-yellow, 700);
$app-purple: mat-palette($mat-deep-purple, 700);
$app-grey: mat-palette($mat-grey, 700);
$app-brown: mat-palette($mat-brown, 700);
$app-blue-grey: mat-palette($mat-blue-grey, 700);
$app-deep-orange: mat-palette($mat-deep-orange, 700);
$app-lime: mat-palette($mat-lime, 700);
$app-light-green: mat-palette($mat-light-green, 700);
$app-teal: mat-palette($mat-teal, 700);
$app-cyan: mat-palette($mat-cyan, 700);
$app-indigo: mat-palette($mat-indigo, 700);
$app-pink: mat-palette($mat-pink, 700);
$app-red: mat-palette($mat-red, 700);

// Bg/Fg
$app-foreground: map-get($app-theme, foreground);
$app-background: map-get($app-theme, background);

// Use it
@include angular-material-theme($app-theme);
// Datetime picker
@include mat-datetimepicker-theme($app-theme);
// End of Light Theme ---------------------------------

// Dark Theme ---------------------------------
.dark-theme {
  // Define colors with mat palette
  $app-primary: mat-palette($mat-grey, 600);
  $app-accent: mat-palette($mat-grey, A200, A100, A400);
  $app-warn: mat-palette($mat-red, 300);
  // Create the theme for materials
  $app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
  // Other
  $app-success: mat-palette($mat-green, 300);
  $app-warning: mat-palette($mat-orange, 300);
  // Bg/Fg
  $app-foreground: map-get($app-theme, foreground);
  $app-background: map-get($app-theme, background);
  
  // Use it
  @include angular-material-theme($app-theme);
  // Datetime picker
  @include mat-datetimepicker-theme($app-theme);
  // End of Dark Theme ---------------------------------
}
