// Create Material custom theme
@use '@angular/material' as mat;
@import 'node_modules/@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';

$min-contrast-ratio: 2.5;

// Material Theming
@include mat.core();

// Light Theme ---------------------------------
// Define colors with mat palette
$app-primary: mat.define-palette(mat.$blue-palette, 700);
$app-accent: mat.define-palette(mat.$blue-palette, 500);
$app-danger: mat.define-palette(mat.$red-palette, 700);
// Create the theme for materials
$app-theme: mat.define-light-theme($app-primary, $app-accent, $app-danger);
// Other
$app-success: mat.define-palette(mat.$green-palette, 700);
$app-warning: mat.define-palette(mat.$orange-palette, 700);
$app-yellow: mat.define-palette(mat.$yellow-palette, 700);
$app-purple: mat.define-palette(mat.$deep-purple-palette, 700);
$app-grey: mat.define-palette(mat.$grey-palette, 700);
$app-brown: mat.define-palette(mat.$brown-palette, 700);
$app-blue-grey: mat.define-palette(mat.$blue-grey-palette, 700);
$app-deep-orange: mat.define-palette(mat.$deep-orange-palette, 700);
$app-lime: mat.define-palette(mat.$lime-palette, 700);
$app-light-green: mat.define-palette(mat.$light-green-palette, 700);
$app-teal: mat.define-palette(mat.$teal-palette, 700);
$app-cyan: mat.define-palette(mat.$cyan-palette, 700);
$app-indigo: mat.define-palette(mat.$indigo-palette, 700);
$app-pink: mat.define-palette(mat.$pink-palette, 700);

// Bg/Fg
$app-foreground: map-get($app-theme, foreground);
$app-background: map-get($app-theme, background);

// Use it
@include mat.all-component-themes($app-theme);
// Datetime picker
@include mat-datetimepicker-theme($app-theme);
// End of Light Theme ---------------------------------

// Dark Theme ---------------------------------
.dark-theme {
  // Define colors with mat palette
  $app-primary: mat.define-palette(mat.$grey-palette, 600);
  $app-accent: mat.define-palette(mat.$grey-palette, A200, A100, A400);
  $app-danger: mat.define-palette(mat.$red-palette, 300);
  // Create the theme for materials
  $app-theme: mat.define-dark-theme($app-primary, $app-accent, $app-danger);
  // Other
  $app-success: mat.define-palette(mat.$green-palette, 300);
  $app-warning: mat.define-palette(mat.$orange-palette, 300);
  // Bg/Fg
  $app-foreground: map-get($app-theme, foreground);
  $app-background: map-get($app-theme, background);

  // Use it
  @include mat.all-component-themes($app-theme);
  // Datetime picker
  @include mat-datetimepicker-theme($app-theme);
  // End of Dark Theme ---------------------------------
}
