<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black">
    <div class="container">
      <div class="col-lg-6 ms-auto me-auto">
        <div class="card card-login">
          <div class="card-header card-header-primary text-center h-25">
            <div class="social-line">
              <div style="height: 125px; display: contents; margin: 5px;">
                <h4 *ngIf="!isSendClicked && isTokenValid" class="mb2 card-title text-center" style="padding: 10px;">{{'settings.billing.payment_intent_create_title' | translate}}</h4>
                <h4 *ngIf="isSendClicked && isTokenValid && isBackendConnectionValid" class="mb2 card-title text-center" style="padding: 10px;">{{'settings.billing.payment_intent_create_success_title' | translate}}</h4>
                <h4 *ngIf="(isSendClicked || !isTokenValid) && !isBackendConnectionValid" class="mb2 card-title text-center" style="padding: 10px;">{{'general.unexpected_error_payment_intend' | translate}}</h4>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h4 class="mb2 card-title text-center" style="padding: 10px;" *ngIf="isSendClicked && isBackendConnectionValid">{{"settings.billing.payment_intent_create_success" | translate}}</h4>
            <h4 class="mb2 card-title text-center" style="padding: 10px;" *ngIf="!isTokenValid">{{"authentication.verify_email_token_not_valid" | translate}}</h4>
            <h4 class="mb2 card-title text-center" style="padding: 10px;" *ngIf="isSendClicked && isTokenValid && !isBackendConnectionValid">{{"general.unexpected_error_payment_intend" | translate}}</h4>
            <form *ngIf="!isSendClicked && isTokenValid" class="form">
              <div id="payment-element">
                <!-- Mount the Payment Element here -->
              </div>
            </form>
          </div>
          <div *ngIf="!showButton && isTokenValid" class="card-footer justify-content-center mb-4">
            <button mat-raised-button color="primary" type="submit" (click)=linkCardToAccount()>{{'settings.billing.payment_intent_save_start' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
