<div class="card">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <i class="material-icons">info</i>
    </div>
    <h3 class="card-title">{{'settings.information' | translate}}</h3>
  </div>
  <div class="card-body">
    <h4 align="justify">
      {{'settings.pricing.description' | translate}}
    </h4>
    <h4 *ngIf="!isActive" align="justify">

      <br>
      {{'settings.activation_contact_msg' | translate}}
    </h4>
  </div>
</div>

<form *ngIf="isActive" class="form" [formGroup]="formGroup">
  <div class="card">
    <div class="card-header card-header-icon card-header-primary">
      <div class="card-icon">
        <i class="material-icons">business</i>
      </div>
      <h3 class="card-title">{{'settings.pricing.convergentcharging.title' | translate}}</h3>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input autocomplete="off" appSetAutoFocus matInput type="text" [formControl]="convergentChargingUrl"
                   placeholder="{{'settings.pricing.convergentcharging.url' | translate}}"
                   required>
            <mat-error *ngIf="convergentChargingUrl.hasError('required')">{{"general.mandatory_field"
            | translate}}</mat-error>
            <mat-error *ngIf="convergentChargingUrl.hasError('maxlength')">
              <div [translate]="'general.error_max_length'" [translateParams]="{length: 2}"></div>
            </mat-error>
            <mat-error *ngIf="convergentChargingUrl.hasError('minlength')">
              <div [translate]="'general.error_max_length'" [translateParams]="{length: 2}"></div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input autocomplete="off" appSetAutoFocus matInput type="text" [formControl]="convergentChargingUser"
                   placeholder="{{'settings.pricing.convergentcharging.user' | translate}}"
                   required>
            <mat-error *ngIf="convergentChargingUser.hasError('required')">{{"general.mandatory_field"
            | translate}}</mat-error>
            <mat-error *ngIf="convergentChargingUser.hasError('maxlength')">
              <div [translate]="'general.error_max_length'" [translateParams]="{length: 3}"></div>
            </mat-error>
            <mat-error *ngIf="convergentChargingUser.hasError('minlength')">
              <div [translate]="'general.error_max_length'" [translateParams]="{length: 3}"></div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input autocomplete="off" appSetAutoFocus matInput type="password" [formControl]="convergentChargingPassword"
                   placeholder="{{'settings.pricing.convergentcharging.password' | translate}}"
                   required>
            <mat-error *ngIf="convergentChargingPassword.hasError('required')">{{"general.mandatory_field"
            | translate}}</mat-error>
            <mat-error *ngIf="convergentChargingPassword.hasError('maxlength')">
              <div [translate]="'general.error_max_length'" [translateParams]="{length: 3}"></div>
            </mat-error>
            <mat-error *ngIf="convergentChargingPassword.hasError('minlength')">
              <div [translate]="'general.error_max_length'" [translateParams]="{length: 3}"></div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="card-footer text-center">
      <span class="toolbar-spacer"></span>
      <button class="btn btn-danger mat-raised-button btn-theme pull-right" (click)="save(formGroup.value)"
              [disabled]="!formGroup.valid || !formGroup.dirty">
                    <span class="mat-button-wrapper">
                      <i class="material-icons mr-2">save</i>
                      <span class="btn-label">{{'general.save' | translate}}</span>
                    </span>
      </button>
    </div>
  </div>
</form>
