
.app-organization-name {
  font-size: 2em;
}

.app-organization {
  align-items: center;
}

.app-company-logo {
  max-width: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[src=""] {
  display: none;
}

div.app-company-image {
  padding: 5px;
  height: 100px;
}

.app-companies-logo {
  max-width:  3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Site
div.app-site-image-padding {
  padding: 10px;
}

// Site Area
div.app-site-area-image-padding {
  padding: 10px;
}


