@import "../../../../assets/scss/core/mixins";
@import "../../../../assets/scss/core/variables";


agm-map {
  height: 600px;
}

.app-spacer {
  flex: 1 1 auto;
}

::ng-deep agm-map.app-shadow div[tabindex] div:last-child {
  color: white !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}


