<!-- <h2 class="dialog-title" mat-dialog-title>{{"geomap.select_geolocation" | translate}}</h2> -->
<mat-dialog-content>
  <div class="row">
    <div class="col-md-8">
      <mat-form-field>
        <input matInput ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="setAddress($event)"
          placeholder="{{'geomap.search' | translate}}" type="text">
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <button class="btn btn-info btn-round mat-raised-button app-btn-min-width" (click)="minZoom()">
        <span class="mat-button-wrapper">
          <i class="material-icons mr-2">zoom_out</i>
          <span class="btn-label">{{'geomap.min_zoom'
            | translate}}</span>
        </span>
      </button>
    </div>
    <div class="col-md-2">
      <!-- <button (click)="maxZoom()">Max</button> -->
      <button class="btn btn-info btn-round mat-raised-button app-btn-min-width" (click)="maxZoom()">
        <span class="mat-button-wrapper">
          <i class="material-icons mr-2">zoom_in</i>
          <span class="btn-label">{{'geomap.max_zoom'
            | translate}}</span>
        </span>
      </button>
    </div>
  </div>


  <div class="row">
    <agm-map [streetViewControl]="false" [zoom]="4" [latitude]="mapLatitude" [longitude]="mapLongitude" (mapReady)="mapReady($event)"
      (mapClick)="mapClick($event)" [disableDefaultUI]="true">
      <agm-marker [latitude]="markerLatitude" [longitude]="markerLongitude" [markerDraggable]=true (dragEnd)="mapClick($event)">
      </agm-marker>
    </agm-map>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="mat-raised-button mat-primary" (click)="validate()">
    {{"general.ok" | translate}}
  </button>
  <button class="mat-raised-button" (click)="cancel()">{{"general.cancel" | translate}}</button>
</mat-dialog-actions>