.mat-dialog-content {
  padding: 4px 24px;
}

.dialog-header {
  display: flex;
  flex-direction: row;
}

.dialog-title {
  align-self: flex-start;
  margin: auto 0 10px 0;
  flex-grow: 1;
}

.dialog-icon-right {
  align-self: flex-end;
  text-align: end;
  margin: auto 0 5px 0 !important;
}

.mat-dialog-actions {
  padding: 15px 0 !important;
}

.card .mat-dialog-actions {
  padding: 0 !important;
}

.mat-dialog-container {
  padding-top: 15px !important;
}

.mat-dialog-title {
  display: flex;
}

.material-icons {
  vertical-align: middle;
}

.mat-dialog-container {
  google-map {
    height: 60vh !important;
  }
}

.app-spacer {
  flex: 1 1 auto;
}

.map-container {
  height: 500px !important;
  width: 100% !important;
  position: relative !important;
  overflow: hidden !important;
}

.app-btn-min-max-width {
  min-width: 10em !important;
  max-width: 12em !important;
}
