@import "../core/misc";

.spinner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1003;
  background: rgba(0,0,0,0.75);
  display: none;
}

.loader {
    margin: 0 auto;
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    &:before {
        content: '';
        display: block;
        padding-top: 100%;
    }
}

.circular {
  position: absolute;
  animation: rotate 4s linear infinite;
  transform-origin: center center;
}

.circular2 {
  position: absolute;
  animation: rotate-reverse 4s linear infinite;
  transform-origin: center center;
}

.circular3 {
  position: absolute;
  animation: rotate 4s linear infinite;
  transform-origin: center center;
}

.path {
  stroke-dasharray: 20;
  stroke-linecap: butt;
  stroke: $danger;
}

.path2 {
  stroke-dasharray: 20;
  stroke-linecap: butt;
  stroke: $success;
}

.path3 {
  stroke-dasharray: 20;
  stroke-linecap: butt;
  stroke: $primary;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-reverse {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $brand-info;
  }
  50% {
    stroke: $brand-info;
  }
  100% {
    stroke: $brand-info;
  }
}

a{
  color: $link-color;
  &:hover,
  &:focus{
      color: darken($link-color, 5%);
      text-decoration: none;
  }

  &.text-info{
      &:hover, &:focus{
          color: darken($brand-info, 5%);
      }
  }

  & .material-icons {
    vertical-align: middle;
  }
}

a[data-toggle="collapse"][aria-expanded="true"] .caret,
.dropdown.open .caret,
.dropup.open .caret,
.btn-group.bootstrap-select.open .caret{
    @include rotate-180();
}

.caret,
.bootstrap-tagsinput .tag,
.sidebar a,
.bootstrap-tagsinput [data-role="remove"] {
    @include transition-all($fast-transition-time, $transition-ease-in);
}
