.wrapper {
  &:after {
    display: table;
    clear: both;
    content: " ";
  }

  &.wrapper-full-page {
    //height: auto;
    min-height: 100vh;
  }
}

.full-page {

  &:after,
  &:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &:before {
    background-color: rgba(0, 0, 0, .5);
  }

  &[filter-color="blue"],
  &[filter-color="info"] {
    &:after {
      @include linear-gradient(rgba(mat-color($app-primary, lighter), .56), rgba(mat-color($app-primary, darker), .95));
    }
    @include lock-page-input-color($brand-info);
  }
  &[filter-color="green"],
  &[filter-color="success"] {
    &:after {
      @include linear-gradient(rgba(mat-color($app-success, lighter), .56), rgba(mat-color($app-success, darker), .95));
    }
    @include lock-page-input-color($brand-success);
  }
  &[filter-color="orange"],
  &[filter-color="warning"] {
    &:after {
      @include linear-gradient(rgba(mat-color($app-warning, lighter), .56), rgba(mat-color($app-warning, darker), .95));
    }
    @include lock-page-input-color($brand-warning);
  }

  &[filter-color="red"],
  &[filter-color="danger"] {
    &:after {
      @include linear-gradient(rgba(mat-color($app-danger, lighter), .56), rgba(mat-color($app-danger, darker), .95));
    }
    @include lock-page-input-color($brand-danger);
  }

  &[data-image]:after {
    opacity: .8;
  }

  > .content,
  > .footer {
    position: relative;
    z-index: 4;
  }

  > .content {
    min-height: calc(100vh - 80px);
  }

  .full-page-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;

  }

  .footer nav > ul a:not(.btn),
  .footer,
  .footer .copyright a {
    color: $brand-text;
  }

}

.clear-filter {
  &:before {
    display: none;
  }
}

.login-page,
.lock-page {
  > .content {
    padding-top: 18vh;
  }
  .page-header {
    min-height: 100vh;
    height: auto;
    display: inherit;

    .container {
      padding-top: 22vh !important;
    }
  }
}

.eula-page {
  overflow: auto;
  height: 90vh;
  padding-top: 0 !important;
  color: $brand-background;
}

.login-page {

  .card-login {
    min-width: 465px;
    @include transform-translate-y(0);
    @extend .animation-transition-general;

    background: $brand-background;
    opacity: 0.9;

    &.card-hidden {
      opacity: 0;
      @include transform-translate-y(-60px);
    }

    .card-header {
      margin-top: -40px;
      margin-bottom: 20px;
    }
    .card-body {
      padding: 0px 5% 0px 5%;

      .input-group {
        .input-group-prepend {
          width: 100%;
          padding-right: 5%;
        }
        .input-group-text {
          padding: 0px 10px 0 10px;
        }
        .form-control {
          padding-bottom: 10px;
          margin: 17px 0 0 0;
        }
      }
    }

    .social-line .btn {
      margin-left: 5px;
      margin-right: 5px;
    }

    &.card-hidden {
      opacity: 0;
      @include transform-translate-y(-60px);
    }
  }
}

.lock-page {

  .card-profile {
    width: 240px;
    margin: 60px auto 0;
    color: $brand-text;
    left: 0;
    right: 0;
    display: block;

    @include transform-translate-y(0);
    @extend .animation-transition-general;

    &.card-hidden {
      opacity: 0;
      @include transform-translate-y(-60px);
    }

    .card-avatar {
      max-width: 90px;
      max-height: 90px;
      margin-top: -45px;
    }

    .card-footer {
      border: none;
    }

    .form-group {
      text-align: left;
      margin-top: 15px;
    }

    &.with-animation {
      @include transition(300ms, $transition-ease-in);
    }

    .card-body + .card-footer {
      padding: 0.9375rem 1.875rem;
      margin: 0;
    }
  }

  .footer {
    z-index: 1;
    color: $brand-text;

    .copyright {
      a {
        color: $brand-text;
        font-weight: 500;

        &:hover {
          color: $brand-text;
        }
      }
    }
  }

}

.register-page {

  .card-signup {
    border-radius: $border-radius-base * 2;
    @include shadow-16dp();
    margin-bottom: 100px;
    padding: 40px 0px;
    margin-top: 15vh;

    .info {
      max-width: 360px;
      margin: 0 auto;
      padding: 0px;

      .info-title {
        color: #3C4858;
        margin: 30px 0 15px;
      }
    }

    .form-check {
      margin-top: 20px;
      margin-bottom: 0;

      label {
        margin-left: 27px;
      }

      .checkbox-material {
        padding-right: 20px;
      }
      a {
        color: $brand-text;
        font-weight: 500;
      }
    }

    .info-horizontal {

      .icon {
        float: left;
        margin-top: 24px;
        margin-right: 10px;

        i {
          font-size: 2.6em;
        }

        &.icon-primary {
          color: $brand-text;
        }
        &.icon-info {
          color: $brand-info;
        }
        &.icon-success {
          color: $brand-success;
        }
        &.icon-warning {
          color: $brand-warning;
        }
        &.icon-danger {
          color: $brand-danger;
        }
        &.icon-rose {
          color: $brand-info;
        }
      }

      .description {
        overflow: hidden;
      }
    }

    .form-group {
      margin: 27px 0 0 7px;
      padding-bottom: 0;
    }
  }

  .container {
    position: relative;
    z-index: 3;
  }

  .footer {
    color: $brand-text;

    .container {
      padding: 0;
    }
    .copyright {
      a {
        color: $brand-text;
        font-weight: 500;

        &:hover {
          color: $brand-text;
        }
      }
    }
  }

  .form-check {
    label {
      margin-left: 27px;
    }
    .form-check-label {
      padding-left: 34px;
    }

  }

}

.pricing-page {
  padding: 0 !important;

  .title {
    color: $brand-text;
    margin-top: 5vh;
  }

  .section-space {
    display: block;
    height: 70px;
  }

  .card-plain {
    .icon i,
    .card-title {
      color: $brand-background;
    }
  }

  .description {
    color: $brand-text;
  }
  &.full-page:before {
    background-color: rgba(0, 0, 0, 0.65);
  }

  .footer {
    z-index: 2;
    color: $brand-text;

    .container {
      padding: 0;
    }
    .copyright {
      a {
        color: $brand-text;
        font-weight: 500;

        &:hover {
          color: $brand-text;
        }
      }
    }
  }
}

.off-canvas-sidebar {
  .navbar-toggler .navbar-toggler-icon {
    background-color: $brand-text !important;
  }

  .navbar-collapse {
    .nav {
      > li > a,
      > li > a:hover {
        color: $brand-text;
        margin: 0 15px;
      }

      > li > a:focus,
      > li > a:hover {
        background: rgba(200, 200, 200, 0.2);
      }
    }
    &:after {
      background-color: #282828;
    }
  }
}

.offline-doc {
  .navbar .navbar-nav {
    .nav-item .nav-link {
      color: $brand-background;
    }
  }
}

@media screen and (max-width: 991px) {
  .off-canvas-sidebar {
    .page-header {
      > .container {
        padding-top: 70px;
        padding-bottom: 200px;
      }
    }
  }
}

.login-page {
  .footer {
    .container {
      padding: 0;
    }
    .copyright,
    a {
      color: $brand-text;
      font-weight: 500;
    }
  }
}
