<table class="col-md-12">
    <ng-container *ngIf="textPosition==='top'">
        <tr>
            <td [class]="(textClass ? textClass : '') +  ' current-power-text text-center'" colspan="3">
                {{powerSliderDisplayedValueInkW}}
            </td>
        </tr>
    </ng-container>
    <tr>
        <td *ngIf="displayMinSliderValue" class="text-right col-2em">
            {{minPowerSliderDisplayed | appUnit:'W':'kW':false:powerDigitPrecision:powerFloatingPrecision}}
        </td>
        <td *ngIf="textPosition==='left'" [class]="'text-center current-power-text ' + (textClass ? textClass : '')">
            {{powerSliderDisplayedValueInkW}}
        </td>
        <td>
            <mat-slider #powerSlider thumbLabel [displayWith]="formatPowerPercent" class="col-md-12" (input)="sliderInput()"
                (change)="sliderChanged()" [min]="minPowerSlider" [max]="maxPowerSlider" [step]="stepPowerSlider"
                [value]="powerSliderValue">
            </mat-slider>
        </td>
        <td *ngIf="textPosition==='right'" [class]="'text-left current-power-text ' + (textClass ? textClass : '')">
            {{powerSliderDisplayedValueInkW}}
        </td>
        <td *ngIf="displayMaxSliderValue" class="text-left col-5em">
            {{maximumPower | appUnit:'W':'kW':true:powerDigitPrecision:powerFloatingPrecision}}
        </td>
    </tr>
    <ng-container *ngIf="textPosition==='bottom'">
        <tr>
            <td [class]="(textClass ? textClass : '') +  ' current-power-text text-center bottom-position'" colspan="3">
                {{powerSliderDisplayedValueInkW}}
            </td>
        </tr>
    </ng-container>
</table>