<div class="card">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <mat-icon>business</mat-icon>
    </div>
    <h3 class="card-title">{{'settings.billing.stripe.title' | translate}}</h3>
  </div>

  <div class="card-body" [formGroup]="stripe">
    <div class="row" style="margin-top: 1em">
      <div class="col-md-6">
        <mat-form-field>
          <input appAutofocus matInput type="text" formControlName="url"
                 placeholder="{{'settings.billing.stripe.url' | translate}}" required>
          <mat-error *ngIf="stripeUrl.errors?.required">{{"general.mandatory_field"
            | translate}}</mat-error>
          <mat-error *ngIf="stripeUrl.errors?.maxlength">
            <div [translate]="'general.error_max_length'" [translateParams]="{length: 200}"></div>
          </mat-error>
          <mat-error *ngIf="stripeUrl.errors?.pattern">
            <div [translate]="'general.error_url_pattern'"></div>
          </mat-error>
          <button mat-icon-button matSuffix aria-label="View" (click)="openUrl()"
                  [disabled]="stripeUrl.errors?.pattern || stripeUrl.errors?.required">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin-top: 1em">
      <div class="col-md-6">
        <mat-form-field>
          <input appAutofocus matInput type="password"
                 placeholder="{{'settings.billing.stripe.secret_key' | translate}}"
                 formControlName="secretKey" required>
          <mat-error *ngIf="stripeSecretKey.errors?.required">{{"general.mandatory_field"
            | translate}}</mat-error>
          <mat-error *ngIf="stripeSecretKey.errors?.maxlength">
            <div [translate]="'general.error_max_length'" [translateParams]="{length: 100}"></div>
          </mat-error>
          <mat-error *ngIf="stripeSecretKey.errors?.invalid">
            <div [translate]="'settings.billing.stripe.invalid_secret_key'"></div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin-top: 1em">
      <div class="col-md-6">
        <mat-form-field>
          <input appAutofocus matInput type="text" formControlName="publicKey"
                 placeholder="{{'settings.billing.stripe.public_key' | translate}}" required>
          <mat-error *ngIf="stripePublicKey.errors?.required">{{"general.mandatory_field"
            | translate}}</mat-error>
          <mat-error *ngIf="stripePublicKey.errors?.maxlength">
            <div [translate]="'general.error_max_length'" [translateParams]="{length: 100}"></div>
          </mat-error>
          <mat-error *ngIf="stripePublicKey.errors?.invalid">
            <div [translate]="'settings.billing.stripe.invalid_public_key'"></div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin-top: 1em">
      <div class="col-md-6">
        <label
          id="stripe-billing-method-selection">{{'settings.billing.stripe.billing_method' | translate}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-6 text-left">
        <div class="form-group">
          <mat-checkbox formControlName="immediateBillingAllowed">
            {{'settings.billing.stripe.immediate_billing' | translate}}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-6 text-left">
        <div class="form-group">
          <mat-checkbox formControlName="periodicBillingAllowed">
            {{'settings.billing.stripe.periodic_billing' | translate}}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-left">
        <mat-form-field>
          <mat-select formControlName="taxCountry" placeholder="{{'settings.billing.stripe.tax_country' | translate}}">
            <mat-option value="none" selected>No tax</mat-option>
            <mat-option *ngFor="let tax of taxes" [value]="tax.countryCode">
              {{ tax.countryCode }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" formControlName="taxCode"
                 placeholder="{{'settings.billing.stripe.tax_code' | translate}}" required>
          <mat-error *ngIf="taxCode.errors?.required">{{"general.mandatory_field"
            | translate}}</mat-error>
          <mat-error *ngIf="taxCode.errors?.maxlength">
            <div [translate]="'general.error_max_length'" [translateParams]="{length: 20}"></div>
          </mat-error>
          <mat-error *ngIf="taxCode.errors?.invalid">
            <div [translate]="'settings.billing.stripe.invalid_tax_code'"></div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
