<div class="card">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <mat-icon>business</mat-icon>
    </div>
    <h3 class="card-title">{{'settings.billing.stripe.title' | translate}}</h3>
  </div>

  <div class="card-body">
    <div class="row" style="margin-top: 1em">
      <div class="col-md-6">
        <mat-form-field>
          <input appAutofocus matInput type="text" [formControl]="stripeUrl"
            placeholder="{{'settings.billing.stripe.url' | translate}}" required>
          <mat-error *ngIf="stripeUrl.errors?.required">{{"general.mandatory_field"
            | translate}}</mat-error>
          <mat-error *ngIf="stripeUrl.errors?.maxlength">
            <div [translate]="'general.error_max_length'" [translateParams]="{length: 200}"></div>
          </mat-error>
          <mat-error *ngIf="stripeUrl.errors?.pattern">
            <div [translate]="'general.error_url_pattern'"></div>
          </mat-error>
          <button mat-icon-button matSuffix aria-label="View" (click)="openUrl()"
            [disabled]="stripeUrl.errors?.pattern || stripeUrl.errors?.required">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin-top: 1em">
      <div class="col-md-6">
        <mat-form-field>
          <input appAutofocus matInput type="password"
            placeholder="{{'settings.billing.stripe.secret_key' | translate}}"
            [formControl]="stripeSecretKey" required>
          <mat-error *ngIf="stripeSecretKey.errors?.required">{{"general.mandatory_field"
            | translate}}</mat-error>
          <mat-error *ngIf="stripeSecretKey.errors?.maxlength">
            <div [translate]="'general.error_max_length'" [translateParams]="{length: 100}"></div>
          </mat-error>
          <mat-error *ngIf="stripeSecretKey.errors?.invalid">
            <div [translate]="'settings.billing.stripe.invalid_secret_key'"></div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row" style="margin-top: 1em">
        <div class="col-md-6">
          <mat-form-field>
            <input appAutofocus matInput type="text" [formControl]="stripePublicKey"
              placeholder="{{'settings.billing.stripe.public_key' | translate}}" required>
            <mat-error *ngIf="stripePublicKey.errors?.required">{{"general.mandatory_field"
              | translate}}</mat-error>
            <mat-error *ngIf="stripePublicKey.errors?.maxlength">
              <div [translate]="'general.error_max_length'" [translateParams]="{length: 100}"></div>
            </mat-error>
            <mat-error *ngIf="stripePublicKey.errors?.invalid">
              <div [translate]="'settings.billing.stripe.invalid_public_key'"></div>
            </mat-error>
          </mat-form-field>
        </div>
    </div>
    <div class="row" style="margin-top: 1em">
      <div class="col-md-6">
        <label id="stripe-billing-method-selection">{{'settings.billing.stripe.billing_method' | translate}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-6 text-left">
        <div class="form-group">
          <mat-checkbox [formControl]="stripeImmediateBillingAllowed">
              {{'settings.billing.stripe.immediate_billing' | translate}}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-6 text-left">
        <div class="form-group">
          <mat-checkbox [formControl]="stripePeriodicBillingAllowed">
            {{'settings.billing.stripe.periodic_billing' | translate}}
        </mat-checkbox>
      </div>
    </div>
  </div>
</div>
