table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th {
  font-weight: bold;
}

tr {
  height: 35px!important;
}

td, th {
  font-size: 1rem;
}

th:first-child, td:first-child {
  padding: 0 25px;
}

th:nth-child(n+2), td:nth-child(n+2) {
  padding-right: 20px;
}

.filter-row {
  width: 150px; 
  margin-right: 10px;
}

.filter-action {
  width: 250px; 
}

.mat-column-select {
  overflow: initial;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-toolbar-row {
  padding-top: 15px;
}

.table-header {
  background-color: white;
}

.site-col-name {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}

.col-city {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}

.col-country {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

.company-col-name {
  width: 200px;
  min-width: 200px;
  max-width: 20px;
}

/** Logs **/
.logs-col-level {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}

.logs-col-source {
  width: 175px;
  min-width: 175px;
  max-width: 175px;
}

.col-master-select {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  border-bottom-width:0;
}

.col-select {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  border-bottom-width:0;
}

.col-date {
  width: 175px;
  min-width: 175px;
  max-width: 175px;
}

.col-user {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}

.col-action {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}

.col-message {
  width: 800px;
  min-width: 800px;
  max-width: 800px;
}
