<mat-form-field>
  <input matInput [placeholder]="searchPlaceholder" (keyup)="searchSourceSubject.next(searchInput.value)" #searchInput>
</mat-form-field>

<div class="mat-elevation-z8">
  <!-- Paginator -->
  <mat-paginator #paginatorUp [pageSizeOptions]="pageSizes" (page)="handlePageChangedUp()" ></mat-paginator>

  <!-- Table -->
  <div style="overflow: auto">
    <table mat-table [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="handleSortChanged()">
      <!-- Columns -->
      <ng-container *ngFor="let columnDef of columnDefs, index as i" [matColumnDef]="columnDef.id">
        <th mat-header-cell [class]="(columnDef.headerClass?columnDef.headerClass:'')" 
          *matHeaderCellDef mat-sort-header>{{columnDef.name}}</th>
        <td mat-cell [class]="(columnDef.class?columnDef.class:'')" 
          *matCellDef="let row" [innerHtml]="getRowValue(row, columnDef)"></td>
      </ng-container>

      <!-- Rows -->
      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;" (click)="rowClick(row)"></tr>
    </table>
  </div>

  <!-- Paginator -->
  <mat-paginator #paginatorDown [pageSizeOptions]="pageSizes" (page)="handlePageChangedDown()" ></mat-paginator>
</div>