table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th {
  font-weight: bold;
}

td, th {
  font-size: 1rem;
}

th:first-child, td:first-child {
  padding: 0 20px;
}

th:nth-child(n+2), td:nth-child(n+2) {
  padding-right: 20px;
}
