@import "../../../assets/scss/core/variables";
@import "../../pages/charging-stations/charging-stations-data-source-table.scss";

.mat-form-field, .mat-select-content, .mat-select, .mat-option {
  font-size: 0.9rem !important;
  width: 100%;
}

th {
  font-weight: bold;
}

td {
  font-size: 0.9rem;
}

td a {
  margin: 0;
}

th {
  font-size: 1rem;
}

tr.mat-row {
  height: initial;
}

th:first-child, td:first-child {
  padding: 0 25px;
}

th:nth-child(n+2), td:nth-child(n+2) {
  padding-right: 20px;
}

@mixin col-size($width) {
  width: $width;
  min-width: $width;
}

.col-350pxx {
  @include col-size(25px);
}

.col-600pxx {
  @include col-size(50px);
}

.col-75px {
  @include col-size(75px);
}

.col-100px {
  @include col-size(100px);
}

.col-150px {
  @include col-size(150px);
}

.col-200px {
  @include col-size(200px);
}

.col-250px {
  @include col-size(250px);
}

.col-300px {
  @include col-size(300px);
}

.col-400px {
  @include col-size(400px);
}

.col-500px {
  @include col-size(500px);
}

.col-600px {
  @include col-size(600px);
}

.filter-row {
  margin-right: 10px;
  @media screen and (max-width: $res435) {
    width: 100%;
    margin: 0;
  }
}

.table-detailed-list {
  overflow: auto;
  white-space: nowrap;
  background-color: white;
}

.table-list {
  overflow: auto;
  white-space: nowrap;
  height: calc(100vh - 300px);
  min-height: 250px;
  background-color: white;
}

.table-dialog-list {
  overflow: auto;
  min-height: 50vh;
  min-width: 50vw;
  width: 50vh;
  height: calc(100vh - (0.7 * 100vh));
  background-color: white;
}

.table-list-under-tabs {
  overflow: auto;
  height: calc(100vh - 400px);
  min-height: 250px;
  background-color: white;
}

.form-field-popup {
  cursor: pointer;
}

.mat-column-select {
  overflow: initial;
}

tr.mat-footer-row {
  font-weight: bold;
}

tr.mat-header-row {
  height: 40px;
}

.table-header {
  background-color: white;

}

.col-select {
  border-bottom-width: 0;
}

.mat-toolbar {
  @media screen and (max-width: $res375) {
    overflow: auto;
  }
  padding-right: 15px;
  padding-left: 15px;
}

.mat-toolbar-row {
  padding: 10px;
  align-items: center;
}

.details-row {
  height: 0;
}

.details-column-header i {
  padding-top: 5px;
  margin-left: -5px;
}

.details-column-row i {
  padding-top: 5px;
  margin-left: -5px;
  cursor: pointer;
}

.element-details {
  overflow: hidden;
  display: flex;
}

tr.element-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}
