<div class="card">
  <div class="card-header">
    <h3 class="card-title">Example of buttons within tabs</h3>
  </div>
  <div class="card-body">
    <mat-tab-group class="mat-tab-info">
      <mat-tab>
        <ng-template mat-tab-label>
          Tab 1
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Tab 2
        </ng-template>
      </mat-tab>
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button mat-button>
            <mat-icon>save</mat-icon><span>{{'general.save' | translate}}</span>
          </button>
          <button mat-button>
            <mat-icon>refresh</mat-icon>
          </button>
          <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div class="row m-0">
  <div class="col-md-6 color-bg-light">
    <div class="card-header">
      <h3 class="card-title">Basic Buttons</h3>
    </div>
    <div class="card-body">
      <button mat-button class="mr-2">Basic</button>
      <button mat-button class="mr-2" color="primary">Primary</button>
      <button mat-button class="mr-2" color="accent">Accent</button>
      <button mat-button class="mr-2" color="warn">Warn</button>
      <button mat-button class="mr-2" disabled>Disabled</button>
      <a mat-button href="javascript:void(0)">Link</a>
      <br />
      <pre>
        <code>
          &lt;button mat-button color=&quot;primary&quot; disabled&gt;
            button_name
          &lt;/button&gt;
          &lt;a mat-button routerLink=&quot;.&quot;&gt;Link&lt;/a&gt;
        </code>
      </pre>
    </div>
  </div>
  <div class="col-md-6 color-bg-light">
    <div class="card-header">
      <h3 class="card-title">Raised Buttons</h3>
    </div>
    <div class="card-body">
      <button mat-raised-button class="mr-2">Basic</button>
      <button mat-raised-button class="mr-2" color="primary">Primary</button>
      <button mat-raised-button class="mr-2" color="accent">Accent</button>
      <button mat-raised-button class="mr-2" color="warn">Warn</button>
      <button mat-raised-button class="mr-2" disabled>Disabled</button>
      <a mat-raised-button href="javascript:void(0)">Link</a>
      <br />
      <pre>
        <code>
          &lt;button mat-raised-button color=&quot;primary&quot; disabled&gt;
            button_name
          &lt;/button&gt;
          &lt;a mat-raised-button routerLink=&quot;.&quot;&gt;Link&lt;/a&gt;
        </code>
      </pre>
    </div>
  </div>
  <div class="col-md-6 color-bg-light">
    <div class="card-header">
      <h3 class="card-title">Raised Buttons with Icons</h3>
    </div>
    <div class="card-body">
      <button mat-raised-button class="mr-2">
        <mat-icon>save</mat-icon><span>Basic</span>
      </button>
      <button mat-raised-button class="mr-2" color="primary">
        <mat-icon>save</mat-icon><span>Primary</span>
      </button>
      <button mat-raised-button class="mr-2" color="accent">
        <mat-icon>save</mat-icon><span>Accent</span>
      </button>
      <button mat-raised-button class="mr-2" color="warn">
        <mat-icon>save</mat-icon><span>Warn</span>
      </button>
      <button mat-raised-button class="mr-2" disabled>
        <mat-icon>save</mat-icon><span>Disabled</span>
      </button>
      <a mat-raised-button href="javascript:void(0)">
        <mat-icon>save</mat-icon><span>Link</span>
      </a>
      <br />
      <pre>
        <code>
          &lt;button mat-raised-button class=&quot;mr-2&quot; disabled&gt;
            &lt;mat-icon &gt;save&lt;/mat-icon&gt;&lt;span&gt;Disabled&lt;/span&gt;
          &lt;/button&gt;
          &lt;a mat-raised-button routerLink=&quot;.&quot;&gt;
            &lt;mat-icon &gt;save&lt;/mat-icon&gt;&lt;span&gt;Link&lt;/span&gt;
          &lt;/a&gt;
        </code>
      </pre>
    </div>
  </div>
  <div class="col-md-6 color-bg-light">
    <div class="card-header">
      <h3 class="card-title">Stroked Buttons</h3>
    </div>
    <div class="card-body">
      <button mat-stroked-button class="mr-2">Basic</button>
      <button mat-stroked-button class="mr-2" color="primary">Primary</button>
      <button mat-stroked-button class="mr-2" color="accent">Accent</button>
      <button mat-stroked-button class="mr-2" color="warn">Warn</button>
      <button mat-stroked-button class="mr-2" disabled>Disabled</button>
      <a mat-stroked-button href="javascript:void(0)">Link</a>
      <br />
      <pre>
        <code>
          &lt;button mat-stroked-button color=&quot;primary&quot; disabled&gt;
            button_name
          &lt;/button&gt;
          &lt;a mat-stroked-button routerLink=&quot;.&quot;&gt;Link&lt;/a&gt;
        </code>
      </pre>
    </div>
  </div>
  <div class="col-md-6 color-bg-light">
    <div class="card-header">
      <h3 class="card-title">Flat Buttons</h3>
    </div>
    <div class="card-body">
      <button mat-flat-button class="mr-2">Basic</button>
      <button mat-flat-button class="mr-2" color="primary">Primary</button>
      <button mat-flat-button class="mr-2" color="accent">Accent</button>
      <button mat-flat-button class="mr-2" color="warn">Warn</button>
      <button mat-flat-button class="mr-2" disabled>Disabled</button>
      <a mat-flat-button href="javascript:void(0)">Link</a>
      <br />
      <pre>
        <code>
          &lt;button mat-flat-button color=&quot;primary&quot; disabled&gt;
            button_name
          &lt;/button&gt;
          &lt;a mat-flat-button routerLink=&quot;.&quot;&gt;Link&lt;/a&gt;
        </code>
      </pre>
    </div>
  </div>
  <div class="col-md-6 color-bg-light">
    <div class="card-header">
      <h3 class="card-title">Icon Buttons</h3>
    </div>
    <div class="card-body">
      <button mat-icon-button class="mr-2">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="primary" class="mr-2">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="accent" class="mr-2">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="warn" class="mr-2">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button disabled>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <br />
      <pre>
        <code>
          &lt;button mat-icon-button color=&quot;primary&quot; disabled&gt;
            button_name
          &lt;/button&gt;
        </code>
      </pre>
    </div>
  </div>
  <div class="col-md-6 color-bg-light">
    <div class="card-header">
      <h3 class="card-title">Fab Buttons</h3>
    </div>
    <div class="card-body">
      <button mat-fab class="mr-2">Basic</button>
      <button mat-fab class="mr-2" color="primary">Primary</button>
      <button mat-fab class="mr-2" color="accent">Accent</button>
      <button mat-fab class="mr-2" color="warn">Warn</button>
      <button mat-fab class="mr-2" disabled>Disabled</button>
      <button mat-fab class="mr-2">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <a mat-fab href="javascript:void(0)">Link</a>
      <br />
      <pre>
        <code>
          &lt;button mat-fab color=&quot;primary&quot; disabled&gt;
            button_name
          &lt;/button&gt;
        </code>
      </pre>
    </div>
  </div>
  <div class="col-md-6 color-bg-light">
    <div class="card-header">
      <h3 class="card-title">Mini Fab Buttons</h3>
    </div>
    <div class="card-body">
      <button mat-mini-fab class="mr-2">Basic</button>
      <button mat-mini-fab class="mr-2" color="primary">Primary</button>
      <button mat-mini-fab class="mr-2" color="accent">Accent</button>
      <button mat-mini-fab class="mr-2" color="warn">Warn</button>
      <button mat-mini-fab class="mr-2" disabled>Disabled</button>
      <button mat-mini-fab class="mr-2">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <a mat-mini-fab href="javascript:void(0)">Link</a>
      <br />
      <pre>
        <code>
          &lt;button mat-mini-fab color=&quot;primary&quot; disabled&gt;
            button_name
          &lt;/button&gt;
        </code>
      </pre>
    </div>
  </div>
</div>
