<div class="h-100 d-flex flex-column">
    <app-statistics-filters [buttonsOfGroup1]="chartSelectorButtons"
                            [tableFiltersDef]="allFiltersDef"
                            (buttonOfGroup1)="chartChanged($event)"
                            (category)="categoryChanged($event)" (year)="yearChanged($event)" 
                            (filters)="filtersChanged($event)" (refreshAll)="buildCharts()"></app-statistics-filters>

    <div class="table">
        <div [hidden]="(selectedChart !== 'month') && chartsInitialized">
            <canvas #usageBarChart></canvas>
        </div>
        <div [hidden]="(selectedChart === 'month') && chartsInitialized">
            <canvas #usagePieChart></canvas>
        </div>
    </div>    
</div>
