<div class="d-flex flex-column">
  <div class="left-actions d-flex flex-row mat-toolbar-row">
    <button mat-raised-button color="primary" class="mb-2" (click)="requestOCPPParameters()"
            [disabled]="!isGetConfigurationActive">
      <mat-icon>get_app</mat-icon>
      <span>{{'chargers.button_get_configuration' | translate}}</span>
    </button>
    <button mat-raised-button color="primary" class="mb-2" (click)="updateOCPPParametersFromTemplate()"
            [disabled]="!isGetConfigurationActive">
      <mat-icon>input</mat-icon>
      <span>{{'chargers.button_force_ocpp_params_update_from_template' | translate}}</span>
    </button>
    <button mat-raised-button color="primary" class="mb-2" (click)="exportOCPPParameters()">
      <mat-icon>cloud_download</mat-icon>
      <span>{{'general.export' | translate}}</span>
    </button>
  </div>
  <div class="col search-form">
    <mat-form-field>
      <input #searchInput [placeholder]="searchPlaceholder | translate" matInput>
    </mat-form-field>
  </div>
  <form [formGroup]="formGroup" class="w-100">
    <div class="table-responsive flex-grow-1">
      <div class="ocpp-param-component">
        <table class="mat-table d-flex">
          <tbody class="w-100">
          <tr *ngFor="let item of chargerConfiguration" class="mat-row" role="row">
            <th class="text-left">{{item.key | translate}}</th>
            <td class="d-flex flex-grow-1 justify-content-center">
              <button mat-icon-button color="primary" *ngIf="!item.readonly" (click)="changeOCPPParameter(item)"
                      appTooltip [title]="item.tooltip | translate">
                <mat-icon>{{item.icon}}</mat-icon>
              </button>
              <button mat-icon-button color="primary" *ngIf="!item.readonly" (click)="clearOCPPParameter(item)"
                      [hidden]="item.icon === 'edit'" appTooltip [title]="'general.cancel' | translate">
                <mat-icon>clear</mat-icon>
              </button>
            </td>
            <td [class.py-2]="item.readonly" class="text-left w-100">
              <input [id]="item.key" #parameter *ngIf="!item.readonly" matInput [formControlName]="item.key"
                    [value]="item.value">
              <ng-container *ngIf="item.readonly">{{item.value}}</ng-container>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form> -->
</div>
