
.connector-card {
    background: rgba($brand-primary, 0.1);
}

.component-invisible {
    display: none;
}

.connector-type-select-option {
    img {
        filter: invert(1);
    }
    &:hover {
        img {
            filter: invert(0);
        }
    }
}

.charger-dialog-component {
    max-height: 55vh !important;
}