
.connector-card {
    background: rgba($brand-primary, 0.1);
}

.component-invisible {
    display: none;
}

.connector-type-select-option {
    img {
        filter: invert(1);
    }
    &:hover {
        img {
            filter: invert(0);
        }
    }
}

.card-connector-icon {
    font-family: none !important; // Need to be deactivate to display properly SVG icons
}

.charger-dialog-component {
    max-height: 55vh !important;
}

.connector-type-select-fix .mat-form-field-infix {
    height: 45px;
}

.charger-dialog-container {
  max-height: 85vh !important;
}

.charger-param-component {
    max-height: 74vh !important;
}

.charger-prop-component {
    max-height: 80vh !important;
}

.ocpp-param-component {
    max-height: 57vh !important;
}
