.chart-container {
  position: relative;
  width: 100%;
  margin: 0 0 0 0;
}

.chart {
  position: relative;
  width: 100%;
}

.icon-left {
  position: absolute;
  bottom: 0px;
  margin-bottom: -5px;
}

.chart-position {
  position: absolute;
  left: 0;
  bottom: 0
}

.chart-position-in-pop-up {
}