.current-power-text {
  margin-top: -10px;
  font-size: 1.2em;
}

.current-power-text-in-list {
  margin-top: -55px;
  font-size: 1em;
}

.bottom-position {
  position: relative;
  top: -20px;
}

.current-power-text-not-supported {
  color: $brand-warn;
}

.mat-slider-thumb-label-text {
  font-size: 10px;
}

.mat-slider-thumb-label {
  width: 30px;
  height: 30px;
}

.mat-slider-horizontal .mat-slider-thumb-label {
  top: -37px !important;
}
