<!-- Toolbar -->
<div class="mat-toolbar p-0" [hidden]="!filterAreaVisible">
  <!-- Actions  -->
  <div class="row m-0">
    <!-- Create Left Actions -->
    <div class="col">
      <!-- Export data -->
      <button mat-raised-button (click)="exportData()" color="primary" appTooltip
        class="col-12 col-md-auto me-0 me-md-2 mb-2"
        [title]="'general.export' | translate">
        <mat-icon>cloud_download</mat-icon><span>{{'general.export' | translate}}</span>
      </button>
      <!-- Reset Filters -->
      <button mat-raised-button (click)="resetFilters()" color="primary" appTooltip
        class="col-12 col-md-auto me-0 me-md-2 mb-2"
        [title]="'general.reset_filters' | translate">
        <mat-icon>cancel</mat-icon><span>{{'general.reset_filters' | translate}}</span>
      </button>
      <!-- SAC links -->
      <div *ngIf="sacLinksActive">
        <button mat-raised-button [matMenuTriggerFor]="sacLinksButton" color="primary" appTooltip
          class="col-12 col-md-auto me-0 me-md-2 mb-2"
          [title]="'analytics.links' | translate">
          <mat-icon>visibility</mat-icon><span>{{'settings.tabs.analytics' | translate}}</span>
        </button>
        <mat-menu #sacLinksButton="matMenu" yPosition="below" [overlapTrigger]="false" class="dropdown-button">
          <ng-template ngFor let-sacLink [ngForOf]="sacLinks">
            <a mat-menu-item href="{{sacLink.url}}" target="_blank">{{sacLink.description}}</a>
          </ng-template>
        </mat-menu>
      </div>
    </div>
    <!-- Create Right Actions -->
    <div class="col-xs-12 col-md-auto">
      <!-- Button group for scope (months, etc.) -->
      <div class="btn-group mat-button-group col me-2">
        <button mat-raised-button *ngFor="let button of buttonsOfScopeGroup"
          (click)="buttonOfScopeGroupChanged(button.name)" color="primary" appTooltip
          [class.selected-button]="activeButtonOfScopeGroup && (activeButtonOfScopeGroup.name === button.name)"
          [class.inactive-button]="button.inactive" [title]="button.title | translate">
          <span>{{button.title | translate}}</span>
        </button>
      </div>
      <!-- Refresh -->
      <button mat-raised-button
        class="button-refresh col-auto mb-2" (click)="refresh()" color="primary" appTooltip
        [title]="'general.refresh' | translate">
        <div *ngIf="ongoingRefresh" class="spinner-autorefresh2">
          <div class="loader"></div>
        </div>
        <div *ngIf="!ongoingRefresh" class="refresh-icon">
          <mat-icon>refresh</mat-icon>
        </div>
      </button>
    </div>
  </div>
  <!-- filters -->
  <div class="row m-0">
    <!-- Category of statistics -->
    <div *ngIf="isAdmin" class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
      <mat-form-field>
        <mat-select (selectionChange)="categoryChanged()" [(value)]="selectedCategory"
          [placeholder]="'statistics.category_label' | translate">
          <mat-option [value]="'C'">{{'transactions.charging_station' | translate}}</mat-option>
          <mat-option [value]="'U'">{{'transactions.user' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- transaction year -->
    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-1">
      <mat-form-field>
        <mat-select (selectionChange)="yearChanged()" [(value)]="selectedYear"
          [placeholder]="'statistics.transactions_years' | translate">
          <ng-template ngFor let-year [ngForOf]="transactionYears">
            <mat-option *ngIf="(year > 0); else allYears" [value]="year">{{year}}</mat-option>
            <ng-template #allYears>
              <mat-option [value]=0>{{'general.all' | translate}}</mat-option>
            </ng-template>
          </ng-template>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- dynamically defined filters, like for Site ID -->
    <ng-template ngFor let-filterDef [ngForOf]="tableFiltersDef">
      <div *ngIf="filterDef.visible !== false" [class]="(filterDef.class ? filterDef.class : '')">
        <!-- Dropdown Filter -->
        <mat-form-field *ngIf="filterDef.type === 'dropdown' && !filterDef.multiple">
          <mat-select (selectionChange)="filterChanged(filterDef)" [(value)]="filterDef.currentValue"
            [placeholder]="filterDef.name | translate">
            <mat-option *ngFor="let item of filterDef.items" [value]="item.key">{{item.value | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Dropdown Filter with multiple selections-->
        <mat-form-field *ngIf="filterDef.type === 'dropdown' && filterDef.multiple">
          <mat-select (selectionChange)="filterChanged(filterDef)" [(value)]="filterDef.currentValue"
            [placeholder]="filterDef.name | translate" multiple disableRipple>
            <mat-select-trigger>{{filterDef.label}}</mat-select-trigger>
            <mat-option *ngFor="let item of filterDef.items" [value]="item">{{item.value | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Dialog Table Filter -->
        <mat-form-field *ngIf="filterDef.type === 'dialog-table' && !filterDef.multiple" [hidden]="tableColumnDef?.visible === false">
          <input (click)="showDialogTableFilter(filterDef)" [placeholder]="filterDef.name | translate"
            [value]="(filterDef.currentValue ? filterDef.currentValue[0].value : filterDef.defaultValue) | translate"
            class="form-field-popup" matInput readonly=true type="text" />
          <button mat-icon-button matSuffix (click)="resetDialogTableFilter(filterDef)" aria-label="Clear">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
        <!-- Dialog Table Filter with multiple selections -->
        <mat-form-field *ngIf="filterDef.type === 'dialog-table' && filterDef.multiple" [hidden]="tableColumnDef?.visible === false">
          <input (click)="showDialogTableFilter(filterDef)" [placeholder]="filterDef.name | translate"
            [value]="filterDef.label" class="form-field-popup" matInput readonly=true type="text" />
          <button mat-icon-button matSuffix (click)="resetDialogTableFilter(filterDef)" aria-label="Clear">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
        <!-- Date Range Filter -->
        <div *ngIf="filterDef.type === 'date-range'">
          <app-date-time-range
            placeholder="site_areas.consumption_date"
            [timePicker]="filterDef.dateRangeTableFilterDef.timePicker"
            [timePickerSeconds]="filterDef.dateRangeTableFilterDef.timePickerSeconds"
            [startDate]="filterDef.currentValue?.startDate"
            [endDate]="filterDef.currentValue?.endDate"
            (dateTimeRangeChanged)="dateTimeRangeChanged(filterDef, $event)">
          </app-date-time-range>
        </div>
      </div>
    </ng-template>
  </div>
</div>
