.pricing-dimension {
  min-height: 4em;
  padding: 1em 0 1em 1em;
  text-align: left;
}

.pricing-header {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.pricing-div {
  margin: auto;
}

.stepSize {
  display: contents;
}

.pricing-card-body {
  height: 60vh;
}

.dimension-toggle {
  text-align: left;
}

.pricing-set {
  color: $state-success-bg;
}

.pricing-not-set {
  color: $state-danger-bg;
}
