.app-cars-logo {
  max-width:  3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.car-object-component {
  max-height: 50vh;
  overflow-x: scroll;
  width: 100%;
}

.car-carousel-component {
  width: 100%;
  height: 80vh;
}
