
.app-car-important-props  {
  font-size: 1.5em;
}

.app-car {
  width: 100%;
}

.app-cars-logo {
  max-width:  4em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.car-advanced {
  max-height: 70vh;
  overflow-x: scroll;
  width: 100%;
}

.car-warn {
  font-size: 1rem;
  color: $brand-danger;
}

.car-catalog-carousel {
  min-height: 40vh;
  width: 50vw;
  margin: auto;
  overflow: hidden !important;
}

.app-car-name {
  font-size: 2em;
}
