@mixin chart-color($color) {
  color: $color !important;
}

.chart-default {
  @include chart-color($brand-default);
}

.chart-primary {
  @include chart-color($brand-primary);
}

.chart-accent {
  @include chart-color($brand-accent);
}

.chart-info {
  @include chart-color($brand-info);
}

.chart-success {
  @include chart-color($brand-success);
}

.chart-warning {
  @include chart-color($brand-warning);
}

.chart-danger {
  @include chart-color($brand-warn);
}

.chart-grey {
  @include chart-color($brand-disabled);
}

.chart-container {
  position: relative;
  width: 100%;
  height: 35vh;
  @media (max-width: 1280px) {
    height: 20em;
  }
  margin: 0 0 20px 0;
}

.chart {
  position: relative;
  width: 100%;
}

.icon-left {
  position: absolute;
  bottom: 0px;
  margin-bottom: -5px;
}

.graph-no-consumption {
  text-align: center !important;
  font-size: 1rem;
}
