
.mat-dialog-content {
  padding: 4px 24px;
}

.dialog-header {
  display: flex;
  flex-direction: row;
}

.dialog-title {
  align-self: flex-start;
  margin: auto 0 10px 0;
  flex-grow: 1;
}

.dialog-icon-right {
  align-self: flex-end;
  text-align: end;
  margin: auto 0 5px 0 !important;
}

.mat-dialog-actions {
  padding-bottom: 15px;
}

mat-dialog-container {
  .main-content {
    height: 100%;
    .card {
      height: 100%;
      .mat-tab-group {
        height: 100%;
        .card-body{
          height: 100%;
        }
      }
    }
  }
}