
.icon {
  width: 3em;
  height: 3em;

  &-charger {
    @extend .icon;
    filter: invert(1);
  }
}

.icon-font {
  font-size: 3em;
}

.avatar {
  @include shadow-big();
  vertical-align: center;
}

.first-text {
  font-size: $font-size-base;
}

.second-text {
  font-size: $font-size-xs;
}

.material-icons-new {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-white {
  webkit-filter: contrast(4) invert(1);
  -moz-filter: contrast(4) invert(1);
  -o-filter: contrast(4) invert(1);
  -ms-filter: contrast(4) invert(1);
  filter: contrast(4) invert(1);
}

.session-image {
  width: 4em;
  height: 4em;
}
