<div class="main-content">
  <div class="form-group">
    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <mat-icon>vertical_align_bottom</mat-icon>
        </div>
        <h3 class="card-title text-left">
          {{'chargers.smart_charging.maximum_energy_limit' | translate: {chargeBoxID: charger.id} }}
        </h3>
      </div>
      <div class="card-body">
        <div class="row col-md-12 pt-3" *ngIf="charger.siteArea.smartCharging === false; else smartChargingEnabled">
          <app-charging-station-power-slider class="col-md-12" [charger]="charger"
            (silderChanged)="powerSliderChanged($event)">
          </app-charging-station-power-slider>
        </div>
        <div class="col-md-12 text-right" *ngIf="charger.siteArea.smartCharging === false">
          <button mat-raised-button color="primary" (click)="applyStaticLimitConfirm()"
            [disabled]="this.ampInitialLimit === this.ampCurrentLimit">
            <mat-icon>save</mat-icon><span>{{'general.apply' | translate}}</span>
          </button>
        </div>
        <ng-template #smartChargingEnabled>
          <div class="row">
            <div class="col-md-12">
              {{'chargers.smart_charging.smart_charging_enabled_static_limitation' | translate: {ampCurrentLimit: ampCurrentLimit} }}
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
