<div class="h-100 d-flex flex-column">
    <app-statistics-filters [buttonsOfGroup1]="chartSelectorButtons"
                            [tableFiltersDef]="allFiltersDef"
                            (buttonOfGroup1)="chartChanged($event)"
                            (category)="categoryChanged($event)" (year)="yearChanged($event)" 
                            (filters)="filtersChanged($event)" (refreshAll)="buildCharts()"></app-statistics-filters>
       
    <div class="chart">
        <div [hidden]="(selectedChart === 'month') && chartsInitialized">
            <h2><canvas #consumptionPieChart class='chart-primary'></canvas></h2>
        </div>
    
        <div [hidden]="(selectedChart !== 'month') && chartsInitialized">
            <h2><canvas #consumptionBarChart class='chart-primary'></canvas></h2>
        </div>
    </div>
</div>
