<div class="card">
    <div class="card-header card-header-icon card-header-primary">
      <div class="card-icon">
        <mat-icon>ev_station</mat-icon>
      </div>

      <h3 class="card-title" *ngIf=!selectedYear>{{'general.menu.consumption' | translate}}</h3>
      <h3 class="card-title" *ngIf=!!selectedYear>{{chartTitle}} : {{totalConsumption | number}} {{'statistics.charger_kw_h' | translate}}</h3>

    </div>
 
    <div class="card-body">

        <!-- Toolbar -->
        <div class="mat-toolbar">
            <!-- Actions  -->
            <div class="left-actions d-flex flex-row mat-toolbar-row ">
                <!-- Create Left Actions -->
                <!-- Reset Filters -->
                <button mat-raised-button (click)="resetFilters()"
                        [color]="'primary'" appTooltip="" data-placement="bottom"
                        data-toggle="tooltip" [title]="'general.reset_filters' | translate">
                    <mat-icon>cancel</mat-icon><span>{{'general.reset_filters' | translate}}</span>
                </button>
  
                <!-- Spacer -->
                <span class="toolbar-spacer"></span>
  
                <!-- Create Right Actions -->
                <div class="right-actions d-flex align-items-center justify-content-md-end align-self-md-start">
                <!-- Refresh -->
                    <button mat-raised-button 
                            class="button-refresh" (click)="refresh()"
                            [color]="'primary'"
                            appTooltip="" data-toggle="tooltip" data-placement="bottom" [title]="'general.refresh' | translate">
                        <div *ngIf="ongoingRefresh" class="spinner-autorefresh2">
                            <div class="loader"></div>
                        </div>
                        <div *ngIf="!ongoingRefresh" class="refresh-icon">
                            <mat-icon>refresh</mat-icon>
                        </div>
                    </button>
                </div>
            </div>


            <!-- filters -->
            <div class="d-flex flex-row mr-auto flex-wrap mat-toolbar-row filter-row">

                <!-- transaction year -->
                <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2">
                    <mat-form-field>    
                        <mat-select (selectionChange)="setYear()" [(value)]="selectedYear"
                            [placeholder]="'statistics.transactions_years' | translate">
                            <mat-option *ngFor="let year of transactionYears" [value]="year">{{year}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> 

                <!-- Site ID -->
                <div class="col-md-6 col-lg-3 col-xl-2">
                    <mat-form-field>
                        <input (click)="showDialogTableFilter('sites')" [placeholder]="'sites.title' | translate"
                          [value]="(selectedSite && selectedSite.name ? selectedSite.name : 'general.all') | translate"
                          class="form-field-popup" matInput readonly=true type="text"/>
                        <button mat-icon-button matSuffix (click)="resetDialogTableFilter('sites')" aria-label="Add">
                            <mat-icon>clear</mat-icon>
                        </button>
                      </mat-form-field>
                </div>    
                
                <!-- Site area -->
                <div class="col-md-6 col-lg-3 col-xl-2">
                    <mat-form-field>
                        <input (click)="showDialogTableFilter('siteAreas')" [placeholder]="'site_areas.title' | translate"
                            [value]="(selectedSiteArea && selectedSiteArea.name ? selectedSiteArea.name : 'general.all') | translate"
                             class="form-field-popup" matInput readonly=true type="text"/>
                        <button mat-icon-button matSuffix (click)="resetDialogTableFilter('siteAreas')" aria-label="Add">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-form-field>
                </div>    

                <!-- Charger -->
                <div class="col-md-6 col-lg-3 col-xl-2">
                    <mat-form-field>
                        <input (click)="showDialogTableFilter('charger')" [placeholder]="'chargers.title' | translate"
                               [value]="(selectedCharger && selectedCharger.id ? selectedCharger.id : 'general.all') | translate"
                               class="form-field-popup" matInput readonly=true type="text"/>
                        <button mat-icon-button matSuffix (click)="resetDialogTableFilter('charger')" aria-label="Add">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-form-field>
                </div>    
    
                <!-- User -->
                <div class="col-md-6 col-lg-4 col-xl-2">
                    <mat-form-field>
                        <input (click)="showDialogTableFilter('user')" [placeholder]="'logs.user' | translate"
                               [value]="(selectedUser && selectedUser.name ? selectedUser.name : 'general.all') | translate"
                               class="form-field-popup" matInput readonly=true type="text"/>
                        <button mat-icon-button matSuffix (click)="resetDialogTableFilter('user')" aria-label="Add">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-form-field>
                </div>    
    
                <!--    
            <div *ngFor="let filterDef of dataSource.tableFiltersDef; let i=index"
            [class]="(filterDef.class ? filterDef.class : '')">
            <Dropdown Filter/> 
            <mat-form-field *ngIf="filterDef.type === 'dropdown'">
              <mat-select (selectionChange)="filterChanged(filterDef, $event)" [(value)]="filterDef.currentValue"
                [placeholder]="filterDef.name | translate">
                <mat-option *ngFor="let item of filterDef.items" [value]="item.key">{{item.value | translate}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <Dialog Table Filter/> 
            <mat-form-field *ngIf="filterDef.type === 'dialog-table'">
              <input (click)="showDialogTableFilter(filterDef)" [placeholder]="filterDef.name | translate"
                [value]="(filterDef.currentValue ? filterDef.currentValue[0].value : filterDef.defaultValue) | translate"
                class="form-field-popup" matInput readonly=true type="text" />
              <button mat-icon-button matSuffix (click)="resetDialogTableFilter(filterDef)" aria-label="Add">
                <mat-icon>clear</mat-icon>
              </button>
            </mat-form-field>
        -->

            </div>
        </div>

    </div>    
</div>
<div class="card">
    <div class="card-header card-header-icon card-header-primary"></div>
    <div class="card-body">      
        <canvas #consumptionBarChart></canvas>
<!--     
        <button mat-raised-button *ngIf=!!selectedYear
            (click)="toggleHideBarItems()">
            {{'statistics.legend_select_unselect_all' | translate}}
        </button>
    -->
    </div>
</div>    
    <!--    <span class="toolbar-spacer"></span> -->

<div class="card">
    <div class="card-header card-header-icon card-header-primary"></div>
    <div class="card-body">
        <canvas #consumptionPieChart></canvas>
<!--
        <button mat-raised-button *ngIf=!!selectedYear
            (click)="toggleHidePieItems()">
            {{'statistics.legend_select_unselect_all' | translate}}
        </button>
    -->
    </div> 

</div>
