<app-statistics-filters [chartButtons]="chartSelectorButtons"
                        [tableFiltersDef]="allFiltersDef"
                        (chartName)="chartChanged($event)"
                        (category)="categoryChanged($event)" (year)="yearChanged($event)" 
                        (filters)="filtersChanged($event)" (refreshAll)="buildCharts()"></app-statistics-filters>

<div [hidden]="(selectedChart !== 'month') && chartsInitialized">
    <canvas #consumptionBarChart></canvas>
</div>
<div [hidden]="(selectedChart === 'month') && chartsInitialized">
    <canvas #consumptionPieChart></canvas>
</div>
