<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form class="form" [formGroup]="formGroup" (keydown.enter)="$event.preventDefault()">
                    <div class="card card-profile card-testimonial">
                        <div class="card-header card-header-tabs card-header-primary">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#company" data-toggle="tab">
                                                <i class="material-icons">portrait</i> {{name.value}}
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <span class="toolbar-spacer"></span>
                                        <button *ngIf="this.isAdmin" class="btn btn-info mat-raised-button" (click)="saveCompany(formGroup.value)"
                                            [disabled]="!formGroup.valid || !formGroup.dirty">
                                            <span class="mat-button-wrapper">
                                                <i class="material-icons mr-2">save</i>
                                                <span class="btn-label">{{'general.save' | translate}}</span>
                                            </span>
                                        </button>
                                        <button *ngIf="currentCompanyID" class="btn btn-info mat-raised-button" (click)="refresh()">
                                            <span class="mat-button-wrapper">
                                                <i class="material-icons mr-2">refresh</i>
                                                <span class="btn-label">{{'general.refresh' | translate}}</span>
                                            </span>
                                        </button>
                                        <button *ngIf="isOpenInDialog()" class="btn btn-info mat-raised-button"
                                            mat-dialog-close>
                                            <span class="mat-button-wrapper">
                                                <i class="material-icons">close</i>
                                            </span>
                                        </button>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="company">
                                    <div class="row  app-align-center">
                                        <div class="col-md-2">
                                            <div class="rotating-card-container">
                                                <div class="card card-rotate card-background" style="height: 100px">
                                                    <div class="front front-background" [ngStyle]="{'background-image': 'url(' + logo + ')', 'background-size' : 'contain', 'background-repeat': 'no-repeat'}">
                                                        <div class="card-body">
                                                        </div>
                                                    </div>
                                                    <div class="back back-background" [ngStyle]="{'background-image': 'url(' + logo + ')', 'background-size' : 'contain', 'background-repeat': 'no-repeat'}">
                                                        <div *ngIf="this.isAdmin" class="card-body">
                                                            <div class="footer justify-content-center">
                                                                <a href="javascript:void(0)" class="btn btn-success btn-just-icon btn-fill btn-round btn-wd">
                                                                    <i class="material-icons" (click)="file.click()">mode_edit</i>
                                                                    <div style="display:none">
                                                                        <input type="file" name="..." (change)="logoChanged($event)"
                                                                            #file>
                                                                    </div>
                                                                </a>
                                                                <a href="javascript:void(0)" class="btn btn-danger btn-just-icon btn-fill btn-round">
                                                                    <i class="material-icons" (click)="clearLogo()">delete</i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <mat-form-field>
                                                    <input appSetAutoFocus matInput placeholder="{{'companies.name' | translate}}"
                                                        class="app-company-name-bold" type="text" [formControl]="name"
                                                        required>
                                                    <mat-error *ngIf="name.hasError('required')">
                                                        {{"general.mandatory_field" | translate}}
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <app-address-cmp [formGroup]="formGroup"></app-address-cmp>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>