<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form class="form" [formGroup]="formGroup">
                    <div class="card card-profile card-testimonial">
                        <div class="card-header card-header-tabs card-header-danger">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#company" data-toggle="tab">
                                                <i class="material-icons">portrait</i> {{name.value}}
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <span class="toolbar-spacer"></span>
                                        <button class="btn btn-info mat-raised-button" (click)="saveCompany(formGroup.value)"
                                            [disabled]="!formGroup.valid || !formGroup.dirty">
                                            <span class="mat-button-wrapper">
                                                <i class="material-icons mr-2">save</i>
                                                <span class="btn-label">{{'general.save' | translate}}</span>
                                            </span>
                                        </button>
                                        <button *ngIf="currentCompanyID" class="btn btn-info mat-raised-button" (click)="refresh()">
                                            <span class="mat-button-wrapper">
                                                <i class="material-icons mr-2">refresh</i>
                                                <span class="btn-label">{{'general.refresh' | translate}}</span>
                                            </span>
                                        </button>
                                        <button *ngIf="isOpenInDialog()" class="btn btn-info mat-raised-button"
                                            mat-dialog-close>
                                            <span class="mat-button-wrapper">
                                                <i class="material-icons">close</i>
                                            </span>
                                        </button>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="company">
                                    <div class="row app-align-center">
                                        <div class="col-md-2 app-div-logo">
                                            <div class="fileinput fileinput-exists text-center" data-provides="fileinput">
                                                <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                                                    <img [src]="logo" alt="...">
                                                </div>
                                                <div style="display:none">
                                                    <input type="file" name="..." (change)="logoChanged()">
                                                </div>
                                            </div>
                                            <button href="javascript:void(0)" (click)="clearLogo()" class="btn btn-danger btn-round fileinput-exists card-image-remove fa fa-times"></button>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <mat-form-field>
                                                    <input appSetAutoFocus matInput placeholder="{{'companies.name' | translate}}"
                                                        class="app-company-name-bold"
                                                        type="text" [formControl]="name" required>
                                                    <mat-error *ngIf="name.hasError('required')">
                                                        {{"general.mandatory_field" | translate}}
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <app-address-cmp [formGroup]="formGroup"></app-address-cmp>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>