<form class="form row">
  <div class="card-body tab-dialog-min-content">
    <div class="tab-content">
      <div class="tab-pane active" id="ocpi">
        <div class="row app-organization">
          <label *ngIf="!public">
            {{"sites.private_limitation" | translate}}
          </label>
          <mat-form-field>
            <input matInput type="text" placeholder="{{'ocpi.tariffID' | translate}}"
              [formControl]="tariffID" />
            <mat-error *ngIf="tariffID?.errors?.required">{{"general.mandatory_field" | translate}}</mat-error>
            <mat-error *ngIf="tariffID?.errors?.maxlength">
              <div [translate]="'general.error_max_length'" [translateParams]="{length: 50}"></div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>
