<div class="row">
  <!-- Authentication Url -->
  <div class="col-md-6">
    <div class="form-group">
      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'settings.asset.connection.authentication_url' | translate }}"
          type="url"
          [formControl]="authenticationUrl"
          required
        />
        <mat-error *ngIf="authenticationUrl.errors?.required">{{
          'general.mandatory_field' | translate
        }}</mat-error>
        <mat-error *ngIf="authenticationUrl.errors?.pattern">{{
          'general.error_url_pattern' | translate
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="row">
  <!-- ClientID -->
  <div class="col-md-6">
    <div class="form-group">
      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'settings.asset.connection.client_id' | translate }}"
          type="text"
          [formControl]="clientId"
          required
        />
        <mat-error *ngIf="clientId.errors?.required">{{
          'general.mandatory_field' | translate
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <!-- Client Secret -->
  <div class="col-md-6">
    <div class="form-group">
      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'settings.asset.connection.client_secret' | translate }}"
          type="password"
          [formControl]="clientSecret"
          required
        />
        <mat-error *ngIf="clientSecret.errors?.required">{{
          'general.mandatory_field' | translate
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="row">
  <!-- User -->
  <div class="col-md-6">
    <div class="form-group">
      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'settings.asset.connection.user' | translate }}"
          type="text"
          [formControl]="user"
          required
        />
        <mat-error *ngIf="user?.errors?.required">{{
          'general.mandatory_field' | translate
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <!-- Password -->
  <div class="col-md-6">
    <div class="form-group">
      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'settings.asset.connection.password' | translate }}"
          type="password"
          [formControl]="password"
          required
        />
        <mat-error *ngIf="password?.errors?.required">{{
          'general.mandatory_field' | translate
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</div>
