<div *ngIf="!isActive" class="card">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <mat-icon>info</mat-icon>
    </div>
    <h3 class="card-title">{{'settings.information' | translate}}</h3>
  </div>
  <div class="card-body">
    <span>{{'settings.pricing.full_description' | translate}}</span>
    <a href="https://help.sap.com/viewer/product/SAP_CONVERGENT_CHARGING/4.0/en-US" target="new"><u>SAP Convergent Charging</u></a><br><br>
    {{'settings.activation_contact_msg' | translate}}
  </div>
</div>
<!-- Convergent Charging Pricing -->
<app-settings-convergent-charging *ngIf="isActive && pricingSettings?.type === 'convergentCharging'" [pricingSettings]="pricingSettings" [formGroup]="formGroup"></app-settings-convergent-charging>
<!-- Pricing Definitions -->
<app-pricing-definitions *ngIf="isActive && pricingSettings?.type === 'simple' && isTestTenant" [inDialog]="false" [currentPricingDefinitionID]="currentPricingDefinitionID" [currentEntityID]="currentEntityID" [currentEntityType]="currentEntityType"></app-pricing-definitions>
