<div class="main-content">
  <div class="card card-profile card-testimonial">
    <mat-tab-group animationDuration="0ms" disableRipple="true" class="mat-tab-info mat-tabs-with-actions">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>portrait</mat-icon>
          <span>{{'general.general' | translate}}</span>
        </ng-template>
        <div class="card-body mat-tab-dialog-body-content">
          <app-site-area-main #siteAreaMainComponent [formGroup]="formGroup" [currentSiteAreaID]="currentSiteAreaID" [siteArea]="siteArea" [readOnly]="readOnly" (siteChanged)="siteChanged($event)"></app-site-area-main>
        </div>
      </mat-tab>
      <mat-tab *ngIf="ocpiActive">
        <ng-template mat-tab-label>
          <mat-icon>cloud</mat-icon>
          <span>{{'settings.tabs.ocpi' | translate}}</span>
        </ng-template>
        <div class="card-body mat-tab-dialog-body-content">
          <app-site-area-ocpi #siteAreaOcpiComponent [formGroup]="formGroup" [siteArea]="siteArea" [readOnly]="readOnly"></app-site-area-ocpi>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="tabs-actions">
      <button mat-button (click)="saveSiteArea(formGroup.getRawValue())"
        [disabled]="!formGroup.valid || !formGroup.dirty">
        <mat-icon>save</mat-icon>
        <span>{{'general.save' | translate}}</span>
      </button>
      <button mat-icon-button *ngIf="dialogRef" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>