<nav #navbar class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
  <div class="container-fluid pb-2 ps-0 pe-0">
    <button mat-icon-button class="navbar-toggler btn-no-ripple" type="button" (click)="sidebarToggle()">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <mat-slide-toggle appTooltip *ngIf="isMobile" (change)="toggleFilterAreaVisible($event.checked)"
      [checked]="filterAreaVisible" class="me-2" title="{{'general.auto_refresh' | translate}}">
      {{'general.show_filters' | translate}}
    </mat-slide-toggle>
  </div>
</nav>
