<div class="logo">
  <div class="simple-text logo-mini">
    <a mat-button (click)="toggleSidebar()" href="javascript:void(0)">
      <i class="material-icons">menu</i>
    </a>
  </div>
  <div *ngIf="!misc?.sidebar_mini_active" class="simple-text mr-2">
    {{'general.app_name' | translate}}
    <div>
      <a routerLink="/release-notes" class="app-version">
        {{'general.last_update' | translate}}
      </a>
    </div>
  </div>
  <div class="simple-text">
    <img class="logo-img" [src]="logo" alt="">
  </div>
</div>
<div class="sidebar-wrapper">
  <div class="user">
    <div class="photo">
      <img [src]="loggedUserImage" />
    </div>
    <div class="user-info">
      <a data-toggle="collapse" href="#collapseDetails" class="collapsed">
        <span>
          {{loggedUser?.name}}
          <b class="caret"></b>
        </span>
        <span>
          {{loggedUser?.firstName}}
        </span>
      </a>
      <div class="collapse" id="collapseDetails">
        <ul class="nav">
          <li *ngIf="canEditProfile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            class="nav-item">
            <a [routerLink]="['/users/' + loggedUser?.id ]" class="nav-link">
              <span class="sidebar-mini"><i class="material-icons sidebar-mini-icons">portrait</i></span>
              <span class="sidebar-normal">{{'users.profile' | translate}}</span>
            </a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
            <a href="javascript:void(0)" (click)="logout()" class="nav-link">
              <span class="sidebar-mini"><i class="material-icons sidebar-mini-icons">lock</i></span>
              <span class="sidebar-normal">{{'authentication.sign_out' | translate}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="nav">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let menuitem of menuItems"
      class="nav-item">
      <!--If is a single link-->
      <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'" class="nav-link">
        <i class="material-icons">{{menuitem.icon}}</i>
        <p>{{'general.menu.' + menuitem.title | translate}}</p>
      </a>
      <!--If it have a submenu-->
      <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub'" (click)="updatePS()"
        class="nav-link">
        <i class="material-icons">{{menuitem.icontype}}</i>
        <p>{{'general.menu.' + menuitem.title | translate}}
          <b class="caret"></b>
        </p>
      </a>

      <!--Display the submenu items-->
      <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
        <ul class="nav">
          <li routerLinkActive="active" *ngFor="let childitem of menuitem.children" class="nav-item">
            <a [routerLink]="[menuitem.path, childitem.path]" class="nav-link">
              <span class="sidebar-mini">{{childitem.ab}}</span>
              <span class="sidebar-normal">{{childitem.title}}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <!--<a *ngIf="isAdmin" routerLink="/release-notes" class="nav-link">-->
  <!--<i class="material-icons">info</i>-->
  <!--{{'general.last_update' | translate}}-->
  <!--</a>-->

  <!--<span *ngIf="!isAdmin" class="nav-link">-->
  <!--<i class="material-icons">info</i>-->
  <!--{{'general.last_update' | translate}}-->
  <!--</span>-->
</div>
