<div *ngIf="!isActive" class="card">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <mat-icon>info</mat-icon>
    </div>
    <h3 class="card-title">{{ 'settings.information' | translate }}</h3>
  </div>
  <div class="card-body">
    <div>{{ 'settings.asset.description' | translate }}</div>
    <br />
    {{ 'settings.activation_contact_msg' | translate }}
  </div>
</div>

<div *ngIf="isActive" class="settings-table">
  <form class="form h-100" [formGroup]="formGroup">
    <div class="mat-toolbar-row mat-toolbar-settings">
      <button
        mat-raised-button
        color="warn"
        (click)="save()"
        [hidden]="!authorizations || !authorizations.canUpdate"
        [disabled]="!formGroup.valid || !formGroup.dirty"
      >
        <mat-icon>save</mat-icon>
        <span>{{ 'general.save' | translate }}</span>
      </button>
    </div>
    <!-- Connections -->
    <div class="card assets-settings-connections">
      <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
          <mat-icon>account_balance</mat-icon>
        </div>
        <h3 class="card-title">{{ 'settings.asset.connection.title' | translate }}</h3>
      </div>
      <div class="card-body">
        <app-table [dataSource]="assetConnectionListTableDataSource"></app-table>
      </div>
    </div>
  </form>
</div>
