<div class="main-content">
  <mat-tab-group
    (selectedIndexChange)="updateRoute($event)"
    [selectedIndex]="activeTabIndex"
    animationDuration="0ms"
    disableRipple="true"
    class="h-100 mat-tab-info"
  >
    <mat-tab *ngIf="canListCompanies">
      <ng-template mat-tab-label>
        <mat-icon>business</mat-icon><span>{{ 'organization.tabs.companies' | translate }}</span>
      </ng-template>
      <ng-template matTabContent>
        <app-companies-list></app-companies-list>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="canListSites">
      <ng-template mat-tab-label>
        <mat-icon>store_mall_directory</mat-icon
        ><span>{{ 'organization.tabs.sites' | translate }}</span>
      </ng-template>
      <ng-template matTabContent>
        <app-sites-list></app-sites-list>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="canListSiteAreas">
      <ng-template mat-tab-label>
        <mat-icon>view_week</mat-icon><span>{{ 'organization.tabs.siteareas' | translate }}</span>
      </ng-template>
      <ng-template matTabContent>
        <app-site-areas-list></app-site-areas-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
