
.endpoint-details {
    .mat-chip-list-wrapper {
      justify-content: center
    }
  }

.endpoints-table {
    .mat-chip-list-wrapper {
      justify-content: center;
    }
  }

.chip-width-4em {
  max-width: 4em;
  min-width: 4em;
}

.chip-width-5em {
  min-width: 4em;
}

.chip-width-8em {
  min-width: 4em;
}

.chip-width-10em {
  min-width: 10em!important
}

.chip-width-13em {
  min-width: 13em !important;
}
