<div>
  <div class="row">
  </div>
  <ng-container *ngFor="let pricingDefinition of pricingDefinitions">
    <div class="card connector-card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <mat-icon>money</mat-icon>
        </div>
        <h4 class="card-title text-left">
          Pricing {{pricingDefinition.name}}
        </h4>
      </div>
      <div class="card-body">
        <ng-container *ngIf="pricingDefinition.dimensions?.energy?.pricedData">
          <div class="d-flex flex-row text-left">
            <div class="d-flex flex-column mb-3 align-items-center" appTooltip data-toggle="tooltip"
              title="Unit">
              <mat-icon>money</mat-icon>
              <div class="first-text">Price: {{pricingDefinition.dimensions.energy.pricedData.unitPrice}}</div>
            </div>
          </div>
          <div class="d-flex flex-row text-left">
            <div class="d-flex flex-column mb-3 align-items-center" appTooltip data-toggle="tooltip"
              title="Quantity">
              <mat-icon>quantity</mat-icon>
              <div class="first-text">Quantity: {{pricingDefinition.dimensions.energy.pricedData.quantity}}</div>
            </div>
          </div>
          <div class="d-flex flex-row text-left">
            <div class="d-flex flex-column mb-3 align-items-center" appTooltip data-toggle="tooltip"
              title="Energy">
              <mat-icon>money</mat-icon>
              <div class="first-text">Energy: {{pricingDefinition.dimensions.energy.pricedData.roundedAmount}}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
