<div class="main-content vw-90 vh-90 car-connector-settings-dialog-size">
  <div class="card card-profile card-testimonial">
    <mat-tab-group
      animationDuration="0ms"
      disableRipple="true"
      class="mat-tab-info"
      [class]="dialogRef ? 'mat-tabs-with-actions' : 'mat-tabs-with-close-action'"
    >
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>bluetooth_drive</mat-icon>
          <span>{{ name.value }}</span>
        </ng-template>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <div class="row">
                <!-- Name -->
                <div class="col-md-12">
                  <div class="form-group">
                    <mat-form-field>
                      <input
                        appAutofocus
                        matInput
                        placeholder="{{ 'settings.car_connector.connection.name' | translate }}"
                        type="text"
                        [formControl]="name"
                        required
                      />
                      <mat-error *ngIf="name.errors?.required">
                        {{ 'general.mandatory_field' | translate }}
                      </mat-error>
                      <mat-error *ngIf="name.errors?.maxlength">
                        <div
                          [translate]="'general.error_max_length'"
                          [translateParams]="{ length: 100 }"
                        ></div>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <!-- Description -->
                <div class="col-md-12">
                  <div class="form-group">
                    <mat-form-field>
                      <input
                        matInput
                        placeholder="{{
                          'settings.car_connector.connection.description' | translate
                        }}"
                        type="text"
                        [formControl]="description"
                        required
                      />
                      <mat-error *ngIf="description.errors?.required">
                        {{ 'general.mandatory_field' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <!-- Type -->
                <div class="col-md-6">
                  <div class="form-group">
                    <mat-form-field>
                      <mat-select
                        [formControl]="type"
                        placeholder="{{ 'settings.car_connector.connection.type' | translate }}"
                        (selectionChange)="typeChanged($event.value)"
                        required
                      >
                        <mat-option
                          *ngFor="let carConnectorConnectionType of carConnectorConnectionTypes"
                          value="{{ carConnectorConnectionType.key }}"
                        >
                          {{ carConnectorConnectionType.value | translate }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="type.errors?.required">
                        {{ 'general.mandatory_field' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="type.value === 'mercedes'">
                <div class="col-md-12">
                  <app-settings-mercedes-connection
                    [formGroup]="formGroup"
                    [mercedesConnection]="mercedesConnection"
                  >
                  </app-settings-mercedes-connection>
                </div>
              </div>
              <div class="row" *ngIf="type.value === 'tronity'">
                <div class="col-md-12">
                  <app-settings-tronity-connection
                    [formGroup]="formGroup"
                    [tronityConnection]="tronityConnection"
                  >
                  </app-settings-tronity-connection>
                </div>
              </div>
              <div class="row" *ngIf="type.value === 'targaTelematics'">
                <div class="col-md-12">
                  <app-settings-targa-telematics-connection
                    [formGroup]="formGroup"
                    [targaTelematicsConnection]="targaTelematicsConnection"
                  >
                  </app-settings-targa-telematics-connection>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button mat-icon-button *ngIf="inDialog" (click)="cancel()">
            <mat-icon>close</mat-icon>
          </button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <div [class]="dialogRef ? 'tabs-actions' : 'tabs-actions-embedded'">
      <button
        mat-icon-button
        (click)="save(formGroup.value)"
        title="{{ 'general.save' | translate }}"
        [disabled]="!formGroup.valid || !formGroup.dirty"
      >
        <mat-icon>save</mat-icon>
      </button>
      <button mat-icon-button (click)="close()" title="{{ 'general.close' | translate }}">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
