<!-- <div class="main-content"> -->
  <div class="table-responsive-md flex-grow-1">
    <mat-dialog-content class="charger-dialog-component">
      <table class="mat-table" role="grid">
        <tbody role="rowgroup">
          <ng-container *ngFor="let item of displayedProperties" >
            <tr *ngIf="item.value" class="mat-row" role="row">
              <td  class="py-2" align="left" ><strong>{{item.title | translate}}</strong></td>
              <td class="py-2" align="left">{{item.value}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-dialog-content>
  </div>
  
<!-- </div> -->
