<div class="main-content">
  <mat-tab-group (selectedIndexChange)="updateRoute($event)" [selectedIndex]="activeTabIndex" animationDuration="0ms" disableRipple="true" class="h-100 mat-tab-info">
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-lg fa-building"></i>
        &nbsp;&nbsp;{{'building.tabs.buildings' | translate}}
      </ng-template>
      <ng-template matTabContent>
        <app-buildings-list></app-buildings-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
