<div class="row m-2 align-items-center">
  <div class="col-md-4 col-lg-2">
    <app-date-time-range
      placeholder="site_areas.consumption_date"
      [startDate]="startDate"
      [endDate]="endDate"
      (dateTimeRangeChanged)="dateFilterChanged($event)">
    </app-date-time-range>
  </div>
  <div class="col-auto mt-2 me-auto">
    <mat-slide-toggle class="mx-auto" (change)="loadAllConsumptionsChanged($event)">
      {{'transactions.graph.load_all_consumptions' | translate}}
    </mat-slide-toggle>
  </div>
  <div class="col-auto ms-auto" [hidden]="siteAreaConsumptions?.values?.length === 0">
    <app-chart-unit-selector (unitChanged)="unitChanged($event)"></app-chart-unit-selector>
  </div>
</div>
<div *ngIf="siteAreaConsumptions?.values?.length === 0" class="graph-no-consumption">
  {{'organization.graph.no_consumption' | translate}}
</div>
<div [hidden]="siteAreaConsumptions?.values?.length === 0">
  <div class="chart-container mt-2">
    <div #primary class='chart-primary'></div>
    <div #secondary class='chart-secondary'></div>
    <div #danger class='chart-danger'></div>
    <div #success class='chart-success'></div>
    <div #warning class='chart-warning'></div>
    <canvas #chart></canvas>
  </div>
</div>
