<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-profile card-testimonial">
          <div class="card-header card-header-tabs card-header-danger">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#profile" data-toggle="tab">
                      <i class="material-icons">portrait</i> {{name.value}} {{firstName.value}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#address" data-toggle="tab">
                      <i class="material-icons">location_on</i> {{'general.address' | translate}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#password" data-toggle="tab">
                      <i class="material-icons">lock</i> {{'authentication.password' | translate}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#miscs" data-toggle="tab">
                      <i class="material-icons">more_horiz</i> {{'users.miscs' | translate}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#sites" data-toggle="tab">
                      <i class="material-icons">business</i> {{'sites.site' | translate}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <span class="toolbar-spacer"></span>
                  <button class="btn btn-info mat-raised-button" (click)="refresh()">
                    <span class="mat-button-wrapper">
                      <i class="material-icons">refresh</i>
                      <span class="btn-label">&nbsp;&nbsp;&nbsp;{{'general.refresh' | translate}}</span> 
                    </span>
                  </button>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form class="form" [formGroup]="formGroup">
              <div class="tab-content">
                <div class="tab-pane active" id="profile">
                  <button class="btn btn-info mat-raised-button d-flex align-items-start" (click)="saveUser(formGroup.value)" [disabled]="!formGroup.valid || !formGroup.dirty">
                    <span class="mat-button-wrapper">
                      <i class="material-icons">save</i>
                      <span class="btn-label">&nbsp;&nbsp;&nbsp;{{'users.save_profile' | translate}}</span> 
                    </span>
                  </button>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <mat-form-field>
                          <input appSetAutoFocus matInput placeholder="{{'users.name' | translate}}" type="text" [formControl]="name" required>
                          <mat-error *ngIf="name.hasError('required')">{{"general.mandatory_field" | translate}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <mat-form-field>
                          <input matInput placeholder="{{'users.first_name' | translate}}" type="text" [formControl]="firstName" required>
                          <mat-error *ngIf="firstName.hasError('required')">{{"general.mandatory_field" | translate}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <mat-form-field>
                          <input matInput placeholder="{{'users.email' | translate}}" type="text" [formControl]="email" required>
                          <mat-error *ngIf="email.hasError('email')">{{"authentication.invalid_email" | translate}}</mat-error>
                          <mat-error *ngIf="email.hasError('required')">{{"general.mandatory_field" | translate}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <mat-form-field>
                          <input matInput placeholder="{{'users.phone' | translate}}" type="text" [formControl]="phone">
                          <mat-error *ngIf="phone.hasError('pattern')">{{"users.invalid_phone_number" | translate}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <mat-form-field>
                          <input matInput placeholder="{{'users.mobile' | translate}}" type="text" [formControl]="mobile">
                          <mat-error *ngIf="mobile.hasError('pattern')">{{"users.invalid_phone_number" | translate}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div *ngIf="isAdmin" class="col-md-6">
                      <div class="form-group">
                        <mat-form-field>
                          <mat-select placeholder="{{'users.status' | translate}}" [formControl]="status">
                            <mat-option *ngFor="let userStatus of userStatuses" [value]="userStatus.key">
                              {{userStatus.description}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <mat-form-field>
                          <input matInput placeholder="{{'users.tag_ids' | translate}}" type="text" [formControl]="tagIDs">
                          <mat-hint>{{"users.tag_ids_help" | translate}}</mat-hint>
                          <mat-error *ngIf="tagIDs.hasError('pattern')">{{"users.invalid_tag_ids" | translate}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div *ngIf="isAdmin" class="col-md-6">
                      <div class="form-group">
                        <mat-form-field>
                          <mat-select placeholder="{{'users.role' | translate}}" [formControl]="role">
                            <mat-option *ngFor="let userRole of userRoles" [value]="userRole.key">
                              {{userRole.description}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <mat-form-field>
                          <mat-select placeholder="{{'users.locale' | translate}}" [formControl]="locale">
                            <mat-option *ngFor="let userLocale of userLocales" [value]="userLocale.key">
                              {{userLocale.description}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="tab-pane" id="address">
                  <button class="btn btn-info mat-raised-button d-flex align-items-start" (click)="saveUser(formGroup.value)" [disabled]="!formGroup.valid || !formGroup.dirty">
                    <span class="mat-button-wrapper">
                      <i class="material-icons">save</i>
                      <span class="btn-label">&nbsp;&nbsp;&nbsp;{{'users.save_profile' | translate}}</span> 
                    </span>
                  </button>
                  <app-address-cmp [formGroup]="formGroup"></app-address-cmp>
                </div>
                <div class="tab-pane" id="password">
                  <button class="btn btn-info mat-raised-button d-flex align-items-start" (click)="saveUser(formGroup.value)" [disabled]="!formGroup.valid || !formGroup.dirty">
                    <span class="mat-button-wrapper">
                      <i class="material-icons">save</i>
                      <span class="btn-label">&nbsp;&nbsp;&nbsp;{{'users.save_profile' | translate}}</span> 
                    </span>
                  </button>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <mat-form-field>
                          <input matInput type="password" placeholder="{{'authentication.password' | translate}}" [type]="hidePassword ? 'password' : 'text'" [formControl]="password">
                          <mat-icon matSuffix class="icon-clickable" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                          <mat-error *ngIf="password.hasError('noSpace')">{{"authentication.no_space_in_password" | translate}}</mat-error>
                          <mat-error *ngIf="password.hasError('invalidPassword')">{{"authentication.password_rule" | translate}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <mat-form-field>
                          <input matInput type="password" placeholder="{{'authentication.repeat_password' | translate}}" [type]="hideRepeatPassword ? 'password' : 'text'" [formControl]="repeatPassword" [errorStateMatcher]="parentErrorStateMatcher">
                          <mat-icon matSuffix class="icon-clickable" (click)="hideRepeatPassword = !hideRepeatPassword">{{hideRepeatPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                          <mat-error *ngIf="passwords.hasError('notEqual')">{{"authentication.password_not_equal" | translate}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="miscs">
                  <button class="btn btn-info mat-raised-button d-flex align-items-start" (click)="saveUser(formGroup.value)" [disabled]="!formGroup.valid || !formGroup.dirty">
                    <span class="mat-button-wrapper">
                      <i class="material-icons">save</i>
                      <span class="btn-label">&nbsp;&nbsp;&nbsp;{{'users.save_profile' | translate}}</span> 
                    </span>
                  </button>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <mat-form-field>
                          <input matInput placeholder="{{'users.inumber' | translate}}" type="text" [formControl]="iNumber">
                          <mat-error *ngIf="iNumber.hasError('pattern')">{{"general.invalid_value" | translate}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <mat-form-field>
                          <input matInput placeholder="{{'users.cost_center' | translate}}" type="text" [formControl]="costCenter">
                          <mat-error *ngIf="costCenter.hasError('pattern')">{{"general.invalid_value" | translate}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="sites">
                  <div class="row">
                    <div class="col-md-12">
                      <app-table [dataSource]="siteDataSource"></app-table>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="card-avatar">
              <div class="fileinput fileinput-exists card-avatar-change" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                  <img [src]="image" class="" alt="...">
                </div>
                <div style="display:none">
                  <input type="file" name="...">
                </div>
              </div>
            </div>
            <button href="javascript:void(0)" (click)="clearImage()" class="btn btn-danger btn-round fileinput-exists card-image-remove fa fa-times"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>