@import "../../../../assets/scss/core/variables";

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.detail-connector {
  min-width: 58px;
  margin-right: -10px !important;
}

.charger-connector-container {
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 1.1rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    z-index:1;
    color: $brand-inverse;

    &.charger-connector-container-image {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      border: 2px solid darken($brand-info, 15%);
      &.charger-connector-container-image-small {
        left:-15px;
        transition: all .2s ease-in-out;
        z-index:0;
        position:relative;
      }
    }
    &.charger-connector-container-image-small:hover {
      transform: scale(1.5);
      z-index: 2;
    }
    &.charger-connector-container-image-large {
      margin-left: 4px;
    }
    &.connector-not-typed-icon {
      color: $brand-danger;
    }

    .charger-connector-background {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &.charger-connector-background-spinner:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: spinner 3s linear infinite;
        border-radius: 50%;
        border-left: 3px solid $blue-200;
        border-top: 3px solid $brand-info;
        border-right: 3px solid $blue-200;
        border-bottom: 3px solid $brand-info;
        z-index: -1;
      }
    }

    .charger-connector-text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: $brand-inverse;
      position: relative;
      // top: -30px;
      opacity: 1 !important;
    }

    .charger-connector-available {
      color: $brand-success;
      border: 2px solid darken($brand-success, 5%);
      background-color: $brand-inverse;
    }
    .charger-connector-charging-available-text {
      color: $brand-success;
    }
    &.charger-connector-available-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);
    }
    
    .charger-connector-charging {
      background-color: $brand-info;
      border: 2px solid darken($brand-info, 15%);
    }
    &.charger-connector-charging-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);
    }

    .charger-connector-charging-active:before {
      background-color: $brand-info;
      // border: 2px solid darken($brand-info, 15%);
    }
    .charger-connector-charging-active-text {
      color: $brand-inverse;
      text-shadow: 0 0 4px $brand-inverse, 0 0 18px $brand-inverse;
    }    
    &.charger-connector-charging-active-type-background {
      // border: 1px solid $brand-disabled;
      // background-color: lighten($brand-disabled, 20%);
    }
    
    .charger-connector-charging-inactive {
      background-color: $brand-info;
      border: 2px solid darken($brand-info, 15%);
    }
    &.charger-connector-charging-inactive-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);
    }
    
    .charger-connector-faulted {
      background-color: $brand-danger;
      border: 2px solid darken($brand-danger, 15%);
    }    
    &.charger-connector-faulted-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);    
    }
    
    .charger-connector-unavailable {
      background-color: $brand-disabled;
      border: 2px solid darken($brand-disabled, 15%);
    }
    &.charger-connector-unavailable-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);    
    }

    .charger-connector-suspended-evse {
      background-color: $brand-info;
      border: 2px solid darken($brand-info, 15%);
    }
    &.charger-connector-suspended-evse-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);    
    }
    
    .charger-connector-suspended-ev {
      background-color: $brand-info;
      border: 2px solid darken($brand-info, 15%);
    }
    &.charger-connector-suspended-ev-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);    
    }
    
    .charger-connector-preparing, .charger-connector-finishing {
      background-color: $brand-warning;
      border: 2px solid darken($brand-warning, 15%);
    }
    &.charger-connector-preparing-type-background, &.charger-connector-finishing-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);    
    }
    
    .charger-connector-reserved {
      background-color: $brand-warning;
      border: 2px solid darken($brand-warning, 15%);
    }
    &.charger-connector-reserved-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);    
    }

    .charger-connector-unknown {
      background-color: $brand-disabled;
      border: 2px solid darken($brand-disabled, 15%);
    }
    &.charger-connector-unknown-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);    }
  }