@import "../../../../assets/scss/core/variables";

// @keyframes status-blinking2 {
//     50% {
//         background-color: white;
//         border: 2px solid darken($brand-info, 15%);
//     }
// }

@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes glow {
  from {
    text-shadow: 0 0 1px $brand-inverse, 0 0 3px $brand-inverse, 0 0 5px $brand-inverse, 0 0 7px $brand-inverse;
  }
  
  to {
    text-shadow: 0 0 4px $brand-inverse, 0 0 6px $brand-inverse, 0 0 8px $brand-inverse, 0 0 10px $brand-inverse, 0 0 14px $brand-inverse, 0 0 17px $brand-inverse, 0 0 20px $brand-inverse, 0 0 23px $brand-inverse, 0 0 26px $brand-inverse, 0 0 29px $brand-inverse, 0 0 32px $brand-inverse;
  }
}


// @mixin anim-status-blinking {
//     animation: status-blinking2 2s ease-in-out infinite;
// }

// @keyframes status-glowing {
//     50% {
//         box-shadow: 0 0 30px $brand-info;
//     }
// }

// @mixin anim-status-glowing {
//     animation: status-glowing 4s ease-in-out infinite;
// }

// @mixin anim-status-glowing-blinking {
//     animation: spinner 2s ease-in-out infinite, status-glowing 4s ease-in-out infinite;
// }

// @keyframes text-color-invert {
//    100% {
//   //   color: $brand-info;
//     transform: rotateY(360deg);
//    }
   
// }

// @font-face {
// 	font-family: 'icomoon';
// 	src:url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.eot?-9haulc');
// 	src:url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.eot?#iefix-9haulc') format('embedded-opentype'),
// 		url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.woff?-9haulc') format('woff'),
// 		url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.ttf?-9haulc') format('truetype'),
// 		url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.svg?-9haulc#icomoon') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

.detail-connector {
  min-width: 58px;
  margin-right: -10px !important;
}

.charger-connector-container {
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 1.1rem;
    font-weight: bold;
    // margin-right: 3px;
    justify-content: center;
    align-items: center;
    z-index:1;

    color: $brand-inverse;

    &.charger-connector-container-image {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      border: 2px solid darken($brand-info, 15%);
      &.charger-connector-container-image-small {
        left:-15px;
        transition: all .2s ease-in-out;
        z-index:0;
        position:relative;
      }
    }
    &.charger-connector-container-image-small:hover {
      transform: scale(1.5);
      z-index: 2;
    }
    &.charger-connector-container-image-large {
      margin-left: 4px;
    }

    .charger-connector-background {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      // font-family: 'icomoon';
      //speak: none;
      // font-style: normal;
      // font-weight: normal;
      // font-variant: normal;
      // text-transform: none;
      // line-height: 1;
    
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      // padding-top: .13rem;
      &.charger-connector-background-spinner{
        animation: spinner 3s linear infinite;
        // border-color: transparent;
        border-radius: 50%;
        // border-image: 4px solid lighten($brand-info, 30%);
        border-left: 2px solid $blue-200;
        border-top: 2px solid $blue-600;
        border-right: 2px solid $blue-200;
        border-bottom: 2px solid $blue-600;
        // background-image: radial-gradient(circle, $blue-50, $blue-500 70%);
      }
      &.charger-connector-background-spinner::before {
  //       position: relative;
  //       content: "";//"\e001";
  //       // font-size:2em;
  //       top: -5px;
  //       left: -5px;
  //       // height: 1em;
	// // line-height: 1;
  // // margin: .5em;
  //       // text-shadow: 0px 0px 5px;
  //       color: darken($brand-info, 10%);
  //       // top: -2px;
  //       // left: -2px;
  //       // border-color: transparent;
  //       background: transparent;
  //       //z-index: 3;
  //       // border-width: 0px;
  //       border-radius: 50%;
  //       // border-image: 4px solid lighten($brand-info, 30%);
  //       border-top: 3px solid lighten($brand-info, 30%);
  //       border-left: 2px solid lighten($brand-info, 30%);
  //       border-right: 3px solid transparent;
        
      }
    }

    .charger-connector-text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: $brand-inverse;
      position: relative;
      top: -30px;
      opacity: 1 !important;
    }

    .charger-connector-charging-active-text {
      // animation: text-color-invert 2s infinite;
      color: $blue-800;
      animation: glow 2s linear infinite alternate;
      // text-shadow: 0px 0px 2px $brand-inverse;

      
      // text-shadow: -1px -1px 2px $brand-info,  
      //       1px 1px 2px $brand-info,
      //       0 0 4px $brand-inverse, 
      //       0 0 6px $brand-inverse, 
      //       0 0 8px $brand-inverse,  
      //       0 0 10px $brand-inverse,
      //       0 0 12px $brand-inverse,
      //       0 0 14px $brand-inverse,
      //       0 0 16px $brand-inverse,
      //       0 0 18px $brand-inverse,
      //       0 0 20px $brand-inverse,
      //       0 0 22px $brand-inverse,
      //       0 0 24px $brand-inverse,
      //       0 0 26px $brand-inverse,
      //       0 0 28px $brand-inverse,
      //       0 0 30px $brand-inverse,
      //       0 0 32px $brand-inverse,
      //       0 0 34px $brand-inverse,
      //       0 0 36px $brand-inverse

    }

    .charger-connector-charging-available-text {
      color: $brand-success;
    }

    .charger-connector-available {
      color: $brand-success;
      border: 2px solid darken($brand-success, 5%);
      background-color: $brand-inverse;
    }
    &.charger-connector-available-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);
    }
    
    .charger-connector-charging {
      background-color: $brand-info;
      border: 2px solid darken($brand-info, 15%);
    }
    &.charger-connector-charging-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);
    }
    
    .charger-connector-charging-active {
      background-color: $brand-info;
      // background-image: radial-gradient(circle, $brand-inverse, $brand-inverse 30%, $blue-600 100%);
      // border: 2px solid darken($brand-info, 15%);
      // animation: spinner 2s ease infinite;
    }
    &.charger-connector-charging-active-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);
    }
    
    .charger-connector-charging-inactive {
      background-color: $brand-info;
      border: 2px solid darken($brand-info, 15%);
    }
    &.charger-connector-charging-inactive-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);
    }
    
    .charger-connector-faulted {
      background-color: $brand-danger;
      // border-color: darken($brand-danger, 15%);
      border: 2px solid darken($brand-danger, 15%);
    }    
    &.charger-connector-faulted-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);    
    }
    
    .charger-connector-unavailable {
      background-color: $brand-disabled;
      // border-color: darken($brand-disabled, 15%);
      border: 2px solid darken($brand-disabled, 15%);
    }
    &.charger-connector-unavailable-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);    
    }
    

    .charger-connector-suspended-evse {
      background-color: $brand-info;
      border: 2px solid darken($brand-info, 15%);
    }
    &.charger-connector-suspended-evse-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);    
    }
    
    .charger-connector-suspended-ev {
      background-color: $brand-info;
      border: 2px solid darken($brand-info, 15%);
    }
    &.charger-connector-suspended-ev-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);    
    }
    
    .charger-connector-preparing, .charger-connector-finishing {
      background-color: $brand-warning;
      // border-color: darken($brand-warning, 15%);
      border: 2px solid darken($brand-warning, 15%);
    }
    &.charger-connector-preparing-type-background, &.charger-connector-finishing-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);    
    }
    
    .charger-connector-reserved {
      background-color: $brand-warning;
      // border-color: darken($brand-warning, 15%);
      border: 2px solid darken($brand-warning, 15%);
    }
    &.charger-connector-reserved-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);    
    }

    .charger-connector-unknown {
      background-color: $brand-disabled;
      // border-color: darken($brand-disabled, 15%);
      border: 2px solid darken($brand-disabled, 15%);
    }
    &.charger-connector-unknown-type-background {
      border: 1px solid $brand-disabled;
      background-color: lighten($brand-disabled, 20%);    }
  }