
<div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;">
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
      <div class="container">
        <div class="col-lg-5 col-md-6 col-sm-6 ml-auto mr-auto">
          <form class="form" [formGroup]="formGroup" (ngSubmit)="register(formGroup.value)">
            <div class="card card-login card-hidden">
              <div class="card-header card-header-info text-center h-25">
                <div class="social-line">
                  <img class="w-50 mb-2" src="/assets/img/logo-low.gif"/>
                </div>
                <h4 class="card-title">{{"authentication.register" | translate}}</h4>
              </div>
              <div class="card-body">
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">account_circle</i>
                      </span>
                      <mat-form-field>
                        <input matInput type="text" placeholder="{{'users.name' | translate}}" [formControl]="name" required>
                        <mat-error *ngIf="name.hasError('required')">{{"general.mandatory_field" | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="input-group-prepend input-group-no-icon">
                      <mat-form-field>
                        <input matInput type="text" placeholder="{{'users.first_name' | translate}}" [formControl]="firstName" required>
                        <mat-error *ngIf="firstName.hasError('required')">{{"general.mandatory_field" | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                      <mat-form-field>
                        <input matInput type="text" placeholder="{{'authentication.email' | translate}}" [formControl]="email" required>
                        <mat-error *ngIf="email.hasError('email')">{{"authentication.invalid_email" | translate}}</mat-error>
                        <mat-error *ngIf="email.hasError('required')">{{"general.mandatory_field" | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                      <mat-form-field>
                        <input matInput type="password" placeholder="{{'authentication.password' | translate}}" [formControl]="password" required>
                        <mat-error *ngIf="password.hasError('required')">{{"general.mandatory_field" | translate}}</mat-error>
                        <mat-error *ngIf="password.hasError('noSpace')">{{"authentication.no_space_in_password" | translate}}</mat-error>
                        <mat-error *ngIf="password.hasError('invalidPassword')">{{"authentication.password_rule" | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="input-group-prepend input-group-no-icon">
                      <mat-form-field>
                        <input matInput type="password" placeholder="{{'authentication.repeat_password' | translate}}" [formControl]="repeatPassword" [errorStateMatcher]="parentErrorStateMatcher" required>
                        <mat-error *ngIf="repeatPassword.hasError('required')">{{"general.mandatory_field" | translate}}</mat-error>
                        <mat-error *ngIf="!repeatPassword.hasError('required') && passwords.hasError('notEqual')">{{"authentication.password_not_equal" | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="input-group-prepend justify-content-center mt-3 ml-2">
                      <mat-checkbox [formControl]="acceptEula" required><span class="adapt-font-size">{{'authentication.accept' | translate}} </span><a class="auth-link" href="/auth/eula" target="_blank"><span class="adapt-font-size">{{'authentication.eula' | translate}}</span></a></mat-checkbox>
                    </div>
                    <div class="input-group-prepend mt-2 captcha-container">
                      <re-captcha #recaptcha formControlName="captcha" [siteKey]="captchaSiteKey" class="captcha">
                      </re-captcha>
                    </div>
                  </div>
                </span>
              </div>
              <div class="card-footer justify-content-center mb-4">
                <button mat-button type="submit" [disabled]="!formGroup.valid">{{"authentication.register" | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  