<div class="main-content vw-90 vh-90 qr-code-dialog-size">
  <div class="card card-profile card-testimonial">
    <mat-tab-group animationDuration="0ms" disableRipple="true" class="mat-tab-info mat-tabs-with-close-action">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>qr_code_2</mat-icon>
          <span>{{chargingStationID}} - {{'chargers.connector' | translate}} {{connectorID | appConnectorId}}</span>
        </ng-template>
        <div class="card-body mat-tab-dialog-body-content">
          <div class="qrcode">
            <img [src]="qrCode"/>
          </div>
          <div class="text-center">
            {{chargingStationID}} / {{'chargers.connector' | translate}} {{connectorID | appConnectorId}}
          </div>
          <div class="card-footer mat-dialog-actions qr-code-footer">
            <button mat-raised-button color="primary" (click)="download()">
              {{"general.download" | translate}}
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div [class]="dialogRef ? 'tabs-actions' : 'tabs-actions-embedded'">
      <button mat-icon-button *ngIf="dialogRef" (click)="close()" title="{{'general.close' | translate}}">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
