<table [class]="forChargingProfile ? 'mb-2 col-md-12' : 'col-md-12'">
    <tr *ngIf="!notSupported" >
        <td class="text-right col-5em">
            {{displayedMinPowerKW}}
        </td>
        <td>
            <mat-slider
                [disabled]="chargingStation?.inactive || (isSmartChargingComponentActive && chargingStation.siteArea.smartCharging)"
                thumbLabel class="col-md-12"
                [min]="minAmp" [max]="maxAmp" [step]="connector ? 1 : chargingStation?.connectors.length" [value]="currentAmp"
                [displayWith]="formatSlideLabelPowerKW"
                (change)="sliderChanged($event.value)">
            </mat-slider>
            <div [class]="forChargingProfile ? 'current-power-text-in-list text-center' : 'current-power-text text-center'" colspan="3">
                {{displayedCurrentPowerW}} ({{this.currentAmp}} A)
            </div>
        </td>
        <td class="text-left col-5em">
            {{displayedMaxPowerKW}}
        </td>
    </tr>
    <tr *ngIf="notSupported" >
        <td [class]="forChargingProfile ? 'col-md-12 text-center current-power-text-not-supported p-0' : 'col-md-12 text-center current-power-text-not-supported mb-4'">
            {{'chargers.smart_charging.slider_power_disabled' | translate }}
        </td>
    </tr>
</table>
