<div class="charger-param-component">
  <form class="form" [formGroup]="formGroup">
    <div class="row">
      <div class="col-md-6 form-group">
        <mat-form-field>
          <input matInput type="text" placeholder="{{'chargers.charger_url' | translate}}"
            [formControl]="chargingStationURL" required [readOnly]="!isAdmin"/>
        </mat-form-field>
        <mat-error *ngIf="chargingStationURL.invalid">{{'chargers.invalid_url' | translate}}</mat-error>
      </div>
      <div class="col-md-6 form-group" [class.component-invisible]="!isOrganizationComponentActive">
        <mat-form-field>
          <input matInput type="text" readonly=true placeholder="{{'chargers.site_area' | translate}}"
            class="form-field-popup" (click)="assignSiteArea()" [formControl]="siteArea" [disabled]="!issuer" required/>
          <button mat-button matSuffix mat-icon-button aria-label="Add" [hidden]="!isAdmin || !issuer">
            <mat-icon>create</mat-icon>
          </button>
          <mat-error *ngIf="siteArea.errors?.required">
            {{"general.mandatory_field" | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 form-group">
        <mat-form-field>
          <input matInput placeholder="{{'chargers.maximum_energy' | translate}}" [formControl]="maximumPower" required [readOnly]="!isAdmin"/>
          <mat-error *ngIf="maximumPower.invalid">{{'chargers.invalid_power_value' | translate}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3 form-group">
      </div>
      <div class="col-md-3 form-group">
        <mat-form-field>
          <input matInput placeholder="{{'general.latitude' | translate}}" type="text" required [formControl]="latitude" [readOnly]="!isAdmin">
          <mat-error *ngIf="latitude.errors?.pattern">{{"general.invalid_value" | translate}}</mat-error>
          <mat-error *ngIf="latitude.errors?.required">{{"general.mandatory_field" | translate}}</mat-error>
          <button mat-button matSuffix mat-icon-button aria-label="Add" (click)="assignGeoMap()" [hidden]="!isAdmin || !issuer">
            <mat-icon>pin_drop</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3 form-group">
        <mat-form-field>
          <input matInput placeholder="{{'general.longitude' | translate}}" type="text" required
            [formControl]="longitude" [readOnly]="!isAdmin">
          <mat-error *ngIf="longitude.errors?.pattern">{{"general.invalid_value" | translate}}</mat-error>
          <mat-error *ngIf="longitude.errors?.required">{{"general.mandatory_field" | translate}}</mat-error>
          <button mat-button matSuffix mat-icon-button aria-label="Add" (click)="assignGeoMap()" [hidden]="!isAdmin || !issuer">
            <mat-icon>pin_drop</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6 col-xl-6 text-left form-group">
        <mat-checkbox [formControl]="private">
          {{'chargers.private' | translate}}
        </mat-checkbox>
      </div>
    </div>
    <ng-template *ngIf="chargingStation?.chargePoints?.length > 0; else chargingStationWithNoChargePoints">
      <div class="row">
        <div class="col-md-12" *ngFor="let chargePoint of chargingStation?.chargePoints">
          <h1>Charge Point 1</h1>
          <!-- <div class="col-md-6" *ngFor="let connectorID of chargePoint.connectorIDs">
            <app-charging-station-connector [connector]="chargingStation?.connectors[connectorID]" [formConnectorsArray]="connectors"
              [isAdmin]="isAdmin" (connectorPowerChanged)="connectorPowerChanged()"></app-charging-station-connector>
          </div> -->
        </div>
      </div>
    </ng-template>
    <ng-template #chargingStationWithNoChargePoints>
      <div class="row">
        <div class="col-md-6" *ngFor="let connector of chargingStation?.connectors">
          <app-charging-station-connector [connector]="connector" [formConnectorsArray]="connectors"
            [isAdmin]="isAdmin" (connectorPowerChanged)="connectorPowerChanged()"></app-charging-station-connector>
        </div>
      </div>
    </ng-template>
  </form>
</div>
