<div class="charger-param-component">
  <form class="form" [formGroup]="formGroup">
    <div class="row">
      <div class="col-md-6 form-group" *ngIf="chargingStation?.issuer">
        <mat-form-field>
          <input matInput type="text" placeholder="{{'chargers.charger_url' | translate}}"
            [formControl]="chargingStationURL" required [readonly]="dialogMode === DialogMode.VIEW" />
        </mat-form-field>
        <mat-error *ngIf="chargingStationURL?.invalid">{{'chargers.invalid_url' | translate}}</mat-error>
      </div>
      <div class="col-md-6 form-group" [class.component-invisible]="!isOrganizationComponentActive">
        <mat-form-field>
          <input matInput type="text" readonly=true placeholder="{{'chargers.site_area' | translate}}"
            class="form-field-popup" (click)="assignSiteArea()" [formControl]="siteArea"
            required />
          <button mat-button matSuffix mat-icon-button aria-label="Add" [hidden]="dialogMode === DialogMode.VIEW">
            <mat-icon>create</mat-icon>
          </button>
          <mat-error *ngIf="siteArea?.errors?.required">
            {{"general.mandatory_field" | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 form-group">
        <mat-form-field>
          <input matInput placeholder="{{'chargers.maximum_energy' | translate}}" (input)="maximumPowerChanged()"
            [formControl]="maximumPower" required [readonly]="dialogMode === DialogMode.VIEW" />
          <mat-error *ngIf="maximumPower?.invalid">{{'chargers.invalid_power' | translate}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3 form-group">
        <mat-form-field>
          <input matInput placeholder="{{'chargers.maximum_energy_amps' | translate}}" [formControl]="maximumPowerAmps"
            [readonly]="dialogMode === DialogMode.VIEW" />
          <mat-error *ngIf="maximumPowerAmps?.invalid">{{'chargers.invalid_amperage' | translate}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3 form-group">
        <mat-form-field>
          <input matInput placeholder="{{'general.latitude' | translate}}" type="text" required [formControl]="latitude"
            [readonly]="dialogMode === DialogMode.VIEW">
          <mat-error *ngIf="latitude?.errors?.pattern">{{"general.invalid_value" | translate}}</mat-error>
          <mat-error *ngIf="latitude?.errors?.required">{{"general.mandatory_field" | translate}}</mat-error>
          <button mat-button matSuffix mat-icon-button aria-label="Add" (click)="assignGeoMap()"
            [hidden]="dialogMode === DialogMode.VIEW">
            <mat-icon>pin_drop</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3 form-group">
        <mat-form-field>
          <input matInput placeholder="{{'general.longitude' | translate}}" type="text" required
            [formControl]="longitude" [readonly]="dialogMode === DialogMode.VIEW">
          <mat-error *ngIf="longitude?.errors?.pattern">{{"general.invalid_value" | translate}}</mat-error>
          <mat-error *ngIf="longitude?.errors?.required">{{"general.mandatory_field" | translate}}</mat-error>
          <button mat-button matSuffix mat-icon-button aria-label="Add" (click)="assignGeoMap()"
            [hidden]="dialogMode === DialogMode.VIEW">
            <mat-icon>pin_drop</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 form-group">
        <mat-form-field>
          <input matInput placeholder="{{'chargers.vendor' | translate}}"
            [formControl]="chargePointVendor" required [readonly]="dialogMode === DialogMode.VIEW" />
          <mat-error *ngIf="chargePointVendor?.errors?.required">{{"general.mandatory_field" | translate}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3 form-group">
        <mat-form-field>
          <input matInput placeholder="{{'chargers.model' | translate}}"
            [formControl]="chargePointModel" required [readonly]="dialogMode === DialogMode.VIEW" />
          <mat-error *ngIf="chargePointModel?.errors?.required">{{"general.mandatory_field" | translate}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3 form-group">
        <mat-form-field>
          <input matInput placeholder="{{'chargers.cp_serial_number' | translate}}"
            [formControl]="chargePointSerialNumber" required [readonly]="dialogMode === DialogMode.VIEW" />
          <mat-error *ngIf="chargePointSerialNumber?.errors?.required">{{"general.mandatory_field" | translate}}</mat-error>
        </mat-form-field>
      </div>
      <div *ngIf="isOcpiComponentActive && public.value && chargingStation?.issuer" class="col-md-3 text-left form-group">
        <mat-form-field>
          <input matInput type="text" placeholder="{{'ocpi.tariff_id' | translate}}" [formControl]="tariffID"
          (input)="emptyStringToNull(tariffID)" />
          <mat-error *ngIf="tariffID?.errors?.required">{{"general.mandatory_field" | translate}}</mat-error>
          <mat-error *ngIf="tariffID?.errors?.maxlength">
            <div [translate]="'general.error_max_length'" [translateParams]="{length: 36}"></div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-2" *ngIf="chargingStation?.issuer">
      <div *ngIf="isOcpiComponentActive" class="col-md-3 text-left form-group">
        <mat-slide-toggle [formControl]="public">
          {{'chargers.public' | translate}}
        </mat-slide-toggle>
      </div>
      <div *ngIf="isSmartChargingComponentActive && chargingStation?.siteArea?.smartCharging"
        class="col-md-3 text-left form-group">
        <mat-slide-toggle [formControl]="excludeFromSmartCharging">
          {{'chargers.exclude_smart_charging' | translate}}
        </mat-slide-toggle>
      </div>
      <div class="col-md-3 text-left form-group">
        <mat-slide-toggle [formControl]="forceInactive">
          {{'chargers.force_inactive' | translate}}
        </mat-slide-toggle>
      </div>
      <div class="col-md-3 text-left form-group">
        <mat-slide-toggle [formControl]="manualConfiguration" (change)="manualConfigurationChanged($event.checked)">
          {{'chargers.manual_configuration' | translate}}
        </mat-slide-toggle>
      </div>
      <div class="col-md-3 text-left form-group">
        <mat-slide-toggle [formControl]="masterSlave">
          {{'chargers.master_slave' | translate}}
        </mat-slide-toggle>
      </div>
    </div>
    <div class="row charging-station-connector-component"
      *ngIf="chargingStation?.chargePoints?.length > 0; else chargingStationWithNoChargePoints">
      <div class="col-md-12" *ngFor="let chargePoint of chargingStation.chargePoints">
        <app-charging-station-charge-point [chargingStation]="chargingStation" [chargePoint]="chargePoint" [readonly]="dialogMode === DialogMode.VIEW"
          [formChargePointsArray]="chargePoints" [formConnectorsArray]="connectors" [isPublic]="public.value"
          (chargePointChanged)="chargePointChanged()" [manualConfiguration]="manualConfiguration.value">
        </app-charging-station-charge-point>
      </div>
    </div>
    <ng-template #chargingStationWithNoChargePoints>
      <div class="row charging-station-connector-component">
        <div class="col-md-6" *ngFor="let connector of chargingStation?.connectors">
          <app-charging-station-connector [chargingStation]="chargingStation" [connector]="connector" [readonly]="dialogMode === DialogMode.VIEW"
            [formConnectorsArray]="connectors" [isPublic]="public.value"
            (connectorChanged)="connectorChanged()" [manualConfiguration]="manualConfiguration.value">
          </app-charging-station-connector>
        </div>
      </div>
    </ng-template>
  </form>
</div>
