@import "../../../../assets/scss/core/variables";

@mixin chip($color) {
  color: $color;
  border: 2px solid $color;
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: bold;
  width: 80%;
  max-width: 5em;
  justify-content: center;
}

// flat bg with text color variations
.chip-default {
  @include chip($brand-default);
}

.chip-primary {
  @include chip($brand-primary);
}

.chip-info {
  @include chip($brand-info);
}

.chip-success {
  @include chip($brand-success);
}

.chip-warning {
  @include chip($brand-warning);
}

.chip-danger {
  @include chip($brand-danger);
}
