@import "../../../../assets/scss/core/variables";

@mixin chip($color) {
  color: $color;
<<<<<<< HEAD
  background-color: $bgColor;
=======
  border: 2px solid $color;
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: bold;
  width: 80%;
  max-width: 5em;
>>>>>>> 104c42a626c471d3d6a6e53ca6a174d3f89be6a2
  justify-content: center;
}

@mixin max-width($width, $maxWidth) {
  width: $width;
  max-width: $maxWidth;
}

.chip-width-8em {
  @include max-width( 80%, 8em );
}


// flat bg with text color variations
.chip-default {
  @include chip($brand-default);
}

.chip-primary {
  @include chip($brand-primary);
}

.chip-info {
  @include chip($brand-info);
}

.chip-success {
  @include chip($brand-success);
}

.chip-warning {
  @include chip($brand-warning);
}

.chip-danger {
  @include chip($brand-danger);
}
