<form class="form" [formGroup]="formGroup" height="100%">
  <div class="mat-toolbar-row left-actions">
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!formGroup.valid || !formGroup.dirty">
      <mat-icon>save</mat-icon><span>{{ "general.save" | translate }}</span>
    </button>
  </div>
  <div class="card">
    <div class="card-header card-header-icon card-header-primary">
      <div class="card-icon">
        <mat-icon>smartphone</mat-icon>
      </div>
      <h3 class="card-title">{{ "technical_settings.mobile.title" | translate }}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="text" type="text" [formControl]="iosMobileAppID"
              placeholder="{{'technical_settings.mobile.ios_mobile_app_id' | translate}}" required>
              <mat-error *ngIf="iosMobileAppID.errors?.required">
                {{"general.mandatory_field" | translate}}
              </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" [formControl]="androidMobileAppID"
              placeholder="{{'technical_settings.mobile.android_mobile_app_id' | translate}}" required>
              <mat-error *ngIf="androidMobileAppID.errors?.required">
                {{"general.mandatory_field" | translate}}
              </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" [formControl]="scheme"
              placeholder="{{'technical_settings.mobile.scheme' | translate}}" required>
              <mat-error *ngIf="scheme.errors?.required">
                {{"general.mandatory_field" | translate}}
              </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>
