<div class="main-content">
  <div class="card card-profile card-testimonial">
    <mat-tab-group animationDuration="0ms" disableRipple="true" class="mat-tab-info charger-dialog-container">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>ev_station</mat-icon>
          <span>{{currentCharger.id}}</span>
        </ng-template>
        <div class="card-body">
          <app-charging-station-parameters #chargerParameters [charger]='currentCharger' [dialogRef]="dialogRef">
          </app-charging-station-parameters>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>info</mat-icon>
          <span>{{'chargers.properties_title' | translate}}</span>
        </ng-template>
        <div class="card-body">
          <app-charging-station-properties [charger]='currentCharger'></app-charging-station-properties>
        </div>
      </mat-tab>
      <ng-container *ngIf="isAdmin">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>build</mat-icon>
            <span>{{'chargers.ocpp_parameters_title' | translate}}</span>
          </ng-template>
          <div class="card-body">
            <app-charging-station-ocpp-parameters #ocppParameters [charger]='currentCharger'></app-charging-station-ocpp-parameters>
          </div>
        </mat-tab>
      </ng-container>
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <button mat-button
            (click)="save()" [disabled]="isSaveButtonDisabled"
            [hidden]="isSaveButtonHidden">
            <mat-icon>save</mat-icon>
            <span>{{'chargers.save_charger' | translate}}</span>
          </button>
          <button mat-icon-button (click)="onClose()">
            <mat-icon>close</mat-icon>
          </button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
