<form class="form" [formGroup]="formGroup">
  <div class="row">
    <div class="col-md-12">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>{{"tenants.feature.charging_station.feature_name" | translate}}</strong>
            </mat-panel-title>
            <mat-panel-description>
              {{"tenants.feature.charging_station.feature_description" | translate}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row feature-item">
            <div class="col-md-6">
              <mat-slide-toggle class="align-self-start mt-2" [formControl]="map">
                <strong>{{"tenants.feature.charging_station.feature_map_name" | translate}}</strong>
                <div>{{"tenants.feature.charging_station.feature_map_description" | translate}}</div>
              </mat-slide-toggle>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</form>
