.nav-tabs {
  button {
    color: white !important;
  }
  .mat-icon-button {
    // margin-top: 2px !important;
  }
  .mat-button[disabled][disabled] {
    color: darken(white, 25%) !important;
  }
}

.logo-mini {
  a {
    color: white !important;
    padding-right: 5px !important;
  }
}

.button-refresh {
  min-width: 45px !important;
  min-height: 36px !important;
}

.mat-button-focus-overlay {
  background-color:transparent !important;
 }