.nav-tabs {
  button {
    color: white !important;
  }
  .mat-icon-button {
    // margin-top: 2px !important;
  }
  .mat-button[disabled][disabled] {
    color: white !important;
  }
}

.logo-mini {
  a {
    color: white !important;
    padding-right: 5px !important;
  }
}

button {
  min-width: 45px !important;
  min-height: 35px !important;
  padding: 0 8px !important;
}
