.nav-tabs {
  button {
    color: white !important;
  }
  .mat-button[disabled][disabled] {
    color: darken(white, 25%) !important;
  }
}

.logo-mini {
  a {
    color: white !important;
    padding-right: 5px !important;
  }
}

.button-refresh {
  min-width: 50px !important;
  min-height: 40px !important;
  padding: 0px 10px !important;
}

.mat-button-focus-overlay {
  background-color:transparent !important;
 }

.button-details {
  padding: 0 !important;
  min-width: 15px !important;
}

.mat-icon {
  font-size: 1.4rem;
  &+span {
    display: inline-block;
    margin-left: 5px;
  }
}
