//https://www.google.com/design/spec/components/cards.html#cards-content-blocks
@use '@angular/material' as mat;
// Card resting elevation: 2dp

.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  color: $brand-text;
  background: mat.get-color-from-palette($app-background, dialog);
  width: 100%;
  font-size: 0.9rem;
  border-radius: 0;

  legend {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .card-category:not([class*='text-']) {
    color: $brand-text;
  }
  .card-category {
    margin-top: 10px;

    .material-icons {
      position: relative;
      top: 8px;
      line-height: 0;
    }
  }

  .card-title {
    padding-top: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    text-align: left;
  }

  // Cards have a default elevation of 2dp.
  @include box-shadow($bmd-shadow-4dp);
  @extend %std-font;

  &.no-shadow {
    .card-header-image,
    .card-header-image img {
      box-shadow: none !important;
    }
  }

  .card-body,
  .card-footer {
    padding: $padding-card-body-y $padding-card-body-x;
  }

  .card-body {
    & + .card-footer {
      border: 0;
    }
  }

  .card-footer {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;

    .author,
    .stats {
      display: inline-flex;
    }

    .stats {
      color: $brand-text;

      .material-icons {
        position: relative;
        top: -10px;
        margin-right: 3px;
        margin-left: 3px;
        font-size: 18px;
      }
    }
  }

  &.bmd-card-raised {
    // Card raised elevation: 8dp
    @include box-shadow($bmd-shadow-8dp);
  }

  @include media-breakpoint-up(lg) {
    // On desktop, cards can have a resting elevation of 0dp and gain an elevation of 8dp on hover.
    &.bmd-card-flat {
      box-shadow: none;
    }
  }

  .card-header {
    border-bottom: none;
    background: transparent;
    box-shadow: none;
    .title {
      color: $brand-text;
    }

    .nav-tabs {
      padding: 0;
    }

    &.card-header-image {
      position: relative;
      padding: 0;
      z-index: 1;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: -30px;
      border-radius: $border-radius-base;

      img {
        width: 100%;
        border-radius: $border-radius-large;
        pointer-events: none;
        @include shadow-big-image();
      }
      .card-title {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: $brand-text;
        font-size: $font-size-h4;
        text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
      }

      .colored-shadow {
        transform: scale(0.94);
        top: 12px;
        filter: blur(12px);
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: -1;
        transition: opacity 0.45s;
        opacity: 0;
      }

      &.no-shadow {
        box-shadow: none;

        &.shadow-normal {
          @include shadow-big();
        }

        .colored-shadow {
          display: none !important;
        }
      }
    }
  }

  .card-header-primary .card-icon,
  .card-header-primary .card-text,
  .card-header-primary:not(.card-header-icon):not(.card-header-text),
  &.bg-primary,
  &.card-rotate.bg-primary .front,
  &.card-rotate.bg-primary .back {
    background: $brand-primary;
  }
  .card-header-info .card-icon,
  .card-header-info .card-text,
  .card-header-info:not(.card-header-icon):not(.card-header-text),
  &.bg-info,
  &.card-rotate.bg-info .front,
  &.card-rotate.bg-info .back {
    background: $brand-info;
  }
  .card-header-success .card-icon,
  .card-header-success .card-text,
  .card-header-success:not(.card-header-icon):not(.card-header-text),
  &.bg-success,
  &.card-rotate.bg-success .front,
  &.card-rotate.bg-success .back {
    background: $brand-success;
  }
  .card-header-warning .card-icon,
  .card-header-warning .card-text,
  .card-header-warning:not(.card-header-icon):not(.card-header-text),
  &.bg-warning,
  &.card-rotate.bg-warning .front,
  &.card-rotate.bg-warning .back {
    background: $brand-warning;
  }
  .card-header-danger .card-icon,
  .card-header-danger .card-text,
  .card-header-danger:not(.card-header-icon):not(.card-header-text),
  &.bg-danger,
  &.card-rotate.bg-danger .front,
  &.card-rotate.bg-danger .back {
    background: $brand-danger;
  }

  .card-header-rose .card-icon,
  .card-header-rose .card-text,
  .card-header-rose:not(.card-header-icon):not(.card-header-text),
  &.bg-rose,
  &.card-rotate.bg-rose .front,
  &.card-rotate.bg-rose .back {
    background: $brand-info;
  }

  [class*='card-header-'],
  &[class*='bg-'] {
    color: $brand-text;

    .card-title a,
    .card-title,
    .icon i {
      color: $brand-background;
      font-weight: 500;
    }

    .icon i {
      border-color: rgba(255, 255, 255, 0.25);
    }
    .author a,
    .stats,
    .card-category,
    .card-description {
      color: $brand-text;
    }

    .author a {
      &:hover,
      &:focus,
      &:active {
        color: $brand-text;
      }
    }
  }

  .author {
    .avatar {
      width: 30px;
      height: 30px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 5px;
    }

    a {
      color: $brand-text;
      text-decoration: none;

      .ripple-container {
        display: none;
      }
    }
  }

  .card-category-social {
    .fa {
      font-size: 24px;
      position: relative;
      margin-top: -4px;
      top: 2px;
      margin-right: 5px;
    }

    .material-icons {
      position: relative;
      top: 5px;
    }
  }

  &[class*='bg-'],
  &[class*='bg-'] .card-body {
    border-radius: $border-radius-large;

    h1,
    h2,
    h3 {
      small {
        color: $brand-text;
      }
    }
  }

  .card-stats {
    background: rgba($brand-primary, 0.1);
    display: flex;

    .author,
    .stats {
      display: inline-flex;
    }
  }
}

.card-big {
  height: 100%;
  margin-top: initial;
  margin-bottom: initial;
}
