.info {
  max-width: 360px;
  margin: 0 auto;
  padding: 70px 0 30px;

  .icon {
    color: $brand-disabled;

    > i {
      font-size: 3.85rem;
    }
  }
  .info-title {
    color: #000;
    margin: 0.875rem * 2 0 0.875rem;
  }
  p {
    color: $brand-disabled;
  }
}

.info-horizontal {
  .icon {
    float: left;
    margin-top: 24px;
    margin-right: 10px;

    > i {
      font-size: $font-size-h2;
    }
  }
  .description {
    overflow: hidden;
  }

}

.card-icon {
  &.icon-primary {
    color: $brand-text;
  }
  &.icon-info {
    color: $brand-info;
  }
  &.icon-success {
    color: $brand-success;
  }
  &.icon-warning {
    color: $brand-warning;
  }
  &.icon-danger {
    color: $brand-danger;
  }
  &.icon-rose {
    color: $brand-info;
  }
  &.icon-white {
    color: $brand-text;
  }
}
