  <div class="main-content">
    <div class="card card-profile card-testimonial">
      <mat-tab-group animationDuration="0ms" disableRipple="true" class="mat-tab-info mat-tabs-with-actions">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>payment</mat-icon>
            <span>{{'settings.billing.payment_methods.create_title' | translate}}</span>
          </ng-template>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">
                <div class="d-flex align-items-start flex-column mb-3">
                  <mat-form-field class="col-md-12 col-lg-10 col-xl-8 form-group">
                    <div id="card-info" #cardInfo>
                      <!-- card element goes here -->
                    </div>
                    <div>
                      <input appAutofocus matInput type="text" hidden="true">
                    </div>
                  </mat-form-field>
                  <mat-form-field class="col-md-5 col-lg-4 col-xl-3 form-group" hidden="true">
                    <mat-datetimepicker #picker type="datetime" openOnFocus="false" mode="portrait" timeInterval="1">
                    </mat-datetimepicker>
                    <mat-datetimepicker-toggle [for]="picker" matSuffix></mat-datetimepicker-toggle>
                    <input matInput placeholder="{{'general.expired_on' | translate}}"
                      autocomplete="false">
                  </mat-form-field>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="tabs-actions">
        <button mat-button (click)="linkCardToAccount()">
          <mat-icon>save</mat-icon>
          <span>{{'general.save' | translate}}</span>
        </button>
        <button mat-icon-button *ngIf="inDialog" (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
  