.browser-not-supported-message-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.browser-not-supported-message {
  margin-top: 45vh;
  font-size: 2em;
  align-items: center;
  justify-content: center;
}
