<div *ngIf="transaction?.values?.length === 0" class="graph-no-consumption">
  {{'transactions.graph.no_consumption' | translate}}
</div>
<div [hidden]="transaction?.values?.length === 0">
  <div class="row mt-2">
    <div class="col-auto mr-auto">
      <mat-checkbox class="mx-auto" (change)="changeLoadAllConsumptions($event)">
        {{'transactions.graph.load_all_consumptions' | translate}}
      </mat-checkbox>
    </div>
    <div class="col-auto">
      <app-chart-unit-selector (unitButtonOfScopeGroup)="unitChanged($event)"></app-chart-unit-selector>
    </div>
  </div>
  <div class="chart-container mt-2">
    <div #primary class='chart-primary'></div>
    <div #accent class='chart-accent'></div>
    <div #danger class='chart-danger'></div>
    <div #success class='chart-success'></div>
    <div #warning class='chart-warning'></div>
    <canvas #chart></canvas>
  </div>
</div>
