<div *ngIf="transaction?.values?.length === 0" class="graph-no-consumption">
  {{'transactions.graph.no_consumption' | translate}}
</div>
<div [hidden]="transaction?.values?.length === 0">
  <div class="chart-container mt-2">
    <div #primary class='chart-primary'></div>
    <div #accent class='chart-accent'></div>
    <div #danger class='chart-danger'></div>
    <div #success class='chart-success'></div>
    <div #warning class='chart-warning'></div>
    <canvas #chart></canvas>
  </div>
</div>
