<div class="row ml-3">
  <div *ngFor="let palette of palettes" class="md-4 p-3">
    <div class="color color-{{palette}}">mat-color($app-{{palette}}) / $brand-{{palette}}</div>
    <br/>
    <div *ngFor="let paletteLevel of paletteLevels" class="color color-{{palette}}-{{paletteLevel}}">mat-color($app-{{palette}}, {{paletteLevel}})</div>
  </div>
  <div class="md-6 p-3">
    <div *ngFor="let backgroundProp of backgroundProps" class="color color-back color-background-{{backgroundProp}}">mat-color($app-background, {{backgroundProp}})</div>
  </div>
  <div class="md-6 p-3">
    <div *ngFor="let foregroundProp of foregroundProps" class="color color-fore color-foreground-{{foregroundProp}}">mat-color($app-foreground, {{foregroundProp}})</div>
  </div>
  <div class="md-6 p-3">
    <div *ngFor="let foregroundProp of foregroundProps" class="color color-fore color-foreground-{{foregroundProp}}">mat-color($app-foreground, {{foregroundProp}})</div>
  </div>
</div>
