@import "../../../assets/scss/core/variables";
$carousel-control-prev-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ef5350' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
$carousel-control-next-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ef5350' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");

.local-previous {
    background-image: $carousel-control-prev-icon-bg !important
}

.local-next {
    background-image: $carousel-control-next-icon-bg !important
}

.carousel-arrow {
    position: relative;
}

.gauge-card {
    min-width: 280px;
    .gauge-card-body {
        text-align: center !important;
//        padding: 0px;
    }
}

agm-map {
    height: 200px;
}

.next-flipping-card {
    position: absolute;
    top: 0px;
    left: 15px;
    opacity: 0;
    width: 100%;
    transform: rotateY(180deg);
    background: transparent;
    z-index: -1;
}

.card-nooverflow{
    overflow: hidden;
}



.flipping-card {
//    width: 100%;
//    position: absolute;
//    opacity: 1;
}