<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-profile card-testimonial">
          <div class="card-header card-header-tabs card-header-rose">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                  <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#profile" data-toggle="tab">
                      <i class="material-icons">portrait</i> {{name.value}} {{firstName.value}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#address" data-toggle="tab">
                      <i class="material-icons">location_on</i> {{'general.address' | translate}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#password" data-toggle="tab">
                      <i class="material-icons">lock</i> {{'authentication.password' | translate}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#miscs" data-toggle="tab">
                        <i class="material-icons">more_horiz</i> {{'users.miscs' | translate}}
                        <div class="ripple-container"></div>
                      </a>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">
                <form class="form" [formGroup]="formGroup" (ngSubmit)="saveUser(formGroup.value)">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <mat-form-field class="">
                          <input appSetAutoFocus matInput placeholder="{{'users.name' | translate}}" type="text" [formControl]="name" required>
                          <mat-error *ngIf="name.hasError('required')">{{"general.mandatory_field" | translate}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <mat-form-field class="">
                          <input matInput placeholder="{{'users.first_name' | translate}}" type="text" [formControl]="firstName" required>
                          <mat-error *ngIf="firstName.hasError('required')">{{"general.mandatory_field" | translate}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <button mat-raised-button type="submit" class="btn btn-rose pull-right">{{'users.save_profile' | translate}}</button>
                  <div class="clearfix"></div>
                </form>
              </div>
              <div class="tab-pane" id="address">
                Address
              </div>
              <div class="tab-pane" id="password">
                Password
              </div>
              <div class="tab-pane" id="miscs">
                Miscs
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-avatar">
              <div class="fileinput fileinput-exists card-avatar-change" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                  <img [src]="image" class="" alt="...">
                </div>
                <div style="display:none">
                  <input type="file" name="...">
                </div>
              </div>
            </div>
            <button href="javascript:void(0)" (click)="clearImage()" class="btn btn-danger btn-round fileinput-exists card-image-remove fa fa-times"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
