<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-text card-header-danger">
            <div class="card-text">
              <h4 class="card-title">{{"tenants.tenant_management" | translate}}</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="row col-md-12">
              {{"tenants.tenant_not_found" | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>