<div [class]="'card ' + (cardClass ? cardClass : 'card-stats')">
  <div [class]="'card-header card-header-icon ' + ( headerClass ? headerClass : 'card-header-primary')">
    <div class="card-icon">
      <mat-icon>{{cardIcon}}</mat-icon>
    </div>
    <h4 *ngIf="cardTitle" [class]="'card-title ' + titleClass">{{ cardTitle | translate }}</h4>
    <div [class]="'card-category btn-group ' + categoryClass">
      <button mat-raised-button *ngFor="let button of chartButtons" color="primary" (click)="nextChart(button.name)"
        [class.app-card-stats]="chartActiveButton.name === button.name"
        [disabled]="chartActiveButton.name === button.name || animationOngoing">
        {{button.title | translate}}
      </button>
    </div>
  </div>
  <div [class]="'card-body ' + bodyClass">
    <div class="col m-0 p-0" [@ChartFade]="changeFromFirstToSecond" (@ChartFade.done)="chartFadeOutComplete($event)">
      <div class="col m-0 p-0 first-chart" [class.is-hidden]="!firstChart.isDisplayed">
        <div class="chart-container">
          <div class="chart">
            <chart [type]="chartType" [data]="firstChart.chartData.data" [options]="firstChart.chartData.options">
            </chart>
          </div>
        </div>
      </div>
      <div class="col m-0 p-0 next-chart second-chart" [class.is-hidden]="!secondChart.isDisplayed">
        <div class="chart-container">
          <div class="chart">
            <chart [type]="chartType" [data]="secondChart.chartData.data" [options]="secondChart.chartData.options">
            </chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [class]="'card-footer ' + footerClass">
    <div class="stats">
      {{cardFooter | translate}}
    </div>
  </div>
</div>
