<div class="main-content vh-lg-40 vw-lg-40 vh-3xl-35 vw-3xl-20">
  <div class="card card-profile card-testimonial">
    <mat-tab-group animationDuration="0ms" disableRipple="true" class="mat-tab-info" [class]="dialogRef ? 'mat-tabs-with-actions' : 'mat-tabs-with-close-action'">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>portrait</mat-icon>
          <span>{{'tags.title' | translate}} - {{formGroup.controls['id'].value ? formGroup.controls['id'].value : formGroup.controls['visualID'].value}}</span>
        </ng-template>
        <div class="card-body mat-tab-dialog-body-content">
          <app-tag-main #siteMainComponent [formGroup]="formGroup" [tag]="tag" [readOnly]="readOnly" [metadata]="metadata"></app-tag-main>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div [class]="dialogRef ? 'tabs-actions' : 'tabs-actions-embedded'">
      <button mat-icon-button *ngIf="!readOnly" (click)="saveTag(formGroup.getRawValue())" title="{{'general.save' | translate}}"
          [disabled]="!formGroup.valid || !formGroup.dirty">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-icon-button *ngIf="dialogRef" (click)="close()" title="{{'general.close' | translate}}">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
