<div class="main-content vh-lg-40 vw-lg-40 vh-3xl-35 vw-3xl-20">
  <div class="card card-profile card-testimonial">
    <mat-tab-group animationDuration="0ms" disableRipple="true" class="mat-tab-info mat-tabs-with-actions">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>portrait</mat-icon>
          <span>{{'tags.title' | translate}} - {{formGroup.controls['id'].value}}</span>
        </ng-template>
        <div class="card-body mat-tab-dialog-body-content">
          <app-tag-main #siteMainComponent [formGroup]="formGroup" [tag]="tag" [readOnly]="readOnly" [metadata]="metadata"></app-tag-main>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>portrait</mat-icon>
          <span>{{'tags.limits' | translate}}</span>
        </ng-template>
        <div class="card-body mat-tab-dialog-body-content">
          <app-tag-limit #siteMainComponent [formGroup]="formGroup" [tag]="tag" [readOnly]="readOnly" [metadata]="metadata"></app-tag-limit>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="tabs-actions">
      <button mat-button (click)="saveTag(formGroup.getRawValue())" [disabled]="!formGroup.valid || !formGroup.dirty">
        <mat-icon>save</mat-icon>
        <span>{{'general.save' | translate}}</span>
      </button>
      <button mat-icon-button *ngIf="dialogRef" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
