<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="formGroup" class="form">
          <div class="card card-profile card-testimonial">
            <div class="card-header card-header-tabs card-header-primary">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#profile">
                        <mat-icon>account_balance</mat-icon><span>{{name.value}}</span>
                        <div class="ripple-container"></div>
                      </a>
                    </li>
                    <li *ngIf="id.value" class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#components">
                        <mat-icon>settings_input_component</mat-icon><span>{{'general.menu.components' | translate}}</span>
                        <div class="ripple-container"></div>
                      </a>
                    </li>
                    <span class="toolbar-spacer"></span>
                    <button mat-button (click)="save(formGroup.value)"
                      [disabled]="!formGroup.valid || !formGroup.dirty">
                      <mat-icon>save</mat-icon><span>{{'general.save' | translate}}</span>
                    </button>
                    <button mat-icon-button mat-dialog-close>
                      <mat-icon>close</mat-icon>
                    </button>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body tenant-dialog-body">
              <div class="tab-content">
                <div class="tab-pane active" id="profile">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <mat-form-field>
                          <input [formControl]="name" appSetAutoFocus matInput
                            placeholder="{{'tenants.name' | translate}}" required type="text">
                          <mat-error *ngIf="name.errors?.required">{{"general.mandatory_field" | translate}}</mat-error>
                          <mat-error *ngIf="name.errors?.maxlength">
                            <div [translateParams]="{length: 100}" [translate]="'general.error_max_length'"></div>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <mat-form-field>
                          <input [formControl]="email" matInput placeholder="{{'tenants.email' | translate}}" required type="text">
                          <mat-error *ngIf="email.errors?.required">{{"general.mandatory_field" | translate}}</mat-error>
                          <mat-error *ngIf="email.errors?.email">{{"authentication.invalid_email" | translate}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <mat-form-field>
                          <input [formControl]="subdomain" matInput placeholder="{{'tenants.subdomain' | translate}}" required type="text">
                          <mat-error *ngIf="subdomain.errors?.required">{{"general.mandatory_field" | translate}}</mat-error>
                          <mat-error *ngIf="subdomain.errors?.maxlength">
                            <div [translateParams]="{length: 20}" [translate]="'general.error_max_length'"></div>
                          </mat-error>
                          <mat-error *ngIf="subdomain.errors?.pattern">{{"tenants.error_subdomain" | translate}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="tab-pane" id="components">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="d-flex flex-column mx-3">
                        <div class="d-flex align-items-center component-item">
                          <div class="d-flex flex-column mr-auto justify-content-around align-items-start w-100">
                            <div><strong><b>{{"ocpi.title" | translate}}</b></strong></div>
                            <div>{{"ocpi.description" | translate}}</div>
                          </div>
                          <mat-form-field *ngIf="components.controls.ocpi.controls.active.value" class="flex-shrink-1 mx-5">
                            <mat-select [formControl]="components.controls.ocpi.controls.type"
                                [placeholder]="'ocpi.type_placeholder' | translate"
                                [required]="components.controls.ocpi.controls.active.value">
                              <mat-option *ngFor="let ocpiType of ocpiTypes" [value]="ocpiType.key">
                                {{ocpiType.description | translate}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="components.controls.ocpi.controls.active.errors?.required">
                              {{"general.mandatory_field" | translate}}</mat-error>
                          </mat-form-field>
                          <mat-slide-toggle [formControl]="components.controls.ocpi.controls.active"></mat-slide-toggle>
                        </div>
                        <div class="d-flex align-items-center component-item">
                          <div class="d-flex flex-column mr-auto justify-content-around align-items-start w-100">
                            <div><strong><b>{{"refund.title" | translate}}</b></strong></div>
                            <div>{{"refund.description" | translate}}</div>
                          </div>
                          <mat-form-field *ngIf="components.controls.refund.controls.active.value" class="flex-shrink-1 mx-5">
                            <mat-select [formControl]="components.controls.refund.controls.type"
                                [placeholder]="'refund.type_placeholder' | translate"
                                [required]="components.controls.refund.controls.active.value">
                              <mat-option *ngFor="let refundType of refundTypes" [value]="refundType.key">
                                {{refundType.description | translate}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="components.controls.refund.controls.active.errors?.required">
                              {{"general.mandatory_field" | translate}}</mat-error>
                          </mat-form-field>
                          <mat-slide-toggle [formControl]="components.controls.refund.controls.active"></mat-slide-toggle>
                        </div>
                        <div class="d-flex align-items-center component-item">
                          <div class="d-flex flex-column mr-auto justify-content-around align-items-start w-100">
                            <div><strong><b>{{"pricing.title" | translate}}</b></strong></div>
                            <div>{{"pricing.description" | translate}}</div>
                          </div>
                          <mat-form-field *ngIf="components.controls.pricing.controls.active.value" class="flex-shrink-1 mx-5">
                            <mat-select [formControl]="components.controls.pricing.controls.type"
                                [placeholder]="'pricing.type_placeholder' | translate"
                                [required]="components.controls.pricing.controls.active.value">
                              <mat-option *ngFor="let pricingType of pricingTypes" [value]="pricingType.key">
                                {{pricingType.description | translate}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="components.controls.pricing.controls.active.errors?.required">
                              {{"general.mandatory_field" | translate}}</mat-error>
                          </mat-form-field>
                          <mat-slide-toggle [formControl]="components.controls.pricing.controls.active"></mat-slide-toggle>
                        </div>
                        <div class="d-flex align-items-center component-item">
                          <div class="d-flex flex-column mr-auto justify-content-around align-items-start">
                            <div><strong><b>{{"organization.title" | translate}}</b></strong></div>
                            <div>{{"organization.description" | translate}}</div>
                          </div>
                          <mat-slide-toggle [formControl]="components.controls.organization.controls.active">
                          </mat-slide-toggle>
                        </div>
                        <div class="d-flex align-items-center component-item">
                          <div class="d-flex flex-column mr-auto justify-content-around align-items-start w-100">
                            <div><strong><b>{{"analytics.title" | translate}}</b></strong></div>
                            <div>{{"analytics.description" | translate}}</div>
                          </div>
                          <mat-form-field *ngIf="components.controls.analytics.controls.active.value" class="flex-shrink-1 mx-5">
                            <mat-select [formControl]="components.controls.analytics.controls.type"
                                [placeholder]="'analytics.type_placeholder' | translate"
                                [required]="components.controls.analytics.controls.active.value">
                              <mat-option *ngFor="let analyticsType of analyticsTypes" [value]="analyticsType.key">
                                {{analyticsType.description | translate}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="components.controls.analytics.controls.active.errors?.required">
                              {{"general.mandatory_field" | translate}}</mat-error>
                          </mat-form-field>
                          <mat-slide-toggle [formControl]="components.controls.analytics.controls.active"></mat-slide-toggle>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>