<form class="form" [formGroup]="formGroup">
  <div class="row">
    <div class="col-md-5">
      <div
        class="rotating-card-container"
        [ngStyle]="{ 'pointer-events': readOnly ? 'none' : 'all' }"
      >
        <div class="card card-rotate card-background mt-0">
          <div
            class="front front-background"
            [ngStyle]="{
              'background-image': 'url(' + image + ')',
              'background-size': 'contain',
              'background-repeat': 'no-repeat'
            }"
          >
            <div class="card-body"></div>
          </div>
          <div
            class="back back-background"
            [ngStyle]="{
              'background-image': 'url(' + image + ')',
              'background-size': 'contain',
              'background-repeat': 'no-repeat'
            }"
          >
            <div *ngIf="!readOnly" class="card-body">
              <div class="footer text-center">
                <button mat-flat-button color="primary" class="me-2">
                  <mat-icon (click)="file.click()">mode_edit</mat-icon>
                  <div class="d-none">
                    <input
                      #file
                      type="file"
                      name="..."
                      (change)="onImageChanged($event)"
                      accept="image/jpg,image/jpeg,image/png,image/gif"
                    />
                  </div>
                </button>
                <button mat-flat-button color="warn">
                  <mat-icon (click)="clearImage()">delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <mat-form-field>
          <input
            appAutofocus
            matInput
            placeholder="{{ 'sites.name' | translate }}"
            type="text"
            [formControl]="name"
            required
          />
          <mat-error *ngIf="name.errors?.required">
            {{ 'general.mandatory_field' | translate }}
          </mat-error>
          <mat-error *ngIf="name.errors?.maxlength">
            <div
              [translateParams]="{ length: name.errors?.maxlength?.requiredLength }"
              [translate]="'general.error_max_length'"
            ></div>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field *ngIf="formGroup.enabled">
          <input
            matInput
            type="text"
            readonly="true"
            placeholder="{{ 'companies.company' | translate }}"
            class="form-field-popup"
            (click)="assignCompany()"
            [formControl]="company"
            required
          />
          <button mat-button matSuffix mat-icon-button aria-label="Add" (click)="assignCompany()">
            <mat-icon>create</mat-icon>
          </button>
          <mat-error *ngIf="company.errors?.required">
            {{ 'general.mandatory_field' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="!formGroup.enabled">
          <input
            matInput
            type="text"
            placeholder="{{ 'companies.company' | translate }}"
            [formControl]="company"
            required
          />
        </mat-form-field>
      </div>
      <div *ngIf="issuer?.value" class="form-group">
        <div class="text-left">
          <mat-checkbox [formControl]="autoUserSiteAssignment">
            {{ 'sites.auto_user_site_assignment' | translate }}
          </mat-checkbox>
        </div>
      </div>
      <div *ngIf="issuer?.value" class="form-group">
        <div class="text-left">
          <mat-checkbox [formControl]="public" (change)="changePublic()">
            {{ 'sites.public' | translate }}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-address
        [address]="address"
        [formGroup]="formGroup"
        componentName="{{ 'sites.site' | translate }}"
        [itemComponentName]="name.value"
        [onlyReadGeolocation]="readOnly"
        [mandatory]="true"
      ></app-address>
    </div>
  </div>
</form>
