<div class="d-flex justify-content-center">
  <div class="d-flex mx-0 px-0 align-items-center detail-connector">
    <div
      appTooltip
      data-offset="0px, 8px"
      [title]="row | appReservationsFormatConnector : 'text' | translate"
      class="charger-connector-container"
    >
      <div [class]="row | appReservationsFormatConnector : 'class'">
        {{ row.connectorId | appConnectorId }}
      </div>
    </div>
    <!-- row Type -->
    <div
      class="d-inline-block"
      appTooltip
      data-offset="-15px, 8px"
      [title]="row.type | appConnectorType : 'text' | translate"
    >
      <div
        *ngIf="row.type && row.type !== null"
        class="charger-connector-container charger-connector-container-image d-flex align-items-center justify-content-center charger-connector-container-image-small charger-connector-type-background"
      >
        <mat-icon [svgIcon]="row.type | appConnectorType : 'icon'" class="d-flex"></mat-icon>
      </div>
    </div>
  </div>
</div>
