<div *ngIf="!isActive" class="card">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <mat-icon>info</mat-icon>
    </div>
    <h3 class="card-title">{{ 'settings.information' | translate }}</h3>
  </div>
  <div class="card-body">
    <span [innerHtml]="'settings.refund.description' | translate"></span>
    <a href="https://www.concur.com/" target="_blank"><u>SAP Concur</u></a
    ><br /><br />
    {{ 'settings.activation_contact_msg' | translate }}
  </div>
</div>
<form *ngIf="isActive" class="form" [formGroup]="formGroup">
  <div class="mat-toolbar-row left-actions">
    <button
      mat-raised-button
      color="warn"
      (click)="save(formGroup.value)"
      [hidden]="!authorizations || !authorizations.canUpdate"
      [disabled]="!formGroup.valid || !formGroup.dirty"
    >
      <mat-icon>save</mat-icon>
      <span>{{ 'general.save' | translate }}</span>
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="synchronize()"
      [hidden]="!authorizations || !authorizations.canSyncRefund"
      [disabled]="!formGroup.valid || formGroup.dirty"
    >
      <mat-icon>sync</mat-icon>
      <span>{{ 'general.synchronize' | translate }}</span>
    </button>
  </div>
  <!-- Concur -->
  <app-settings-concur
    *ngIf="refundSettings?.concur"
    [refundSettings]="refundSettings"
    [formGroup]="formGroup"
    [authorizations]="authorizations"
  >
  </app-settings-concur>
</form>
