<div class="main-content">
  <div class="card card-profile card-testimonial">
    <mat-tab-group animationDuration="0ms" disableRipple="true" class="mat-tab-info">
      <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>battery_charging_full</mat-icon>
            <span>{{charger.id}}</span>
        </ng-template>
        <div class="card-body" style="margin-top: 15px">
          <div *ngIf="charger.maximumPower" class="row">
            <div class="col-md-6">
              <app-charging-station-smart-charging-limit-planning #limitPlanning [charger]="charger"
                                                                  (limitChangeEventEmitter)="limitChange($event)"></app-charging-station-smart-charging-limit-planning>
            </div>
            <div class="col-md-6">
              <app-charging-station-smart-charging-master-limit #masterLimit [charger]="charger"
                                                                (applyPlanningEventEmitter)="planningChanged($event)"></app-charging-station-smart-charging-master-limit>
            </div>
            <div class="col-md-12">
              <app-charging-station-smart-charging-limit-planner #limitPlanner [charger]="charger"
                                                                 (applyPlanningEventEmitter)="planningChanged($event)"></app-charging-station-smart-charging-limit-planner>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <!-- [disabled]="limitPlanning && limitPlanning.internalFormatCurrentLimit == 0"
            Alway enable clear profiles for test purposes-->
          <button mat-button (click)="clearProfiles()">
            <mat-icon>delete_sweep</mat-icon>
            <span>{{'chargers.smart_charging.clear_profiles_button' | translate}}</span>
          </button>
          <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
