<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-profile card-testimonial">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#smartCharging" data-toggle="tab)">
                      <mat-icon class="mr-1">battery_charging_full</mat-icon> {{charger.id}}
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <span class="toolbar-spacer"></span>
                  <button mat-button (click)="clearProfiles()"
                    [disabled]="limitPlanning && limitPlanning.internalFormatCurrentLimit == 0">
                    <mat-icon class="mr-1">delete_sweep</mat-icon>{{'chargers.smart_charging.clear_profiles_button' | translate}}
                  </button>
                  <button mat-icon-button mat-dialog-close>
                    <mat-icon>close</mat-icon>
                  </button>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="smartCharging">
                <mat-dialog-content>
                  <div *ngIf="charger.maximumPower" class="row">
                    <div class="col-md-6">
                      <app-smart-charging-limit-planning #limitPlanning [charger]="charger"
                        (onLimitChange)="limitChange($event)"></app-smart-charging-limit-planning>
                    </div>
                    <div class="col-md-6">
                      <app-smart-charging-master-limit #masterLimit [charger]="charger"
                        (onApplyPlanning)="planningChanged($event)"></app-smart-charging-master-limit>
                    </div>
                    <div class="col-md-12">
                      <app-smart-charging-limit-planner #limitPlanner [charger]="charger"
                        (onApplyPlanning)="planningChanged($event)"></app-smart-charging-limit-planner>
                    </div>
                  </div>
                </mat-dialog-content>
              </div>
            </div>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>